@value colors: 'src/common-ui/colors.css';
@value color6, color11, color9 from colors;

.dateRangeSelection {
    display: flex;
    align-items: center;
    background-image: url('/img/calendar-icon.png');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 27px;
    background-color: transparent;
    padding-left: 50px;
    padding-right: 40px;
    width: 45%;
    text-align: center;

    @media (max-width: 600px) {
        display: none;
    }
}

.datePicker {
    composes: darkBlue from 'src/common-ui/colors.css';
    width: 130px;
    height: 30px;
    font-size: 15px;
    border: none;
    margin: 0 10px;
    background-color: transparent;
    padding-top: 1px;
    padding-right: 20px;
    font-weight: 400;

    &::placeholder {
        color: color6;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

.toIcon {
    width: 5px;
    height: 8px;
    margin-top: 1px;
}

.dateRangeDiv {
    display: flex;
    background: white;
    align-items: flex-start;
}

.pickerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px 0px;
}

.datePickerDiv {
    margin-top: 20px;
}

.clearFilters {
    composes: removeIcon from 'src/common-ui/icons.css';
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    background-image: url('/img/removeIcon.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    outline: none;
    border: none;
}

.dateTitle {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.dateTitleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timeInput {
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    outline: none;
    background: color11;
    border: none;
    height: 25px;
    padding: 6px;
    font-size: 14px;
}

.datepickerInput {
    display: flex;
    align-items: center;
}

.borderRight {
    border-right: 1px solid color9;
}
