.blacklistButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #666;

    &:hover {
        color: #333;
    }

    &:disabled {
        color: #ebebeb;
        cursor: default;
    }
}

.subTitle {
    composes: subTitle from 'src/options/base.css';
}

.subText {
    margin-top: 5px;
    composes: subText from 'src/options/base.css';
}

.blacklistAlert {
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 74, 85);
    margin: 10px 0px 10px 0;
}
