.blacklistButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #666;

    &:hover {
        color: #333;
    }

    &:disabled {
        color: #ebebeb;
        cursor: default;
    }
}

.ignoreDomainText,
.blacklistText {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato';
    color: #666;
    margin: 20px 0 10px 0;
}

.blacklistAlert {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lato';
    color: rgb(255, 74, 85);
    margin: 10px 0px 10px 0;
}
