.blacklistButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #666;

    &:hover {
        color: #333;
    }

    &:disabled {
        color: #ebebeb;
        cursor: default;
    }
}

.ignoreDomainText,
.blacklistText {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato';
    color: #4c4a4b;
    margin: 20px 0 10px 0;
}
