.cell {
    padding: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.newSiteInputRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    height: 45px;
}

.input {
    composes: searchField from 'src/common-ui/elements.css';
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 20px;
    margin-left: 0px;
}

.inputButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blacklistButton {
    composes: CTA from 'src/common-ui/elements.css';
    border: none;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    width: max-content;
    padding: 5px 40px;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
