.tableContainer {
    overflow-y: scroll;
    clear: both;
}

.table {
    border-collapse: collapse;
    background: white;
    width: 100%;
    font-size: 14px;

    & th,
    & td {
        border-collapse: collapse;
        color: #777;
        padding: 15px 20px;
    }

    & th {
        background: #333;
        color: white;
        font-weight: 200;
        font-size: 0.7em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    & tr td {
        text-align: left;
        height: 60px;

        &:first-child {
            text-align: left;
        }
    }

    & tr {
        border-bottom: 1px solid #3eb9954f;

        &:last-child {
            border-bottom: none;
        }
    }
}

.domainCell {
    width: 80%;
}

.toolbar {
    float: right;
    margin-bottom: 5px;
    clear: both;
}

.addButton {
    background: #eee;
    color: #666;
    font-size: 0.8em;
    font-weight: lighter;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;

    &:hover {
        background: #cdcdcd;
        color: #333;
    }
}
