.cell {
    padding: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.newSiteInputRow {
    display: flex;
    flex-direction: row;
}

.input {
    width: 100%;
    padding: 10px 10px;
    font-size: 0.8em;
    font-style: italic;
    border: none;
    outline: none;
    background: #f8f8f8;
    font-family: 'Lato';
}

.inputButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #f8f8f8;
}

.blacklistButton {
    background: transparent;
    border: none;
    font-family: 'Lato';
    font-size: 12px;
    outline: none;
    cursor: pointer;
    color: white;
    width: 100%;
    min-width: 150px;
    background-color: #3eb994;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover {
        color: #333;
    }

    &:disabled {
        color: #ebebeb;
        cursor: default;
    }
}
