.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expression {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 35rem;
}

.actions {
    float: right;
    position: relative;
    right: -20px;

    & a {
        color: #666;
        text-decoration: none;

        &:hover {
            color: #333;
        }
    }
}

.date {
    font-size: 0.75em;
}

.icon {
    font-size: 1.5em;
    cursor: pointer;
    color: #3eb995;
    padding-right: 15px;
}
