html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#rootContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#bar {
    width: 100%;
    font-size: large;
    z-index: 1;
    background-color: #f8f8f8;
    border-bottom: 1px solid #999;
    overflow: visible;
    display: flex;
    align-items: center;
}

#bar #description {
    flex-grow: 1;
    text-align: center;
}

#bar .button {
    margin: 2px;
}

#page {
    width: 100%;
    flex-grow: 1;
}

iframe[seamless] {
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
