/* stylelint-disable  declaration-no-important, selector-pseudo-class-no-unknown */

:global .ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}

:global .ProseMirrorContainer {
    min-height: 50px;
    resize: vertical;
    border-top: 1px solid #f0f0f0;

    & > div {
        background-color: white;
        border: none;
        border-radius: 3px;
    }
}

:global .ProseMirror {
    outline: none;
    padding: 15px 15px;
    width: fill-available;
    background-color: #f0f0f07a;
    border-radius: 3px;
    border: 1px solid #e0e0e0;

    &:focus {
        border-radius: 3px;
    }

    & * {
        width: fill-available;
    }

    & ul {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    & p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        line-height: 20px;

        & img {
            max-width: fill-available;
            height: auto;
        }
    }

    & h1 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
        line-height: 22px;
        font-size: 18px;
    }

    & img {
        max-width: fill-available;
        height: auto;
    }

    & h2 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
        line-height: 22px;
        font-size: 16px;
    }

    & h3 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
        line-height: 22px;
        font-size: 14px;
    }

    & h4 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
    }

    & h5 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
    }

    & blockquote {
        border-left: #5cd9a6 3px solid;
        margin-inline-start: 10px;
        padding-left: 10px;
    }

    & code {
        padding: 2px 3px 1px;
        border: 1px solid #1d1c1d21;
        border-radius: 3px;
        background-color: #1d1c1d0a;
        color: #e01e5a;
        font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace !important;
    }

    & pre {
        width: fill-available;
        border: 1px solid #1d1c1d21;
        border-radius: 3px;
        background-color: #1d1c1d0a;
        padding: 10px;
        font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace !important;

        & code {
            width: 100%;
            padding: unset;
            border: none;
            border-radius: unset;
            background-color: unset;
            color: inherit;
        }
    }

    & > *:first-child {
        margin-block-start: 0em;
    }

    & > *:last-child {
        margin-block-end: 0em;
    }
}

:global .bubble-menu {
    display: flex;
    background-color: #2a2a2a;
    padding: 0.2rem;
    border-radius: 0.5rem;
    font-family: sans-serif;
    cursor: pointer;

    & > * {
        all: initial;
        line-height: 20px;
    }

    & button {
        border: none;
        background: #2a2a2a;
        color: #fff;
        font-size: 0.85rem;
        font-family: sans-serif;
        font-weight: 500;
        padding: 1px 0.2rem 0 0.2rem;
        cursor: pointer;

        &:hover,
        &.is-active {
            opacity: 1;
            color: #d0d0d0;
            text-decoration: solid 1px underline;
        }
    }
}

:global .floating-menu {
    display: flex;
    padding: 0.2rem;
    border-radius: 0.5rem;
    font-family: sans-serif;

    & > * {
        all: initial;
        line-height: 20px;
    }

    & button {
        border: none;
        background: none;
        font-size: 14px;
        color: #a0a0a0;
        font-weight: 500;
        padding: 0 0.2rem;
        font-family: sans-serif;

        &:hover,
        &.is-active {
            opacity: 1;
        }

        &:focus {
            text-decoration: underline 1px solid #a0a0a0;
        }

        &.is-active {
            color: #545454;
        }
    }

    & .NoNotePlaceholder {
        font-size: 14px;
        color: #818181;
        margin-right: 10px;
        margin-left: -5px;
    }
}
