:global .ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}

:global .ProseMirrorContainer {
    min-height: 50px;
    resize: vertical;
    border-top: 1px solid #f0f0f0;

    &:first-child {
        border-top: none;
    }

    & > div {
        background-color: white;
        border: none;
        border-radius: 3px;
    }
}

:global .ProseMirror {
    outline: none;
    padding: 15px 15px;
    width: fill-available;
    background-color: #f0f0f07a;
    border-radius: 3px;
    border: 1px solid #e0e0e0;

    &:focus {
        border-radius: 3px;
    }

    & * {
        width: fill-available;
    }

    & ul {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    & p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        line-height: 20px;
    }

    & h1 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
        line-height: 22px;
        font-size: 18px;
    }

    & h2 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
        line-height: 22px;
        font-size: 16px;
    }

    & h3 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
        line-height: 22px;
        font-size: 14px;
    }

    & h4 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
    }

    & h5 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
    }

    & blockquote {
        border-left: #5cd9a6 3px solid;
        margin-inline-start: 10px;
        padding-left: 10px;
    }

    & code {
        padding: 2px 3px 1px;
        border: 1px solid #1d1c1d21;
        border-radius: 3px;
        background-color: #1d1c1d0a;
        color: #e01e5a;
        font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace !important;
    }

    & pre {
        width: fill-available;
        border: 1px solid #1d1c1d21;
        border-radius: 3px;
        background-color: #1d1c1d0a;
        padding: 10px;
        font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace !important;

        & code {
            width: 100%;
            padding: unset;
            border: none;
            border-radius: unset;
            background-color: unset;
            color: inherit;
        }
    }

    & > *:first-child {
        margin-block-start: 0em;
    }

    & > *:last-child {
        margin-block-end: 0em;
    }

    /* & p:first-child {
        margin-block-start: 0em;
    }

    & h1:first-child {
        margin-block-start: 0em;
    }

    & h2:first-child {
        margin-block-start: 0em;
    }

    & h3:first-child {
        margin-block-start: 0em;
    }

    & h4:first-child {
        margin-block-start: 0em;
    }

    & h5:first-child {
        margin-block-start: 0em;
    }

    & blockquote:first-child {
        margin-block-start: 0em;
    }

    & image:first-child {
        margin-block-start: 0em;
    }

    & pre:first-child {
        margin-block-start: 0em;
    }

    & p:last-child {
        margin-block-end: 0em;
    }

    & h1:last-child {
        margin-block-end: 0em;
    }

    & h2:last-child {
        margin-block-end: 0em;
    }

    & h3:last-child {
        margin-block-end: 0em;
    }

    & h4:last-child {
        margin-block-end: 0em;
    }

    & h5:last-child {
        margin-block-end: 0em;
    }

    & blockquote:last-child {
        margin-block-end: 0em;
    }

    & image:last-child {
        margin-block-end: 0em;
    }

    & pre:last-child {
        margin-block-end: 0em;
    } */
}
