
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('fonts/Lato.woff2'), url(https://fonts.googleapis.com/css?family=Lato) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('fonts/Lato.woff2'), url(https://fonts.googleapis.com/css?family=Lato) format('woff2');
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 8px;
    text-align: left;
    width:320px;
}

div {
    background-color:#fff;
    margin: -8px;

}

form {
  display: flex;
  padding: 8px;
  margin-bottom: 0px;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);

}

input {
  font-family: "Lato", sans-serif;
  color: #3b3b3b;
  font-style: italic;
}

#search {
  align-items: right;
  width: 90%;
  font-size: 16px;
}

i {
  padding: 8px;
  margin-top: px;
  display: flex;
  align-items: center;
}

form i {
  color: #3b3b3b;
}

a {
    font-family: 'Lato', sans-serif;
    color: #3b3b3b;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    display: flex;
    align-items: center;
/*    margin: -8px;
*/}

a:hover {
    color:#3EB995;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}

hr {
    border: 0;
    height: 0;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
