@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('fonts/Lato.woff2'), url(https://fonts.googleapis.com/css?family=Lato) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('fonts/Lato.woff2'), url(https://fonts.googleapis.com/css?family=Lato) format('woff2');
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width:220px;
}

div {
    background-color:#fff;

}

form {
  display: inline-block;
  padding: 8px;
  font-size: 16px;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);

}

input {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #3b3b3b;
  text-transform: uppercase;

}

#search {
  width: 75%;
  font-size: 16px;
}


i {
  font-size: 26px;
  padding: 8px;
  vertical-align: middle;
}

form i {
  color: #3EB995;
  vertical-align: middle;
}


a {
    font-family: 'Lato', sans-serif;
    color: #3EB995;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    display: block !important;
}

a:hover {
    color:#3b3b3b;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}
