.reCalc {
    composes: reload from 'src/common-ui/icons.css';
    width: 24px;
    height: 24px;
    background-size: 16px;
    background-position: center center;
    display: flex;
}

.finishBntContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
