.container {
    margin: 15px;
}

.warning {
    font-style: italic;
    font-size: 0.85em;
    margin: 15px 0 0;
    color: #ff5722;
}

.advModeToggle {
    font-size: 0.85em;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    color: #787677;
}

.advFunctionality {
    min-height: 300px;
}

.settingsList {
    padding: 0;
}

.settingsListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;

    &:first-child {
        margin-top: 1em;
    }

    &:last-child {
        margin-bottom: 1em;
    }
}

input[type='checkbox'] {
    position: absolute;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    & + label::before {
        content: '';
        margin-right: 10px;
        margin-top: 3px;
        display: inline-block;
        vertical-align: text-top;
        width: 12px;
        height: 12px;
        outline: 2px solid #3eb995;
        box-shadow: 0 0 0 2pt #3eb995;
        border-radius: 1px;
    }

    &:focus + label::before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked + label::before {
        background: #3eb995;
    }

    &:checked + label::after {
        content: '';
        position: absolute;
        left: 1px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
            4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }

    &:disabled + label {
        color: #3eb995;
        cursor: auto;
    }

    &:disabled + label::before {
        box-shadow: none;
        box-shadow: 0 0 0 2pt #3eb995;
        border-radius: 1px;
    }
}
