@value colors: '../../../common-ui/colors.css';
@value color1, color4, color12 from colors;

.container {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: flex-end;
    margin-bottom: -30px;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.actionBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.actionButton {
    background-color: color1;
    color: color4;
    border: none;
    border-radius: 3px;
    padding: 12px 24px;

    &.hidden {
        display: none;
    }
}

.helpText {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
    font-weight: 400;
    text-align: right;
    color: #8d857f;
    font-size: 0.8em;
}

.cancel {
    composes: cancelNaked from '../../../common-ui/elements.css';
    padding: 3px 8px 3px 8px;
    background-color: transparent;
    color: color12;
    border: none;
}

.pause,
.resume {
    composes: CTA from '../../../common-ui/elements.css';
    margin-left: 20px;
}

.recalc {
    composes: nakedSquareButton from '../../../common-ui/elements.css';
    color: color4;
    margin: 0 10px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startImport {
    composes: CTA from '../../../common-ui/elements.css';
    cursor: pointer;
    outline: 0;
    border: none;
    transition: all 0.1s ease-in;

    &[disabled] {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.newImport {
    composes: CTA from '../../../common-ui/elements.css';
    border: none;
    outline: none;
    margin-top: 20px;
}
