.detailsContainer {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
    margin-top: 10px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.filterOption {
    border-left: 1px solid #000;
    padding-left: 10px;
    font-weight: 500;
    font-size: 0.7em;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:first-child {
        border-left: none;
        padding-left: 0;
    }
}

.detailsTable {
    background: #fff;
    width: 100%;
    font-size: 0.75em;
    border-collapse: collapse;

    & th,
    & td {
        text-align: left;
        padding: 5px;
        height: 27px;
        text-overflow: ellipsis;
        overflow: hidden;

        &:first-child {
            padding-left: 15px;
        }
    }

    & th {
        font-weight: 400;
    }
}

.detailsTableBody {
    display: block;
    height: auto;
    max-height: 210px;
    overflow: auto;
}

.detailsTableHead {
    color: #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    width: calc(100% - 1em);
}

.detailsTableHead,
.detailsTableBody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

.detailsTableRow {
    &:hover {
        background: #d7ebff;
    }

    &.active {
        background: #b5d9ff;
    }

    &:nth-child(odd) {
        background-color: #fff;
    }

    &:nth-child(even) {
        background-color: #f6f6f6;
    }
}

.urlCol {
    width: 60%;
}

.errorsCol {
    width: 25%;
}

.link,
.errorsCol {
    text-decoration: none;
    color: #939192;
}

.header {
    color: #c8c8c8;
    font-size: 12px;
}

.showDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.showDetailsLink {
    font-size: 12px;
    color: #3eb995;

    &:hover {
        cursor: pointer;
    }
}
