.importTable {
    width: 100%;
    padding: 0 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;

    & th,
    & td {
        padding: 15px;
    }

    & td {
        color: #666;
        min-width: 160px;
    }

    & td.importTableCellSepar {
        padding-bottom: 60px;
    }

    & td:first-child {
        text-align: initial;
    }
}

.importTableHead {
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #d2d2d2;
    line-height: 1.2;
}

.importTableRow {
    font-size: 14px;
    height: 100px;

    &:nth-child(even) {
        background-color: #f6f6f6;
    }

    &:nth-child(odd) {
        background-color: #fff;
    }
}

.importTableHelp {
    font-weight: 400;
}

.actionTableRow {
    font-weight: 400;
}

.importTableRowSepar {
    border-bottom-width: 4px;
}

.importTableCol {
    width: calc(100% / 4);
}

.importTableContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
}

.mainContainer {
    position: relative;
}

.loadingBlocker {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 830px;
    background: #fff;
    opacity: 0.8;
}

.loadingMsg {
    font-weight: bold;
}

.title {
    color: #3eb995;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.stepNumber {
    font-size: 18px;
    color: #3eb995;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.stepText {
    font-size: 14px;
    color: #4d4b4c;
}

.warning {
    display: flex;
    margin: 1em 0;
    flex-direction: row;
    color: #d5969e;
}

.warningText {
    left: 5px;
    position: relative;
    margin: 0;
}

.warningCode {
    font-size: 0.8em;
}

.icon {
    width: auto;
    height: 14px;
}

.stepImportText {
    font-size: 15px;
    max-width: 800px;
}

.checkboxText {
    font-weight: bold;
}

.checkboxSubText {
    margin-left: 24px;
}

.quoteBlock {
    padding: 20px;
    background-color: #f6f6f6;
    text-align: center;
    font-family: 'Open Sans';
    color: #6d6d6d;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 0.7em;
    margin-top: 40px;
}

.quoteLine {
    font-weight: bold;
}

.heading {
    color: #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    font-size: 16px;
    width: 250px;
    line-height: 2;
}

.reportDetails {
    font-size: 14px;
    color: #4d4b4c;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 0.7;
}

.progressBarText {
    font-size: 0.8em;
    color: #3eb995;
    text-align: right;
}

.arrowUp {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #3eb995;
}

.disabled {
    opacity: 0.4;
}

.disabledComingSoon {
    color: #3eb995 !important; /* stylelint-disable-line declaration-no-important */
}

.layer1 {
    background-color: white;
    z-index: -3;
}

.layer2 {
    z-index: -2;
}

.showDetails {
    color: #3eb995;
    font-size: 12px;

    &:hover {
        cursor: pointer;
    }
}

.progressBar {
    background-color: #ededed;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
    margin-top: 40px;
    z-index: -1;
    border: 5px solid transparent;
}

.progressColor {
    background-color: #3eb995;
    background-size: 40px 40px;
    height: 25px;
}
