@value colors: '../../../common-ui/colors.css';
@value color1, color2, color4, color6, color12 from colors;

.importTable {
    width: 100%;
    padding: 0 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;

    & th,
    & td {
        padding: 15px 10px 10px 10px;
        width: 21.5%;
        color: color4;
        font-weight: 300;
    }

    & th {
        font-weight: 600;
    }

    & td.importTableCellSepar {
        padding-bottom: 60px;
    }

    & td:first-child {
        text-align: initial;
        font-weight: 500;
        width: 35%;
        padding: 15px 0px 15px 15px;
    }

    & tr:last-child {
        border-bottom: none;
    }
}

.importTableHead {
    font-size: 14px;
    color: color4;
    line-height: 1.2;
}

.importTableRow {
    font-size: 14px;
    height: 90px;
    vertical-align: middle;
    border-bottom: solid 1px #efefef;
}

.labelContainer {
    display: flex;
    flex-direction: column;
}

.link {
    color: color3;
    text-decoration: none;
}

.importTableHelp {
    font-weight: 400;
}

.actionTableRow {
    font-weight: 400;
}

.importTableRowSepar {
    border-bottom-width: 4px;
}

.importTableCol {
    width: calc(100% / 4);
}

.importTableContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    background: transparent;
    border-radius: 10px;
}

.mainContainer {
    position: relative;
    background-color: transparent;
}

.loadingBlocker {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 25000000;
    background: white;
}

.loadingMsg {
    margin-top: -30px;
    composes: sectionTitle from 'src/options/settings/components/settings.css';
}

.title {
    composes: sectionTitle from 'src/options/base.css';
}

.warningContainer {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.warningContainerReport {
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.stepNumber {
    font-size: 20px;
    color: color4;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stepText {
    color: color6;
    font-size: 15px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}

.warning {
    display: flex;
    margin: 1em 0;
    flex-direction: row;
    color: white;
    align-items: center;
    font-weight: 500;
    margin-top: 20px;
    border: 2px solid color12;
    padding: 10px 10px;
    border-radius: 6px;
    justify-content: center;
    background: #f29d9d;
}

.warningText {
    left: 5px;
    position: relative;
    margin: 0;
    line-height: 22px;
    font-size: 14px;
}

.warningCode {
    font-size: 0.8em;
}

.icon {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.stepImportText {
    font-size: 15px;
    max-width: 800px;
}

.checkboxText {
    font-weight: 500;
}

.checkboxSubText {
    font-size: 12px;
    color: color6;
    display: inline-block;
}

.checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    & + label::before {
        content: '';
        margin-right: 10px;
        margin-top: 3px;
        display: inline-block;
        vertical-align: text-top;
        width: 12px;
        height: 12px;
        outline: 2px solid #3eb995;
        box-shadow: 0 0 0 2pt #3eb995;
        border-radius: 1px;
    }

    &:focus + label::before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked + label::before {
        background: #3eb995;
    }

    &:checked + label::after {
        content: '';
        position: absolute;
        left: 1px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
            4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }

    &:disabled + label {
        color: #3eb995;
        cursor: auto;
    }

    &:disabled + label::before {
        box-shadow: none;
        box-shadow: 0 0 0 2pt #3eb995;
        border-radius: 1px;
    }
}

.quoteBlock {
    padding: 20px;
    background-color: #f6f6f6;
    text-align: center;
    color: #6d6d6d;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 0.7em;
    margin-top: 40px;
}

.quoteLine {
    font-weight: bold;
}

.heading {
    color: #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    font-size: 16px;
    font-weight: 600;
    width: 250px;
    line-height: 2;
}

.reportDetails {
    font-size: 14px;
    color: #4d4b4c;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.disabled {
    opacity: 0.4;
}

.disabledComingSoon {
    color: #3eb995 !important; /* stylelint-disable-line declaration-no-important */
}

.layer1 {
    background-color: white;
    z-index: -3;
}

.layer2 {
    z-index: -2;
}

.showDetails {
    color: #3eb995;
    font-size: 12px;

    &:hover {
        cursor: pointer;
    }
}

.selectFile {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #5671cf;
    display: inline-block;
    font-size: 14px;
    color: #5671cf;

    &[disabled] {
        opacity: 0;
        cursor: not-allowed;
    }
}

.hidden {
    composes: selectFile;
    opacity: 0;
    cursor: not-allowed;
    vertical-align: super;
}

input[type='file'] {
    display: none;
}

.tutorial {
    composes: helpIcon from 'src/common-ui/icons.css';
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    width: 25px;
    height: 25px;
    background-size: 20px;
    display: flex;
    vertical-align: middle;
}

.uploaderBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
