.importTable {
    width: 100%;
    padding: 0 15px;
    line-height: 36px;
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center;

    & th,
    & td {
        padding: 15px;
    }

    & td {
        color: #666;
    }

    & td.importTableCellSepar {
        padding-bottom: 60px;
    }

    & td:first-child {
        text-align: initial;
    }
}

.importTableHead {
    font-size: 14px;
    color: #cacaca;
    border-bottom: 1px solid #d2d2d2;
}

.importTableRow {
    font-size: 14px;

    &:nth-child(even) {
        background-color: #f6f6f6;
    }

    &:nth-child(odd) {
        background-color: #fff;
    }
}

.importTableHelp {
    font-weight: 400;
}

.actionTableRow {
    font-weight: 400;
}

.importTableRowSepar {
    border-bottom-width: 4px;
}

.importTableCol {
    width: calc(100% / 6);
}

.importTableContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

.mainContainer {
    position: relative;
}

.loadingBlocker {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 800px;
    background: #fff;
    opacity: 0.8;
}

.loadingMsg {
    font-weight: bold;
}

.title {
    color: #3eb995;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.stepNumber {
    font-size: 16px;
    color: #4d4b4c;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stepText {
    font-size: 14px;
    color: #d5969e;
    margin-bottom: 40px;
}

.icon {
    width: auto;
    height: 14px;
}

.stepSubText {
    margin-left: 18px;
}

.checkboxText {
    font-weight: bold;
}

progress,
progress[role] {
    appearance: none;
    background-size: auto;
    height: 50px;
    width: 100%;
    border-radius: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #ededed;
    border-radius: 20px;
}

progress[value]::-webkit-progress-value {
    background-color: #4cc3a5;
    border-radius: 20px;
}

.quoteBlock {
    padding: 20px;
    background-color: #f6f6f6;
    text-align: center;
    font-family: 'Lato';
    color: #6d6d6d;
    border-radius: 5px;
}

.quoteLine {
    font-weight: bold;
}
