.importTable {
    width: 100%;
    padding: 0 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;

    & th,
    & td {
        padding: 15px;
    }

    & th {
        font-weight: 600;
    }

    & td {
        color: #666;
        min-width: 180px;
    }

    & td.importTableCellSepar {
        padding-bottom: 60px;
    }

    & td:first-child {
        text-align: initial;
        font-weight: 500;
    }
}

.importTableHead {
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #d2d2d2;
    line-height: 1.2;
}

.importTableRow {
    font-size: 14px;
    height: 100px;

    &:nth-child(even) {
        background-color: #f6f6f6;
    }

    &:nth-child(odd) {
        background-color: #fff;
    }
}

.importTableHelp {
    font-weight: 400;
}

.actionTableRow {
    font-weight: 400;
}

.importTableRowSepar {
    border-bottom-width: 4px;
}

.importTableCol {
    width: calc(100% / 4);
}

.importTableContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
}

.mainContainer {
    position: relative;
}

.loadingBlocker {
    z-index: 2;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 830px;
    background: #fff;
    opacity: 0.8;
}

.loadingMsg {
    font-weight: bold;
}

.title {
    color: #3eb995;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.stepNumber {
    font-size: 18px;
    color: #3eb995;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.stepText {
    font-size: 14px;
    color: #4d4b4c;
}

.warning {
    display: flex;
    margin: 1em 0;
    flex-direction: row;
    color: #d5969e;
    margin-top: 30px;
}

.warningText {
    left: 5px;
    position: relative;
    margin: 0;
}

.warningCode {
    font-size: 0.8em;
}

.icon {
    width: auto;
    height: 20px;
}

.stepImportText {
    font-size: 15px;
    max-width: 800px;
}

.checkboxText {
    font-weight: 500;
}

.checkboxSubText {
    margin-left: 24px;
    font-size: 12px;
}

.checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    & + label::before {
        content: '';
        margin-right: 10px;
        margin-top: 3px;
        display: inline-block;
        vertical-align: text-top;
        width: 12px;
        height: 12px;
        outline: 2px solid #3eb995;
        box-shadow: 0 0 0 2pt #3eb995;
        border-radius: 1px;
    }

    &:focus + label::before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked + label::before {
        background: #3eb995;
    }

    &:checked + label::after {
        content: '';
        position: absolute;
        left: 1px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
            4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }

    &:disabled + label {
        color: #3eb995;
        cursor: auto;
    }

    &:disabled + label::before {
        box-shadow: none;
        box-shadow: 0 0 0 2pt #3eb995;
        border-radius: 1px;
    }
}

.quoteBlock {
    padding: 20px;
    background-color: #f6f6f6;
    text-align: center;
    font-family: 'Open Sans';
    color: #6d6d6d;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 0.7em;
    margin-top: 40px;
}

.quoteLine {
    font-weight: bold;
}

.heading {
    color: #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    font-size: 16px;
    font-weight: 600;
    width: 250px;
    line-height: 2;
}

.reportDetails {
    font-size: 14px;
    color: #4d4b4c;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.disabled {
    opacity: 0.4;
}

.disabledComingSoon {
    color: #3eb995 !important; /* stylelint-disable-line declaration-no-important */
}

.layer1 {
    background-color: white;
    z-index: -3;
}

.layer2 {
    z-index: -2;
}

.showDetails {
    color: #3eb995;
    font-size: 12px;

    &:hover {
        cursor: pointer;
    }
}
