.dropdown {
    position: absolute;
    border-bottom: 1px dotted black;
    top: 53px;
}

.dropdown .dropdownText {
    width: 250px;
    background: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(51, 51, 52, 1);
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    transition: opacity 0.3s;
    font-weight: 300;
    color: black;
}

.dropdown .dropdownTextAfter {
    position: absolute;
    z-index: -100;
    display: block;
    width: 2rem;
    height: 2rem;
    background: #fff;
    top: -12px;
    left: 155%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 0 0 7px 1px rgba(51, 51, 51, 1);
}

.dropdown:hover .dropdownText {
    visibility: visible;
    opacity: 1;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 12px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(202, 202, 202);
    background-color: white;

    & > i {
        color: #3eb995;
        padding: 0;
    }
}

.search {
    width: 90%;
    font-size: 15px;
    padding: 5px;
    border: none;
    background-color: white;
}

.search:placeholder-shown {
    font-style: italic;
    font-family: 'Open Sans';
}

.search::placeholder {
    color: #3eb995;
}

.search:focus {
    outline: none;
}

.applyButton {
    border-radius: 7px;
    font-family: 'Arial';
    color: #fff;
    font-size: 16px;
    background: #00c596;
    padding: 4px 14px 4px 14px;
    text-decoration: none;
    cursor: pointer;
}
