.dropdownMain {
    display: flex;
    flex: 1;
    height: 80px;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: white;
    min-width: 800px;
    flex-flow: row;
    box-shadow: 0 2px 4px rgba(220, 220, 220, 0.7);
    justify-content: space-around;
    align-items: center;
}

.editDropdown {
    max-width: 790px;
    min-width: 790px;
    display: flex;
    justify-content: space-between;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    padding: 0px;
}

.favourite {
    background-image: url('/img/star_full_grey.svg');
    width: 20px;
    height: 20px;
    padding: 0 15px;
}

.delete {
    background-image: url('/img/trash_new_grey.svg');
    width: 20px;
    height: 20px;
    padding: 0 15px;
}

.addTag {
    background-image: url('/img/tag_grey.svg');
    width: 20px;
    height: 20px;
    padding: 0 15px;
}

.addToList {
    background-image: url('/img/addToList.svg');
    width: 20px;
    height: 20px;
    padding: 0 15px;
}

.test {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.92em;
    font-weight: 700;
    padding: 0 15px;
    color: #c0c0c0;
}

.test1 {
    position: relative;
}

.listSelected {
    font-weight: 600;
}
