{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 10 Firefox versions",
                        "last 10 Chrome versions"
                    ]
                },
                "include": ["transform-es2015-spread", "es7.object.entries"],
                "useBuiltIns": true
            }
        ],
        "stage-1",
        "react"
    ]
}
