[submodule "external/@worldbrain/storex"]
	path = external/@worldbrain/storex
	url = https://github.com/WorldBrain/storex.git
[submodule "external/@worldbrain/storex-backend-dexie"]
	path = external/@worldbrain/storex-backend-dexie
	url = https://github.com/WorldBrain/storex-backend-dexie.git
[submodule "external/@worldbrain/memex-stemmer"]
	path = external/@worldbrain/memex-stemmer
	url = https://github.com/WorldBrain/memex-stemmer.git
[submodule "external/@worldbrain/storex-pattern-modules"]
	path = external/@worldbrain/storex-pattern-modules
	url = https://github.com/WorldBrain/storex-pattern-modules
[submodule "external/user-logic"]
	path = external/user-logic
	url = https://github.com/ShishKabab/user-logic
[submodule "external/@worldbrain/storex-sync"]
	path = external/@worldbrain/storex-sync
	url = git@github.com:WorldBrain/storex-sync.git
[submodule "external/simple-signalling"]
	path = external/simple-signalling
	url = git@github.com:WorldBrain/simple-signalling.git
