node_modules
dist
extension/lib
extension/browser-polyfill.js
extension/background.js
extension/content_script.js
extension/overview/overview.js
extension/overview/style.css
extension/options/options.js
extension/options/style.css
extension/page-viewer/localpage.js
jest_0/
