language: node_js
node_js:
    - "lts/*"
install:
    - yarn install --frozen-lockfile
script:
    - npm run test
    - npm run lint
    - npm run build:ci
cache:
    yarn: true
    directories:
        - node_modules
notifications:
    email: false
