.toggleDiv {
    position: relative;
}

.switch {
    position: absolute;
    margin-left: 7px;
}

.icon {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.button {
    display: inline-block;
    width: 200px;
    text-align: left;
}

.switchBlocks {
    padding-top: 11px;
}