.toggleDiv {
    position: relative;
}

.switch {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
}

.icon {
    display: inline-block;
    cursor: pointer;
}

.button {
    display: inline-block;
    width: 200px;
    text-align: left;
    border-right: 2px solid #a2a2a2ab;
}

.switchBlocks {
    height: 45px;
    display: flex;
}

.option {
    width: 100%;
    align-items: center;
    display: flex;
    flex: 2;
}
