.settingsSection {
    display: flex;
}

.settingsSectionDescription {
    width: 500px;
}

/* .settingsLabel {

} */

.settingsHelp {
    font-size: 0.9em;
}

.statusLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    font-size: 0.8rem;

    & p {
        margin-bottom: 0;
        margin-top: -5px;
    }
}

.statusLabel {
    font-weight: bold;
}

.boldText {
    composes: h2Color from '../../../common-ui/colors.css';
    font-weight: 600;
    font-size: 15px;
}

.startWizard {
    border: none;
    outline: none;
    color: white;
    background: #173766;
    cursor: pointer;
    padding: 8px;
    font-size: 0.8rem;
}

/* .comingSoon {
}

.supportUs {
} */

.time {
    margin-left: 5px;
    composes: subTitleColor from '../../../common-ui/colors.css';
    font-size: 13px;
}

.right {
    float: right;
    margin-top: 0px;
}

.limitWidth {
    display: block;
    width: 400px;
}

.location {
    composes: darkBlue from '../../../common-ui/colors.css';
    float: right;
    text-align: right;
    cursor: pointer;
    font-size: 15px;

    & .change {
        display: block;
        font-size: 0.6rem;
        color: #555;

    & :hover {
        font-weight: 700;
    }
    }
}
