.settingsSection {
    display: flex;
}

.settingsSectionDescription {
    width: 500px;
}

/* .settingsLabel {

} */

.settingsHelp {
    font-size: 0.9em;
}

.statusLine {
    margin-left: 10px;
}

.statusLabel {
    font-weight: bold;
}

/* .comingSoon {
}

.supportUs {
} */

.time {
    vertical-align: middle;
}

.button {
    float: right;
    margin-top: -2px;
    cursor: pointer;
}
