.settingsSection {
    display: flex;
}

.settingsSectionDescription {
    width: 500px;
}

/* .settingsLabel {

} */

.settingsHelp {
    font-size: 0.9em;
}

/* .statusLine {
} */

.statusLabel {
    font-weight: bold;
}

/* .comingSoon {
}

.supportUs {
} */
