.settingsSection {
    display: flex;
}

.settingsSectionDescription {
    width: 500px;
}

/* .settingsLabel {

} */

.settingsHelp {
    font-size: 0.9em;
}

.statusLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    font-size: 0.9rem;
    color: #222;
}

.statusLabel {
    font-weight: bold;
}

.boldText {
    font-weight: 600;
}

.startWizard {
    border: none;
    outline: none;
    color: white;
    background: #173766;
    cursor: pointer;
    padding: 8px;
    font-size: 0.8rem;
}

/* .comingSoon {
}

.supportUs {
} */

.time {
    margin-left: 5px;
}

.right {
    float: right;
    margin-top: 0px;
}

.limitWidth {
    display: block;
    width: 400px;
}

.location {
    float: right;
    font-size: 0.8rem;
    text-align: right;
    color: #0b8863;

    & .change {
        display: block;
        font-size: 0.6rem;
        color: #555;
    }
}
