* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

.root {
    display: flex;
    flex-direction: row;
}

.sidebar .route {
    margin: 20px 20px 0;
    flex-grow: 1;
    max-width: 800px;
    margin-left: 30px;
}

.route {
    width: 100%;
}

.routeTitle {
    font-size: 1em;
    font-weight: 100;
    color: #b7b7b7;
    margin: 10px 0 10px 0;
}

.sectionTitle {
    color: #3eb995;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}
