@value colors: 'src/common-ui/colors.css';
@value color4, color6 from colors;

@import url('/fonts/Poppins/poppins.css');

.root {
    background-color: white;
    display: flex;
    flex-direction: row;

    & * {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
}

.route {
    padding-right: 30px;
    margin: 25px 0 100px 35px;
    width: 400vw;
    max-width: 800px;
}

.routeTitle {
    font-size: 20px;
    color: color4;
    font-weight: 600;
    margin-bottom: 30px;
}

.sectionTitle {
    font-size: 24px;
    color: color4;
    font-weight: 600;
    margin-top: 10px;
}

.subTitle {
    composes: darkBlue from 'src/common-ui/colors.css';
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 30px;
}

.subText {
    font-size: 15px;
    color: color6;
    font-weight: 500;
    margin: 5px 0 0px 0;
}
