* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.root {
    font-size: 18px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: row;
}

.route {
    margin: 20px 20px 0;
    flex-grow: 1;
}

.routeTitle {
    font-size: 1em;
    font-weight: 100;
    color: #b7b7b7;
    margin: 10px 0 10px 0;
}

.button {
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    transition: all 0.1s ease-in;

    &:hover {
        transform: scale(1.02);
    }

    &[disabled] {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.helpText {
    font-size: 0.8em;
}

.helpText_right {
    float: right;
    text-align: right;
}

.buttonNaked {
    border: 0;
    background: none;
}

.fluidContainer {
    margin-bottom: 10px;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
