* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.root {
    font-size: 18px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: row;
}

.route {
    margin: 20px 20px 0;
    flex-grow: 1;
}

.routeTitle {
    font-size: 1em;
    font-weight: 100;
    color: #b7b7b7;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
}

.button {
    background: #eee;
    color: #666;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 1px solid #999;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s ease-in, color 0.1s ease-in;

    &:hover {
        background: #cdcdcd;
        color: #333;
    }

    &[disabled] {
        background: #eee;
        color: #666;
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.helpText {
    font-size: 0.8em;
}

.helpText_right {
    float: right;
    text-align: right;
}

.buttonNaked {
    border: 0;
    background: none;
}

.fluidContainer {
    margin-bottom: 10px;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
