.authContainer {
    height: 100%;
    align-items: flex-start;
    display: flex;
    width: 100%;
}

.firebaseAuth {
    flex: 1;
}

.firebaseAuth .firebaseui-id-submit {
    color: #2ab98a;
}

.loadingBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileButton {
    display: inline-flex;
    height: 30px;
    position: fixed;
    left: 0.2em;
    bottom: 1em;
    cursor: pointer;
}

.buttonText {
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    padding: 1em;
    padding-left: 0;
}

.PriceBox {
    width: 100%;
}

.AccountInfoBox {
    min-width: 430px;
}

.pioneerBox {
    padding: 15px 30px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 2px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.pioneerTitle {
    font-size: 14px;
    font-weight: bold;
}

.pioneerSubtitle {
    font-size: 12px;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;

    & > div {
        width: 100%;
        text-align: center;
        justify-content: center;
        display: flex;
    }
}

.button > div {
    height: 41px;
    width: 240px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}

.horizontalSpace {
    padding-left: 20px;
}

.instructionsTitle {
    font-size: 23px;
    font-weight: 700;
    color: #3a2f45;
    width: 450px;
    text-align: center;
    margin-bottom: 0.5em;
}

.instructions {
    font-size: 15px;
    text-align: center;
    margin: 0 0 20px 0;
}

.lineEditBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & input {
        flex: 1;
    }
}
