.authContainer {
    height: 100%;
    align-items: flex-start;
    display: flex;
    width: 100%;
}

.firebaseAuth {
    flex: 1;
}

.firebaseAuth .firebaseui-id-submit {
    color: #2ab98a;
}

.profileButton {
    display: inline-flex;
    height: 30px;
    position: fixed;
    left: 0.2em;
    bottom: 1em;
    cursor: pointer;
}

.buttonText {
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    padding: 1em;
    padding-left: 0;
}
