.sidebar {
    padding: 0;
    height: 100%;
    background: #fff;

    overflow-y: scroll;
    border-left: 3px solid #e1ece9;
    z-index: 999999999999;
}

.annotationsSection {
    margin: 0 0 100px 0;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.annotatePDFButton {
    width: 80%;
    height: 2em;
    background: #3eb995;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 6px;
    font-size: 14px;
    font-weight: 100;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}
