.actionButton {
	composes: CTA from 'src/common-ui/elements.css';
    cursor: pointer;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 16px;
}

.searchActionButton {
    border: 0;
}
