.inbox {
    font-size: 15px;
    text-decoration: none;
    padding-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #3eb995;
    cursor: pointer;

    &:hover {
        color: #777;
        background-color: #c7d3d0;
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 5px;
    }

    @media (max-width: 1650px) {
        display: none;
    }
}

.inboxCount {
    color: #fff;
    background-color: #3eb995;
    border-radius: 15px;
    margin-left: 10px;
    padding: 3px 18px;
    padding-top: 2px;
}

.activeInbox {
    color: #777;
    border-bottom: 6px solid #3eb995;
    padding-bottom: 19px;
    padding-top: 25px;

    &:hover {
        color: #777;
        border-radius: 4px;
        margin-top: 20px;
        padding-bottom: 19px;
        padding-top: 5px;
    }
}
