@value colors: 'src/common-ui/colors.css';
@value color4, color6 from colors;

.mainContainer {
    text-align: center;
}

.title {
    color: color4;
    font-size: 30px;
    font-weight: 800;
    padding-top: 40px;
    margin-bottom: 20px;
}

.subtitle {
    color: color6;
    font-size: 18px;
}
