.root {
    list-style: none;
    margin: 40px auto;
    padding: 0;
    max-width: 800px;
}

.heading {
    font-size: 20px;
    color: #777;
    padding-top: 30px;
    margin: 74px 0;
    text-align: center;
}
