@value colors: 'src/common-ui/colors.css';
@value color4, color6, color2 from colors;

.root {
    list-style: none;
    margin: 70px auto 40px;
    padding: 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 20px;
    color: color4;
    padding-top: 30px;
    margin: 74px 0;
    text-align: center;
}
