@value colors: 'src/common-ui/colors.css';
@value color4, color6, color2, radius3 from colors;

.mainNotifContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #fff;
    border-radius: radius3;
    padding: 15px 20px 20px 20px;
    min-width: 800px;
    composes: annotationCard from 'src/common-ui/elements.css';
}

.notifContainer {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messageWhy {
    display: flex;
    flex-direction: row;
}

.titleMessage {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    max-width: 100%;
}

.message {
    color: #555;
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.buttonTick {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.button {
    composes: CTA from 'src/common-ui/elements.css';
    padding: 8px 20px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.tick {
    composes: cancelNaked from 'src/common-ui/elements.css';
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.tick i {
    color: #3eb995;
    font-weight: 600;
    cursor: pointer;
}

.onlyTick {
    justify-content: flex-end;
}

.showMore {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.why {
    position: relative;
    display: inline-table;
    color: #777;
}

.why .whyText {
    visibility: hidden;
    width: 225px;
    background-color: #fff;
    color: #777;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 225%;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid #c2c2c2;
    padding: 10px 20px;
}

.why .whyText::after {
    box-sizing: content-box;
    top: -13%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    pointer-events: none;
    border-color: #c2c2c2;
    border-width: 1px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    background-color: #fff;
}

.why:hover .whyText {
    visibility: visible;
    opacity: 1;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actionButton {
    padding: 10px 20px;
    background-color: #3eb995;
    color: white;
    font-size: 16px;
    width: fit-content;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    border: 0;
}
