.searchButton {
    padding: 5px;
}

.button {
    font-family: 'Poppins', sans-serif;
    padding: 8px 20px;
    color: white !important; /* stylelint-disable */
    width: fit-content;
    border-radius: 2px;
    cursor: pointer !important;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;

    &:hover {
        text-decoration: none !important;
    }
}

.searchButton {
    cursor: pointer;
}
