.readHeader {
    font-size: 18px;
    text-align: center;
    margin-top: 70px;
    color: #777;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expIcon {
    width: 25px;
    height: auto;
    margin: auto 0 auto 5px;
    cursor: pointer;
}

.expanded {
    transform: rotate(180deg);
    cursor: pointer;
}
