.disabled {
    color: grey;
    vertical-align: middle;
}

input {
    margin-right: 15px;
    margin-left: 10px;
}

.name {
    composes: h2Color from '../../../common-ui/colors.css';
    vertical-align: middle;
    font-size: 15px;
    font-weight: 500;
}

.subname {
    composes: subTitleColor from '../../../common-ui/colors.css';
    font-size: 13px;
}

.option {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 14px;
    width: 90%;
    cursor: pointer;
    margin-left: -5px;
}

.labelFree {
    composes: h2Color from '../../../common-ui/colors.css';
    font-size: 14px;
    vertical-align: middle;
    font-weight: bold;
    float: right;
}

.labelPremium {
    composes: CTAdarkBlue from '../../../common-ui/colors.css';
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    vertical-align: middle;
    float: right;
}

.star {
    font-size: 18px;
    vertical-align: text-top;
    margin-right: 5px;
    margin-top: 1px;
}

.period {
    font-size: 16px;
    vertical-align: middle;
}

.price {
    composes: darkBlue from '../../../common-ui/colors.css';
    font-size: 16px;
    vertical-align: middle;
    line-height: 25px;
    font-weight: bold;
}

.selectionDiv {
    margin-top: 15px;
}

.billingChoice {
    margin-left: 40px;
    margin-top: -5px;
}
