.primaryBtn {
    display: inline-block;
    background: #3eb995;
    cursor: pointer;
    border: solid 2px #3eb995;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;

    &:hover {
        background: #3eb995a5;
        color: white;
    }
}

.disabled {
    border: solid 2px #3eb995;
    color: #3eb995;
    background: white;
}
