.logo {
    height: 20px;
    vertical-align: text-top;
    margin-left: 5px;
}

.disabled {
    color: grey;
    vertical-align: middle;
}

input[disabled] {
    color: grey;
}

input {
    margin-right: 15px;
    margin-left: 10px;
}

.name {
    vertical-align: middle;
}

.vote {
    background-color: #3eb995;
    color: white;
    text-decoration: none;
    padding: 2px 10px 3px 10px;
    border-radius: 4px;
    margin-right: 5px;
}

.voteContainer {
    margin-bottom: 10px;
}

.subTitle {
    composes: h2Color from '../../../common-ui/colors.css';
    vertical-align: middle;
    font-weight: 500;
    font-size: 15px;
}

.title {
    composes: h2Color from '../../../common-ui/colors.css';
    font-size: 15px;
    vertical-align: middle;
    font-weight: 500;
}

.description {
    composes: subTitleColor from '../../../common-ui/colors.css';
    font-size: 13px;
    margin: 0px 0px 0px 36px;
}

.destination {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: #0b0b69;
    margin-top: 10px;
    margin-left: 34px;
    display: flex;
    align-items: flex-start;

    & p {
        margin-bottom: -6px;
        margin-top: -3px;
        text-align: left;
        font-size: 12px;
    }

    & .select {
        margin-top: 4px;
    }

    & .folderIcon {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url('/img/computer.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        margin-right: 10px;
        margin-bottom: -8px;
    }

    & .change {
        display: block;
        text-align: left;
        color: #333;
        font-size: 11px;
        font-weight: bold;
    }
}

.form {
    margin-top: 15px;
}

.link {
    composes: darkBlue from '../../../common-ui/colors.css';
    font-weight: 600;
    text-decoration: none;
}
