.logo {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.disabled {
    color: grey;
    vertical-align: middle;
}

input[disabled] {
    color: grey;
}

input {
    margin-right: 15px;
    margin-left: 10px;
}

.name {
    vertical-align: middle;
}

.vote {
    background-color: #3eb995;
    color: white;
    text-decoration: none;
    padding: 2px 10px 3px 10px;
    border-radius: 4px;
    margin-right: 5px;
}

.voteContainer {
    margin-bottom: 10px;
}

.subTitle {
    font-weight: 600;
    margin-bottom: 10px;
}
