@import url('/fonts/Inter/inter.css');

.container {
    composes: boxShadow h2Color buttonRadiusSmall from '../../common-ui/colors.css';
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 10px 0 0 0;
    cursor: pointer;

    &.isActive {
        border-color: #3db994b8;
        box-shadow: 0px 0px 5px 1px #00000050;
    }

    &.isEdit:hover {
        background-color: white;
        cursor: default;
    }
}

.isClickable {
    cursor: pointer;
}

.timestamp {
    max-width: 100%;
    font-size: 10px;
    text-align: right;
    vertical-align: middle;
    padding: 16px 16px 8px 16px;
    font-weight: 600;
    color: #4a4a4a;

    & .lastEdit {
        font-weight: 400;
        color: #929292;
        margin: 0 5px 0 -1px;
    }
}

.highlight {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0 0 5px 0;
    padding: 15px 15px 7px 15px;
    line-height: 20px;
}

.highlightText {
    composes: backgroundLightMintGreen titleColor from '../../common-ui/colors.css';
    padding: 2px 0;
    line-height: 22px;
    font-style: normal;
}

.newAnnotation {
    composes: h2Color from '../../common-ui/colors.css';
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: normal;
}
