@import url('/fonts/Inter/inter.css');

.container {
    composes: boxShadow h2Color borderColor borderRadiusBig from '../../common-ui/colors.css';
    box-shadow: none;
    box-sizing: border-box;
    width: 95.3%;
    font-size: 13px;
    margin: 10px 0 0 0;

    &.isActive {
        border-color: #3db994b8;
        box-shadow: 0px 0px 5px 1px #00000050;
    }
}

.isClickable {
    cursor: pointer;
}

.timestamp {
    max-width: 100%;
    font-size: 10px;
    text-align: right;
    vertical-align: middle;
    padding: 16px 16px 8px 16px;
    font-weight: 600;
    color: #4a4a4a;

    & .lastEdit {
        font-weight: 400;
        color: #929292;
        margin: 0 5px 0 -1px;
    }
}

.highlight {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0 0 5px 0;
    padding: 15px 15px 7px 15px;
    line-height: 20px;
}

.highlightText {
    background-color: yellow;
}
