@value colors: '../../common-ui/colors.css';
@value color6 from colors;

.annotationBoxDefaultFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &:hover .commonIcon {
        opacity: 0.8;
    }
}

.timestamp {
    margin-right: auto;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    color: color6;

    & .lastEdit {
        font-weight: 600;
        color: color6;
        margin: 0px;
    }
}

.commonIcon {
    composes: hoverColor buttonRadiusSmall from '../../common-ui/colors.css';
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 18px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    border: none;
    padding: 3px;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    margin: 0 3px;

    &:hover {
        opacity: 0.9;
    }
}

.buttonBar {
    display: flex;
    opacity: 0.2;
}

.editIcon {
    background-image: url('/img/edit.svg');
    background-position-y: 3px;
}

.trashIcon {
    background-image: url('/img/trash.svg');
    background-size: 17px;
}

.shareIcon {
    background-size: 17px;
    background-image: url('/img/share.svg');
}

.replyIcon {
    background-image: url('/img/reply_empty.svg');

    &:hover {
        background-image: url('/img/reply_full.svg');
    }
}

.goToPageIcon {
    background-image: url('/img/open.svg');
    background-position-y: 4px;
    background-size: 17px;
}
