  .annotationBoxDefaultFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
}

.commonIcon {
    composes: hoverColor buttonRadiusSmall from '../../common-ui/colors.css';
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 18px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    border: none;
    padding: 3px;
    width: 25px;
    height: 25px;
    opacity: 0.7;
    margin: 0 3px;
}

.editIcon {
    background-image: url('/img/edit.svg');
    background-position-y: 3px;
}

.trashIcon {
    background-image: url('/img/trash.svg');
    background-size: 17px;
}

.shareIcon {
    background-size: 17px;
    background-image: url('/img/share.svg');
}

.replyIcon {
    background-image: url('/img/reply_empty.svg');

    &:hover {
        background-image: url('/img/reply_full.svg');
    }
}

.goToPageIcon {
    background-image: url('/img/open.svg');
    background-position-y: 4px;
    background-size: 17px;
}
