@value colors: '../../common-ui/colors.css';
@value color6 from colors;

.annotationBoxDefaultFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 6px;
    padding-right: 5px;

    &:hover .commonIcon {
        opacity: 0.5;
    }
}

.timestamp {
    margin-right: auto;
    margin-left: 12px;
    font-size: 11px;
    font-weight: 400;
    color: color6;

    & .lastEdit {
        font-weight: 600;
        color: color6;
        margin: 0px;
    }
}

.commonIcon {
    composes: hoverColor buttonRadiusSmall from '../../common-ui/colors.css';
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 16px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    border: none;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    outline: none;

    &:hover {
        opacity: 1;
    }
}

.buttonBar {
    display: flex;
}

.editIcon {
    background-image: url('/img/edit.svg');
    background-size: 17px;
    margin-left: 3px;
}

.trashIcon {
    background-image: url('/img/trash.svg');
}

.goToPageIcon {
    background-image: url('/img/open.svg');
}

.bookmark {
    background-image: url('/img/star_full.svg');
    opacity: 0.8;
    background-size: 18px;

    &:hover {
        opacity: 1;
    }
}

.notBookmark {
    background-image: url('/img/star_empty.svg');
    background-size: 18px;
}
