@import url('/fonts/Poppins/poppins.css');

.textArea {
    composes: TextArea from '../../../common-ui/elements.css';
    min-height: 100px;
    width: auto;

    &:focus {
        outline: none;
    }
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0px 12px 4px 4px;
    height: 26px;
    animation: slideIn 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.interactions {
    display: flex;
}

.saveBtn {
    composes: footerBoldText from '../../annotation-box/all-modes-footer.css';
    margin-left: 2px;
    background: transparent;

    &:focus {
        background-color: #79797945;
    }
}

.cancelBtn {
    composes: footerText from '../../annotation-box/all-modes-footer.css';
    background: transparent;

    &:focus {
        background-color: #79797945;
    }
}

.interactionsImgContainer {
    width: 20px;
    height: 18px;
    background-size: contain;
    margin-left: 6px;
}

.button {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }

    &:active {
        opacity: 1;
    }

    /*    &:focus {
        outline: none;
    } */
}

.confirmButtons {
    display: flex;
}

.tagDropdown {
    position: relative;
    top: 3px;
    right: 150px;
}

@keyframes slideIn {
    0% {
        transform: translate(0, 5px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
