.textArea {
    box-sizing: border-box;
    resize: vertical;
    font-weight: 500;
    width: 95%;
    font-size: 14px;
    color: #222;
    font-family: 'Lato';
    font-style: italic;
    background: #f7f7f7;
    border: none;
    border-radius: 2px;
    padding: 10px 7px;
    margin: 5px 5px 5px 8px;
    min-height: 40px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #4a4a4a;
    }
}
