@value colors: 'src/common-ui/colors.css';
@value color1, color2, color3, color4, color6, color8, color12, color9 from colors;

.icon {
    composes: starMark from 'src/common-ui/icons.css';
    width: 20px;
    height: 20px;
    opacity: 0;
    color: transparent;
    background-size: 15px;
}

.checkedIcon {
    opacity: 1;
    transform: scale(0);
    width: 24px;
    height: 24px;
    color: color3;
    -webkit-text-stroke: 0;
}

.label {
    display: flex;
    align-items: center;
}

.label__check {
    border-radius: 3px;
    border: 1px solid color9;
    background: white;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-image: url('/img/star_blue_empty1.svg');

    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        outline: none;
    }

    &:focus {
        outline: none;
    }
}

.label__checkbox {
    display: none;
    outline: none;
}

.label__checkbox:checked + .label__text .label__check {
    transform-origin: center center;
    border: none;
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url('/img/star_blue_full.svg');
}

@keyframes icon {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes check {
    0% {
        width: 25px;
        height: 25px;
        padding: 2px;
        outline: none;
    }

    10% {
        width: 25px;
        height: 25px;
        opacity: 0.1;
        padding: 2px;
        background: rgba(0, 0, 0, 0.2);
        outline: none;
    }

    12% {
        width: 25px;
        height: 25px;
        opacity: 0.4;
        padding: 2px;
        background: rgba(0, 0, 0, 0.1);
    }

    50% {
        width: 25px;
        height: 25px;
        background: #5cd9a6;
        opacity: 0.6;
        outline: none;
    }

    100% {
        width: 25px;
        height: 25px;
        background: #5cd9a6;
        opacity: 1;
        outline: none;
    }
}

.button {
    border: 1px solid color9;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: color1;
    }

    &:active {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.bookmark {
    background-image: url('/img/star_full.svg');
}

.notBookmark {
    background-image: url('/img/star_empty.svg');
}
