.dateButton {
    width: 54px;
    height: 30px;

    /* ultra-light */
    border: 1px solid #d0d5e0;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 13px;
    color: #1a2f58;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
}

.dateButtonSelected {
    width: 75px;
    height: 30px;

    /* ultra-light */
    border: 1px solid #d0d5e0;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 13px;
    color: #1a2f58;
    cursor: pointer;
    text-align: left;
    background-color: #5cd9a6;
}

.dateButton:focus {
    background-color: #5cd9a6;
}

.buttonFocus {
    background-color: #5cd9a6;
}

.buttonFocusSelected {
    text-align: left;
    width: 101px;
    height: 30px;
    background-color: #5cd9a6;
}

.cross {
    width: 7px;
    height: 7px;

    /* position: absolute;
    */

    /* background-image: url('../../assets/times-solid.svg'); */
    background-repeat: no-repeat;
    border-color: transparent;
    background-color: #5cd9a6;
    border-width: 0px;
    margin-left: 47px;
    margin-top: 12px;
}

.cross:focus {
    outline: 0;
}

.datesStyle {
    display: list-item;
}
