.container {
    font-size: 14px;
    color: #8b8b8b;
}

.listName {
    white-space: nowrap;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    flex: 10;
    cursor: pointer;
    text-align: left;
}

.menuItem {
    composes: hoverColor from 'src/common-ui/colors.css';
    display: flex;
    padding: 8px 10px 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid #eaecef;
    word-wrap: break-word;
    font-size: 14px;
    background-color: white;
    justify-content: space-between;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
        background-color: color14;
        outline: none;
    }
}

.tagPill {
    composes: tagPillSuggestions from '../../common-ui/elements.css';
}

.menuItemFocused {
    background-color: #f7f7f7;
}

.tick {
    float: right;
    width: 20px;
    background-size: 20px;
    height: 20px;
    background-image: url('/img/check.svg');
}

.button {
    display: inline;
    border: none;
    font-size: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    cursor: pointer;
    outline: none;
    padding: 0px;
}

.exclusion {
    float: right;
    background-image: url('/img/exlusion.svg');
    width: 18px;
    margin-right: 7px;
}

.soon {
    color: #00acc3;
    font-size: 0.85em;
}

.available {
    opacity: 0.8;
}
