.collection {
    color: #767676;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-top: 15px;

    &:hover {
        background-color: #d7d7d7;
    }
}

.myCollection {
    font-size: 1.45em;
    font-weight: 500;
    padding: 0px 70px 0px 10px;
}

.plus {
    composes: nakedButton from '../../common-ui/elements.css';
    background-image: url('/img/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    width: 10px;
    height: 10px;
}
