@value colors: 'src/common-ui/colors.css';
@value color1, color2, color3, color4, color6, color8, color12, color9 from colors;

.tagButton {
    height: 26px;

    /* ultra-light */
    border: 1px solid color9;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: color3;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    outline: none;
    padding: 2px 7px;

    &:hover {
        background-color: color1;
    }
}

.tagButtonSelected {
    composes: tagButton;
    background-color: color2;
    padding: 0px 6px 0 0px;
}

.tagButtonDate {
    composes: tagButtonSelected;
}

.tagButton:focus {
    background-color: color1;
}

.buttonFocus {
    background-color: color2;
}

.renderCount {
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
    color: color4;
}

.pillContent {
    display: flex;
    align-items: center;
}

.buttonFocusSelected {
    text-align: left;
    width: 101px;
    height: 24px;
    background-color: color2;
}

.filterItem {
    display: flex;
}

.clearFilters {
    composes: removeIcon from 'src/common-ui/icons.css';
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    background-size: 10px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 0 5px;
    background-position: center center;
    display: inline-flex;

    &:hover {
        background-color: color8;
    }
}

.dateTopBox {
    display: flex;
    align-items: center;
}

.detailsFilter {
    display: grid;
    color: color4;
    font-size: 12px;
    margin-left: 5px;
}

.spanInc {
    background: #83c9f4;
}

.spanExc {
    background: #f29d9d;
}
