@keyframes slideOutFromLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(227px);
    }
}

.ribbon {
    background-color: #d7d7d7;
    position: absolute;
    top: 36px;
    width: 100px;
    animation: slideOutFromLeft 0.5s ease-out 0s forwards;
}

.buttonContainer {
    display: flex !important; /* stylelint-disable-line declaration-no-important */
    justify-content: space-around;
    align-items: center;
}

.editButton {
    background-image: url('/img/tick_green.svg');
    width: 33px;
    height: 35px;
}

.deleteButton {
    background-image: url('/img/cross_circle.svg');
    width: 21px;
    height: 21px;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    padding: 0px;
}
