.filtered {
    max-height: 260px;
    overflow-y: auto;
}

.filtered::-webkit-scrollbar {
    width: 5px;
}

.otherFilters {
    padding: 0 15px;
    margin-top: 15px;
}

.others {
    font-size: 1.45em;
    color: #767676;
    font-weight: 500;
}

.menuItem:last-child {
    border-bottom: none;
}
