.filtered {
    max-height: 260px;
    overflow-y: auto;
}

.filtered::-webkit-scrollbar {
    width: 5px;
}

.otherFilters {
    padding: 0 15px;
    margin-top: 15px;
}

.others {
    font-size: 1.45em;
    color: #767676;
    font-weight: 500;
}

.menuItem:last-child {
    border-bottom: none;
}

.bookmarksFilter span {
    font-weight: 300;
}

.filterBar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    z-index: 998;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;

    @media (max-width: 1000px) {
        justify-content: center;
        padding: 0;
    }
}

.innerContainer {
    width: 800px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters {
    align-items: flex-start;
    height: auto;
    padding: 5px 0px;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-column-start: unset;
    grid-template-columns: max-content max-content max-content max-content;
    grid-gap: 20px;
}

.button {
    composes: nakedButton from 'src/common-ui/elements.css';
    width: 26px;
    height: 26px;
    border-radius: 3px;
    opacity: 0.8;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.arrow {
    background-image: url('/img/arrow.svg');
    transform: rotate(90deg);
}
