.buttonFocus {
    width: 54px;
    height: 30px;

    /* ultra-light */
    border: 1px solid #d0d5e0;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 13px;
    color: #1a2f58;
    cursor: pointer;
    text-align: center;

    /* background-color: #fff; */
    background-color: #5cd9a6;
}

.buttonFocusSelected {
    /* ultra-light */
    border: 1px solid #d0d5e0;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 13px;
    color: #1a2f58;
    cursor: pointer;

    /* text-align: center; */

    /* background-color: #fff; */
    text-align: left;
    width: 101px;
    height: 30px;
    background-color: #5cd9a6;
}

.cross {
    margin-left: 80px;
    width: 7px;
    height: 7px;
    position: absolute;

    /* background-image: url('../../assets/times-solid.svg'); */
    background-repeat: no-repeat;
    border-color: transparent;

    background-color: #000;
    border-width: 0px;

    /* margin-left: 47px; */
    margin-top: 12px;
}

.cross:focus {
    outline: 0;
}

.typesStyle {
    position: absolute;
    width: 232px;
    height: 169px;

    /* left: 3540px;
     top: 664px;
    */
    background: #fff;

    /* light-grey */
    border: 1px solid #b5b8b6;
    box-sizing: border-box;
    border-radius: 6px;
    display: grid;
    margin-top: 40px;
}

/* .slider::before {
     position: absolute;
     content: '';
     height: 23px;
     width: 23px;

     left: 4px;
     bottom: 4px;

     background-color: white;
     transition: 0.4s;
} */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;

    /* margin-top: 10px;
     margin-right: 30px;
    */
    margin: auto 30px auto auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

p {
    margin: auto;
    margin-left: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 14px;
    color: #1a2f58;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;

    /* -webkit-transition: 0.4s; */
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: '';
    height: 23px;
    width: 23px;

    /* left: 4px;
     bottom: 4px;
    */
    background-color: white;

    /* -webkit-transition: 0.4s; */
    transition: 0.4s;

    /* background-image: url('../../assets/times-solid.svg'); */
    background-size: 7px 7.17px;
    background-repeat: no-repeat;
    background-position: center;
}

input:checked + .slider {
    background-color: #5cd9a6;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5cd9a6;
}

input:checked + .slider::before {
    /* -webkit-transform: translateX(23px); */
    transform: translateX(23px);

    /* -ms-transform: translateX(23px); */
    transform: translateX(23px);
    transform: translateX(23px);

    /* background-image: url('../../assets/check-solid.svg'); */
    background-size: 8.8px 6.8px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}

.tagName1:hover,
.tagName4:hover,
.tagName:hover {
    background-color: rgba(213, 216, 214, 0.28);
}

.tagName {
    display: inline-flex;
    width: 232px;
    height: 37px;
}

.tagName1 {
    display: inline-flex;
    width: 232px;
    height: 37px;
    padding-top: 10px;
}

.tagName4 {
    display: inline-flex;
    width: 232px;
    height: 37px;
    padding-bottom: 11px;
}

.toggleButton {
    /* position: absolute;
    */

    /* left: 0%;
    */

    /* right: 0%;
     top: 0%;
    */
    margin: auto;

    /* bottom: 0%;
    */

    /* mint */
    color: #5cd9a6;
    cursor: pointer;

    /* border-radius: 70px;
    */
}
