.container {
    position: absolute;
    top: 100px;
    left: 200px;
    text-align: center;
    width: fit-content;
    background: #fff;
    height: fit-content;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 6px;
    color: #173766;
    box-shadow: 0px 2px 8px 1px #17376626;
    border: solid 1px #3eb99561;
    font-size: 16px;
}

.container::after {
    content: ' ';
    position: absolute;
    top: -10px;
    left: calc(50% - 12.5px);
    margin-left: 0px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 3px;
    background-color: white;
    border: solid 1px #3eb99561;
    transform: rotate(45deg);
    z-index: -1;
    box-shadow: 2px 2px 8px 1px #17376626;
}

.container::before {
    content: ' ';
    position: absolute;
    top: -37px;
    left: calc(50% - 26px);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-width: 24px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff;
}

.emoji {
    font-size: 20px;
    margin-right: 5px;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
}

.noBold {
    font-weight: 400;
    vertical-align: middle;
    font-size: 14px;
    color: #3eb995;
}

.proTipPro {
    text-align: center;
}

.example {
    color: #3eb995;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    vertical-align: middle;
    margin-top: 0px;
}

.close {
    font-size: 10px;
    font-style: normal;
    position: absolute;
    top: 3px;
    right: 3px;
    color: white;
    background: #444882;
    border-radius: 8px;
    padding: 1px 5px 2px 5px;
    cursor: pointer;
}

.prev {
    font-size: 10px;
    font-style: normal;
    position: absolute;
    top: 4px;
    left: 3px;
    color: white;
    background: #444882;
    border-radius: 8px;
    padding: 1px 5px 2px 5px;
    cursor: pointer;
}

.next {
    font-size: 10px;
    font-style: normal;
    position: absolute;
    top: 3px;
    right: 20px;
    color: white;
    background: #444882;
    border-radius: 8px;
    padding: 1px 5px 2px 5px;
    cursor: pointer;
}

.proTip {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
}

.subInfo {
    color: #3eb995;
    font-size: 15px;
    margin-bottom: -5px;
}
