.mainTooltip a {
    text-decoration: underline;
}

b {
    font-weight: 600;
}

.mainTooltip {
    position: fixed;
    left: 8px;
    padding: 5px;
    margin-top: -13px;
    max-width: 270px;
    color: #3eb995;
    overflow: hidden;
    z-index: 1;
}

.counterMargin {
    margin-top: 17px;
}

.tooltipButton {
    display: flex;
    cursor: pointer;
    float: left;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 100;
    color: #777;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-top: -4px;
}

.tooltipText {
    margin-top: 26px;
    padding: 5px;
    font-size: 14px;
    font-weight: 100;
    box-shadow: inset 0px 4px 6px -6px #77777796;
}

.tooltipText img {
    max-width: 200px;
    margin-top: 5px;
}

.tooltipTitle {
    font-weight: 300;
    color: #777;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 11px;
}

.refreshIcon {
    background-image: url('/img/refresh-tooltip.svg');
    width: 18px;
    height: 18px;
    margin-left: 14px;
    opacity: 0.7;
}

.buttontooltipempty {
    border-radius: 30px;
    border: 1px solid #3eb995;
    font-weight: 100;
    font-size: 15px;
    color: #3eb995;
    cursor: pointer;
    height: 25px;
    width: 200px;

    &:hover {
        background: #3eb995;
        color: white;
    }
}

.tooltipButtonIcon {
    background-image: url('/img/hide.svg');
    width: 18px;
    height: 18px;
    margin-left: 0px;
    opacity: 0.7;
}

/*
Responsiveness Settings

*/

@media (max-width: 1350px) {
    .mainTooltip {
        display: inline-block;
        max-width: 210px;
    }

    .tooltipTitle {
        font-size: 16px;
    }

    .tooltipText {
        font-size: 14px;
    }
}

@media (max-width: 1250px) {
    .mainTooltip {
        display: none;
    }
}

.tooltipDesc {
    font-size: 14px;
}
