.notifs ul {
    padding: 20px;
}

.notifs ul li {
    background: #333;
    margin: 5px;
    padding: 5px;
    list-style: none;
    color: #fff;
    font-weight: 900;
}

.notifs .viewed ul li {
    background: #666;
    margin: 5px;
    padding: 5px;
    list-style: none;
    color: #fff;
    font-weight: 300;
}

.tableContainer {
    max-height: 550px;
    overflow-y: scroll;
    clear: both;
}

span {
    font-weight: 300;
}

.table {
    border-collapse: collapse;
    border: 1px solid #efefef;
    background: white;
    width: 100%;
    font-size: 0.9em;
    box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.08);
    border-bottom: 2px solid #333;

    & th,
    & td {
        border-collapse: collapse;
        color: #fff;
        border: 1px solid #efefef;
        padding: 15px 40px;
    }

    & th {
        background: #333;
        color: white;
        font-weight: 200;
        font-size: 0.8em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    & tr td {
        text-align: center;

        &:first-child {
            text-align: left;
        }
    }
}

.domainCell {
    width: 80%;
}

.toolbar {
    float: right;
    margin-bottom: 5px;
    clear: both;
}

.addButton {
    background: #eee;
    color: #666;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 1px solid #999;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in;

    &:hover {
        background: #cdcdcd;
        color: #333;
    }
}
