.topbar {
    position: sticky;
    top: 0;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2147483647;
    padding-right: 8px;
    height: 42px;
    border-bottom: 1px solid #d2d2d2;
    box-sizing: border-box;
    box-shadow: 4px 5px 28px 1px white;
}

.settingsBtn {
    background-image: url('/img/settings_grey.svg');
    margin: 0 10px 0 0;
    background-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:hover {
        background-image: url('/img/settings.svg');
    }
}

.addCommentBtn {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background: #3eb995;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 11px;
    height: 20px;
    letter-spacing: 0.6px;
    font-weight: 100;
    display: flex;
    align-items: center;

    &.disabled {
        background: #bbb;
        color: #efefef;
        cursor: not-allowed;
    }
}
