@value colors: 'src/common-ui/colors.css';
@value color6, color12 from colors;

.listForm {
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 13px;
}

.createListForm {
    display: flex;
    background: #d7d7d7;
    height: 40px;
    width: stretch;
    align-items: center;
    position: relative;
    padding: 2px 5px 2px 15px;

    & input {
        margin-right: 0px;
        margin-left: 0px;
        width: 74%;
    }
}

.button {
    width: 24px;
    height: 24px;
    display: inline;
    border: none;
    cursor: pointer;
    outline: none;
}

.tick {
    composes: checkMark from 'src/common-ui/icons.css';
}

.deleteButton {
    composes: removeIcon from 'src/common-ui/icons.css';
    margin-left: 5px;
    mask-size: 50%;
}

.buttonBox {
    display: flex;
    margin-left: 5px;
}

.sameNameWarning {
    display: flex;
    justify-content: center;
    color: color12;
    font-weight: 400;
    font-size: 14px;
}
