@value colors: 'src/common-ui/colors.css';
@value color1, color 2, color6, color4, color8, color14 from colors;

:host {
    all: initial;
}

.hr {
    border-color: #b0e0d2;
    width: 50px;
    margin-top: 12px;
}

.collection {
    color: color4;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-top: 26px;
}

.myCollection {
    font-size: 13px;
    font-weight: bold;
    padding-left: 5px;
}

.myCollectionSidebar {
    font-size: 13px;
    font-weight: 500;
    margin-right: 0px;
}

.collectionSidebar {
    margin-right: 0px;
    justify-content: space-between;
}

.collectionSidebarTitle {
    font-size: 15px;
}

.addNew {
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    composes: color8 from 'src/common-ui/colors.css';
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px;
    height: 26px;
}

.addNewHover {
    composes: hoversidebaropen from 'src/common-ui/colors.css';
}

.noLists {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #c9c9c9;
    padding-top: 20px;
}

.plus {
    composes: addIcon from 'src/common-ui/icons.css';
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    height: 26px;
    width: 26px;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    padding: 0px;
}

.allLists {
    overflow-y: scroll;
    overflow-x: visible;
    width: max-content;
    width: 100%;
    flex: 1;
}

.allListsLocked {
    overflow-y: scroll;
    flex: 1;
}

.allListsInPage {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

.allListsInner {
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.wrapper {
    overflow-y: scroll;
    padding-bottom: 50px;
    height: 100%;
}

.wrapperLocked {
    padding-bottom: 100px;
}

/* width */
.allLists::-webkit-scrollbar {
    display: none;
}

/* Track */
.allLists::-webkit-scrollbar-track {
    display: none;
}
