@value colors: 'src/common-ui/colors.css';
@value color1, color 2, color6, color4, color8, color14 from colors;

.hr {
    border-color: #b0e0d2;
    width: 50px;
    margin-top: 12px;
}

.collection {
    color: color4;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 15px;
    margin-top: -31px;
    margin-right: 30px;
}

.myCollection {
    font-size: 1.45em;
    font-weight: 500;
}

.myCollectionSidebar {
    font-size: 18px;
    font-weight: 500;
}

.plus {
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    composes: onHoverDark from 'src/common-ui/colors.css';
    composes: addIcon from 'src/common-ui/icons.css';
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    width: 26px;
    height: 26px;

    &:hover {
        background-color: color8;
    }
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    padding: 0px;
}

.allLists {
    overflow-y: scroll;
    overflow-x: visible;
    width: max-content;
    width: 100%;
    flex: 1;
}

.allListsLocked {
    overflow-y: scroll;
}

.allListsInPage {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

.allListsInner {
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.wrapper {
    overflow-y: scroll;
    padding-bottom: 50px;
}

.wrapperLocked {
    padding-bottom: 50px;
}

/* width */
.allLists::-webkit-scrollbar {
    display: none;
}

/* Track */
.allLists::-webkit-scrollbar-track {
    display: none;
}
