.listItem {
    background: #d7d7d7;
}

.pageList {
    composes: hoversidebaropen from '../../../../common-ui/colors.css';
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.pageListDrag {
    background-color: #d7d7d7;
}

.filtered {
    composes: itemActive hoverSidebarActive from '../../../../common-ui/colors.css';
}

.filtered div {
    font-weight: bold;
    color: #222;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
    outline: none;
}

.editButton {
    composes: hoverColor buttonRadiusSmall from '../../../../common-ui/colors.css';
    background-image: url('/img/edit.svg');
    width: 20px;
    height: 20px;
    visibility: hidden;
    opacity: 0.4;
    margin-top: 1px;
    animation: appear 0.2s forwards;
    background-size: 75%;
}

.shareButton {
    composes: hoverColor buttonRadiusSmall from '../../../../common-ui/colors.css';
    background-image: url('/img/share.svg');
    width: 20px;
    height: 20px;
    visibility: hidden;
    opacity: 0.4;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 2px;
    animation: appear 0.2s forwards;
}

.deleteButton {
    composes: hoverColor buttonRadiusSmall from '../../../../common-ui/colors.css';
    background-image: url('/img/trash.svg');
    width: 20px;
    height: 20px;
    visibility: hidden;
    opacity: 0.4;
    margin-left: 3px;
    animation: appear 0.2s forwards;
}

.listName {
    composes: menuItem from '../../../../common-ui/colors.css';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 15px 0px 25px;
    font-size: 0.75rem;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
}

.buttonContainer {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 90px;
    align-items: center;
}

@keyframes appear {
    0% {
        transform: scale(0);
        visibility: hidden;
    }

    100% {
        transform: scale(1);
        visibility: visible;
    }
}
