@value colors: '../../../common-ui/colors.css';
@value color4, color5, color6 from colors;

.pauseIcon {
    background-image: url('/img/pause.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.playIcon {
    background-image: url('/img/pause_active.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    opacity: 1;

    &:hover {
        background-image: url('/img/play.svg');
        opacity: 0.8;
    }
}

.dropdown {
    margin: 0 5px;
    cursor: pointer;
}

.item {
    cursor: pointer;
    font-weight: 400;

    &:disabled {
        color: color6;
        cursor: unset;
        background: none;
    }

    &:hover,
    &:focus {
        font-weight: 400;
        outline: 0;
        color: #3a2f45;
    }
}
