.pauseIcon {
    background-image: url('/img/pause_blue.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.playIcon {
    background-image: url('/img/play_blue.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.dropdown {
    margin: 0 5px;
    cursor: pointer;
}
