.toggleDiv {
    position: relative;
}

.switch {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
}

.icon {
    display: inline-block;
    cursor: pointer;
}

.button {
    display: inline-block;
    width: 200px;
    height: 100%;
    text-align: left;
}

.switchBlocks {
    height: 60px;
    display: flex;
}

.option {
    width: 100%;
    align-items: center;
    display: flex;
    flex: 2;
}
