@value colors: '../../../common-ui/colors.css';
@value color7 from colors;

.addToList {
    background-image: url('/img/collections_add.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: 0.8;
    float: left;
}

.button {
    flex: 7;
    text-align: left;
}

.buttonBulk {
    flex: 1;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.allTabs {
    composes: nakedSquareButton from '../../../common-ui/elements.css';
    background-image: url('/img/multiedit.svg');
    background-repeat: no-repeat;
    margin-left: -8px;
    background-size: 18px;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}
