@import url('/fonts/Inter/inter.css');

.textArea {
    composes: TextArea from '../../../common-ui/elements.css';
    min-height: 100px;

    &:focus {
        outline: none;
    }
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0px 4px 4px 4px;
    height: 26px;
    animation: slideIn 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.interactions {
    display: flex;
}

.saveBtn {
    composes: footerBoldText from '../../annotation-box/all-modes-footer.css';
    margin-left: 6px;
    background: transparent;

    &:focus {
        background-color: #79797945;
    }
}

.cancelBtn {
    composes: footerText from '../../annotation-box/all-modes-footer.css';
    background: transparent;

    &:focus {
        background-color: #79797945;
    }
}

.button {
    composes: nakedButton from '../../../common-ui/elements.css';
    width: 25px;
    height: 25px;
    border-radius: 3px;
    opacity: 0.6;
    margin-left: 2px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }

    &:active {
        opacity: 1;
    }

    /*    &:focus {
        outline: none;
    } */
}

.confirmButtons {
    display: flex;
}

.bookmark {
    background-image: url('/img/star_full.svg');
    opacity: 0.8;
    background-size: 19px;
}

.notBookmark {
    background-image: url('/img/star_empty.svg');
    background-size: 19px;
}

.tag {
    background-image: url('/img/tag.svg');
    background-size: 18px;
}

.tagDropdown {
    position: relative;
    top: 3px;
    right: 44%;
}

@keyframes slideIn {
    0% {
        transform: translate(0, 5px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
