.screenContainer {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
}

.dangerButton {
    background-color: red;
    color: white;
}

.backupTitle {
    composes: titleColor from '../../common-ui/colors.css';
    font-weight: 600;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.subtitle {
    composes: subTitleColor from '../../common-ui/colors.css';
    font-size: 0.8rem;
}

.subtitle2 {
    composes: subTitleColor from '../../common-ui/colors.css';
    font-size: 0.7rem;
    margin-bottom: 30px;
}

.header2 {
    composes: darkBlue from '../../common-ui/colors.css';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 30px;
}

.back {
    composes: warningColor hoverColor from '../../common-ui/colors.css';
    margin-left: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}

/* Upgrade Button */

.labelFree {
    color: white;
    background: #3eb995;
}

.labelContribute {
    color: #3eb995;
    border: 2px solid #3eb995;
    background: transparent;
}

.labelPremium {
    color: white;
    background: #173766;
}

.star {
    font-size: 18px;
    vertical-align: text-top;
    margin-right: 5px;
    margin-top: 1px;
}

.label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 3px;
}

.label:hover {
    background: white;
    border: solid 2px #3eb995;
    color: #3eb995;
}

/* Elements for selections */

.option {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

.optionLine {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.name {
    composes: h2Color from '../../common-ui/colors.css';
    vertical-align: middle;
    font-weight: 600;
    font-size: 15px;
    margin-right: 8px;
}

.subname {
    composes: subTitleColor from '../../common-ui/colors.css';
    font-size: 13px;
    margin-top: 4px;
}

.selectionlist {
    margin-top: 10px;
}
