.link {
    text-decoration: none;

    &:focus {
        outline: 0;
    }
}

.item {
    color: rgb(59, 59, 59);
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        color: rgb(62, 185, 149);
        background: rgb(229, 229, 229);
        outline: 0;
    }
}

.itemBtn {
    border: none;
    background: none;
    width: 100%;
    padding: 0;
    font-size: 1em;
    cursor: pointer;

    &:disabled {
        color: rgb(156, 156, 156);
        cursor: unset;
        background: none;
    }
}
