.link {
    text-decoration: none;

    &:focus {
        outline: 0;
    }
}

.item {
    color: rgb(59, 59, 59);
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: default;
    font-weight: 100;

    &:hover,
    &:focus {
        color: rgb(62, 185, 149);
        background: rgb(229, 229, 229);
        outline: 0;
    }
}

.itemBtn {
    border: none;
    background: none;
    width: 100%;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 100;

    &:disabled {
        color: rgb(156, 156, 156);
        cursor: unset;
        background: none;
    }
}

.itemBtnBlacklisted {
    color: rgb(193, 146, 146);

    &:hover {
        color: rgb(193, 146, 146);
    }
}

.itemDropdown {
    &:hover,
    &:focus {
        background: none;
        color: rgb(59, 59, 59);
    }
}

.dropdown {
    margin: 0 5px;
    cursor: pointer;
}

.clickableIcon {
    cursor: pointer;
    color: rgb(62, 185, 149);

    &:hover,
    &:focus {
        color: rgb(5, 154, 111);
    }
}

.clickableIconNeg {
    color: rgb(255, 74, 85);

    &:hover,
    &:focus {
        color: rgb(217, 24, 36);
    }
}

.splitBtn {
    display: flex;
    width: 100%;
    height: 40px;

    & > .itemBtn {
        justify-content: center;
    }
}

.button {
    float: right;
    width: 10%;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 100;
    margin-top: 13px;
    outline: 0;
    color: #909090;

    &:hover {
        color: rgb(62, 185, 149);
    }

    i {
        font-size: 24px;
    }
}

.settings {
    margin-right: 10px;
}

.icon {
    font-size: 26px;
}
