/* stylelint-disable declaration-no-important */

.link {
    text-decoration: none;

    &:focus {
        outline: 0;
    }
}

.item {
    color: rgb(59, 59, 59);
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: default;
    font-weight: 100;
    padding-left: 10px;
    padding-top: 2px;

    &:hover,
    &:focus {
        color: #3eb995;
        background: rgb(229, 229, 229) !important;
        outline: 0;
    }
}

.itemBtn {
    border: none;
    width: 100%;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 100;
    padding-left: 10px;
    background: none !important;

    &:disabled {
        color: rgb(156, 156, 156);
        cursor: unset;
        background: none;
    }

    &:hover,
    &:focus {
        color: rgb(62, 185, 149);
        background: rgb(229, 229, 229);
        outline: 0;
    }
}

.itemBlacklisted {
    &:hover {
        color: rgb(193, 146, 146);

        & > .itemBtnBlacklisted {
            background-image: url('/img/blacklist_red.svg');
        }
    }
}

.itemBtnBlacklisted {
    background-image: url('/img/blacklist.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.itemDropdown {
    &:hover,
    &:focus {
        background: none;
        color: rgb(59, 59, 59);
    }
}

.dropdown {
    margin: 0 5px;
    cursor: pointer;
}

.clickableIcon {
    cursor: pointer;
    color: rgb(62, 185, 149);

    &:hover,
    &:focus {
        color: rgb(5, 154, 111);
    }
}

.clickableIconNeg {
    color: rgb(255, 74, 85);

    &:hover,
    &:focus {
        color: rgb(217, 24, 36);
    }
}

.splitBtn {
    display: flex;
    width: 100%;
    height: 40px;

    & > .itemBtn {
        justify-content: left;
    }
}

.button {
    float: right;
    width: 10%;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 100;
    margin-top: 13px;
    margin-right: 5px;
    outline: 0;
    color: #909090;

    i {
        font-size: 24px;
    }
}

.settingsIcon {
    margin-right: 18px;
}

.icon {
    font-size: 26px;
}

.customIcon {
    width: 30px;
    height: 29px;
    margin-left: 10px;
    margin-top: 10px;
    outline: 0;
}

.bmk {
    background: url('/img/star_full.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.notBmk {
    background-image: url('/img/star_empty.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.tag {
    background-image: url('/img/tag.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.blacklist {
    background-image: url('/img/blacklist_green.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.settings {
    background-image: url('/img/settings.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.help {
    background-image: url('/img/help.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.buttonIcons {
    background-size: cover;
}

.pauseIcon {
    background-image: url('/img/pause.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.playIcon {
    background-image: url('/img/play.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.voteIcon {
    background-image: url('/img/vote.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}
