/* stylelint-disable declaration-no-important */

@import url('/fonts/googlefonts/open-sans.css');

.link {
    text-decoration: none;

    &:focus {
        outline: 0;
    }
}

.item {
    color: rgb(59, 59, 59);
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: default;
    font-weight: 100;
    height: 40px;
    padding-left: 20px;

    &:hover,
    &:focus {
        color: #3eb995;
        background: rgb(229, 229, 229) !important;
        outline: 0;
    }
}

.itemBtn {
    border: none;
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 100;
    padding-left: 20px;
    background: none !important;

    &:disabled {
        color: rgb(156, 156, 156);
        cursor: unset;
        background: none;
    }

    &:hover,
    &:focus {
        color: rgb(62, 185, 149);
        background: rgb(229, 229, 229);
        outline: 0;
    }
}

.clickableIcon {
    cursor: pointer;
    color: rgb(62, 185, 149);

    &:hover,
    &:focus {
        color: rgb(5, 154, 111);
    }
}

.clickableIconNeg {
    color: rgb(255, 74, 85);
    padding-left: 10px;

    &:hover,
    &:focus {
        color: rgb(217, 24, 36);
    }
}

.splitBtn {
    display: flex;
    width: 100%;

    & > .itemBtn {
        justify-content: left;
    }
}

.button {
    float: right;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 100;
    margin-right: 6px;
    margin-top: 15px;
    outline: 0;
    color: #909090;
    text-decoration: none;

    i {
        font-size: 24px;
    }
}

.settingsIcon {
    margin-left: -2px;
}

.icon {
    font-size: 26px;
}

.customIcon {
    width: 30px;
    height: 29px;
    outline: 0;
    margin-bottom: -10px;
}

.settings {
    background-image: url('/img/settings.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    margin-top: 0px;
}

.help {
    background-image: url('/img/help.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    margin-top: 0px;
}

.buttonIcons {
    background-size: 20px;
}

.linkIcon {
    background-image: url('/img/link.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    float: left;
    margin-top: 6px;
}

.sidebarIcon {
    background-image: url('/img/sidebarIcon_grey.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    float: left;
    margin-top: 8px;
}

.highlighterIcon {
    background-image: url('/img/highlighterIcon_grey.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    float: left;
    margin-top: 6px;
}

.searchIcon {
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.badge {
    background-color: #c12908;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -32px;
    left: 9px;
}

.subTitle {
    margin-left: 30px;
    margin-top: auto;
    font-size: 10px;
    color: #777;
}
