body {
    margin: 0;
    padding: 8px;
    width: 280px;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 200;
}

i {
    padding: 8px;
}

hr {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.popup {
    background-color: rgb(255, 255, 255);
    margin: -8px;
    font-size: 1.2em;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 12px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(202, 202, 202);
    background: white;

    & > i {
        color: #3eb995;
        padding: 0;
    }
}

.search {
    width: 90%;
    font-size: 1em;
    padding: 5px;
    border: none;

    &:placeholder-shown {
        font-style: italic;
        font-family: 'Open Sans';
    }

    &::placeholder {
        color: #3eb995;
    }
}
