@value colors: '../../common-ui/colors.css';
@value color4, color11 from colors;

body {
    margin: 0;
    padding: 8px;
    width: 280px;
    font-size: 12px;
    background: #fff !important; /* stylelint-disable-line declaration-no-important */
    color: color4;

    & * {
        font-family: 'Poppins', sans-serif;
    }
}

hr {
    border: 0;
    height: 0;
    margin-top: 6px;
    margin-bottom: 7px;
    padding: 0;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.item {
    z-index: 1000;
    height: 50px;
    display: flex;
}

.item:hover {
    background: #efefef;

    &:disabled {
        background: none;
    }
}

.popup {
    background-color: rgb(255, 255, 255);
    margin: -8px;
    font-size: 1.2em;
    overflow: hidden;
}

.searchIcon {
    composes: searchIcon from '../../common-ui/icons.css';
    width: 25px;
    height: 25px;
    background-size: 20px;
}

.searchContainer {
    background: color11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    margin: 0 0 0 5px;
    flex: 1;
    height: 100%;
}

.search {
    composes: searchField from '../../common-ui/elements.css';
    width: 90%;
    font-size: 14px;
    padding: 10px 0;
    border: none;
    background-color: color11;
    margin-left: 10px;

    &:focus {
        outline: none;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 10px;
    align-items: center;
}

.buttonBox {
    display: flex;
}

.feedbackButton {
    font-size: 10px;
    cursor: pointer;
    width: 84px;
    height: 24px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #5cd9a6;
    text-decoration: none;
    color: #3a2f45;
}

