.logo {
    height: 20px;
    vertical-align: text-top;
    margin-left: 5px;
}

.disabled {
    color: grey;
    vertical-align: middle;
}

.providerTitle {
    composes: h2Color from '../../../../common-ui/colors.css';
    vertical-align: middle;
    font-weight: 600;
    font-size: 17px;
    margin-right: 8px;
    margin-bottom: 5px;
    cursor: pointer;
}

.vote {
    background-color: #3eb995;
    color: white;
    text-decoration: none;
    padding: 2px 10px 3px 10px;
    border-radius: 4px;
    margin-right: 5px;
}

.voteContainer {
    margin-bottom: 10px;
}

.subTitle {
    composes: h2Color from '../../../../common-ui/colors.css';
    vertical-align: middle;
    font-weight: 500;
    font-size: 15px;
}

.label p {
    margin: 0px;
}

.option {
    display: flex;
}

.title {
    composes: h2Color from '../../../../common-ui/colors.css';
    font-size: 17px;
    vertical-align: middle;
    font-weight: 500;
}

.description {
    composes: subText from '../../../../options/base.css';
}

.destination {
    composes: nakedButton hoverColor from '../../../../common-ui/colors.css';
    background-color: transparent;
    padding: 4px 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: #0b0b69;
    margin-top: 10px;
    margin-left: -3px;
    display: flex;
    align-items: flex-start;

    & p {
        margin-bottom: -6px;
        margin-top: -3px;
        text-align: left;
        font-size: 12px;
    }

    & .select {
        margin-top: 4px;
    }

    & .folderIcon {
        display: inline-block;
        min-width: 25px;
        height: 25px;
        background-image: url('/img/computer.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        margin-right: 10px;
    }
}

.change {
    display: block;
    text-align: left;
    color: #555;
    float: left;
}

.form {
    margin-top: 15px;
}

.form input {
    margin-right: 20px;
    height: 21px;
    vertical-align: middle;
    margin-top: 0px;
    border-radius: 3px;
    text-align: center;
}

.form input[disabled] {
    color: grey;
}

.link {
    composes: darkBlue from '../../../../common-ui/colors.css';
    font-weight: 600;
    text-decoration: none;
}

.pathString {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 360px;
    direction: rtl;
}
