.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
}

.box {
    composes: toolTips from '../../../../common-ui/elements.css';
    position: relative;
    padding: 40px 50px 40px 52px;
    margin: 0 auto;
    align-self: center;
    background-color: white;
    text-align: center;
}

.danger {
    color: #f29d9d;
    font-weight: 700;
    margin-left: 10px;
    font-size: 20px;
    vertical-align: middle;
}

.dangerIcon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    padding-bottom: 2px;
}

.closeIcon {
    composes: closeIcon from '../../../../common-ui/icons.css';
    composes: nakedSquareButton from '../../../../common-ui/elements.css';
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 24px;
    background-size: 55%;
}

.normal {
    composes: subTitleColor from '../../../../common-ui/colors.css';
    font-size: 15px;
    margin: 15px 0px;
    line-height: 22px;
}

.instructions {
    composes: menuItem from '../../../../common-ui/colors.css';
    font-size: 15px;
}

.input {
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid #ebebeb;
    width: 150px;
    height: 25px;
    padding-left: 9px;
    vertical-align: middle;
}
