.Section {
    margin: 20px 0px 20px 0px;
}

.SectionTitle {
    font-size: 18px;
    color: #c0c0c0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TutorialBlock {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.TutorialTitle {
    font-size: 14px;
    color: #3a2f45;
}

.KeyboardShortcutKeys {
    font-size: 14px;
    color: #3a2f45;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
}

.shiftShare {
    font-weight: normal;
    font-size: 12px;
    opacity: 0.6;
    align-items: flex-start;
}

.KeyboardShortcutsTitle {
    font-size: 14px;
    color: #3a2f45;
    display: flex;
}

.KeyboardShortcutsBlock {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: flex-start;
    padding: 0 20px;

    &:nth-child(2) {
        margin-top: 10px;
    }
}

.actionButton {
    color: #5671cf;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.disabled {
    opacity: 0.3;
    font-weight: 700;
}
