.parentExpanded {
    padding-left: 15px;
    border-left: 6px solid #ededed; /* MAN - Manual Adjustment Needed */
    margin-top: -17px;
    padding-top: 9px;
    margin-left: 2px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}

.resultCount {
    composes: subTitleColor nakedButton hoverColor from '../../../common-ui/colors.css';
    margin: -13px 0 15px 0;
    text-align: start;
    font-size: 13px;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    animation: onload 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    display: flex;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/triangleSmall.svg');
    vertical-align: bottom;
    margin-top: 1px;
    margin-left: 3px;
    transition: transform 0.2s ease-in;
    background-size: 15px;
}

.expandedCount {
    margin: -5px 0 0 0;
    width: fill-available;
}

.inverted {
    transform: rotate(180deg);
}

.resultsText {
    margin-left: 3px;
}

.annotationList {
    display: flex;
    flex-direction: column;
}

.noanimation {
    animation: none;
}

.annotation {
    width: 766px;
    animation: annotationLoad 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.annotationBoxInpage {
    width: 100%;
    animation: annotationLoad 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.commentIcon {
    background-image: url('/img/comment.svg');
    width: 10px;
    height: 10px;
    background-size: contain;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
}

@keyframes onload {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes annotationLoad {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
