.container {
    width: 800px;
    height: 450px;
    background-color: #fff;
    margin: 50px auto;
    display: flex;
    font-size: 16px;
    padding: 30px;
    font-family: 'Open sans', sans-serif;
    box-shadow: 0px 2px 4px 0px #00000075;
    border-radius: 5px;
}

.leftParent {
    width: 65%;
    text-align: left;
    padding-left: 15px;
}

.rightParent {
    width: 60%;
    padding: 0 50px;
    padding-right: 10px;
}

.welcome {
    font-size: 37px;
    font-weight: 700;
    font-style: italic;
    color: #3eb995;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 25px;
}

.text {
    font-size: 17px;
    color: #3a3a75;
    letter-spacing: 0.7px;
}

.privacyImage {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    background-image: url('/img/privacy.jpg');
    fill: white;
    background-size: 270px 265px;
    width: 270px;
    height: 265px;
    margin-left: 0px;
    margin-top: 9px;
}

.title {
    text-align: left;
    font-size: 18px;
    color: #2d2d54;
    font-weight: 400;
    margin-top: 25px;
}

.subtext {
    text-align: left;
    margin-top: 12px;
    font-size: 13px;
    margin-bottom: 30px;
}

.checklist {
    text-align: left;
    margin: 35px 0;
}

.checklistText {
    color: #3eb995;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0px auto;
    justify-content: space-evenly;
}

.bold {
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin-top: 0px;
}

.subtextGreen {
    color: #3eb995;
    font-size: 13px;
    text-align: left;
    margin-top: 8px;
}

.learnMore {
    color: white;
    background-color: #3eb995;
    font-size: 13px;
    padding: 3px 24px 4px 24px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 8px;
}

.settings {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    background-image: url('/img/settings_grey.svg');
    fill: white;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-top: 9px;
}
