@value colors: 'src/common-ui/colors.css';
@value color4, color6 from colors;

.title {
    color: color4;
    font-size: 30px;
    font-weight: 800;
    padding-top: 30px;
    margin-bottom: 20px;
}

.subtitle {
    color: color6;
    font-size: 18px;
    font-weight: 400;
}

.subsubtitle {
    color: #3eb995;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.link {
    text-decoration: underline !important; /* stylelint-disable-line declaration-no-important */
}

.button {
    border-radius: 30px;
    border: 1px solid #3eb995;
    font-weight: 100;
    font-size: 15px;
    color: #3eb995;
    cursor: pointer;
    height: 25px;
    width: 200px;
    margin-top: 5px;
    margin-left: 15px;

    &:hover {
        background: #3eb995;
        color: white;
    }
}

.btnBox {
    display: block;
}
