@value colors: 'src/common-ui/colors.css';
@value color4, color1, color2, color3, color6 from colors;

:root {
    --height: 100px;
    --imgWidth: 200px;
    --vertical-spacing: 30px;
    --compact-scale: 0.6;
}

/* List entries shown as context around a search result */
.rootContainer.compact {
    opacity: 0.7;
    transform: scale(0.6);
    transform-origin: top;

    /* Compensate margin for scale reduction. */
    margin-bottom: calc((var(--compact-scale) - 1) * var(--height));

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.rootContainer {
    composes: boxShadow from '../../../common-ui/colors.css';
    display: flex;
    flex-direction: row;
    position: relative;
    color: inherit;
    text-decoration: none;
    z-index: 0;
    margin-bottom: 18px;
    width: 800px;
    height: var(--height);
    animation: onload 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

    &.isSidebarOpen {
        border-right: solid #5cd9a4 5px;
    }

    &:hover .crossRibbon {
        display: block;
        margin-right: -4px;
    }

    &:hover .button {
        opacity: 0.5;
    }

    &:hover .commentActive {
        opacity: 0.8;
    }

    &:hover .bookmark {
        opacity: 0.8;
    }

    /*  &:hover .title {
        width: 80%;
    } */
}

.root {
    position: relative;
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-decoration: none;
    flex-direction: row;
}

.crossRibbon {
    display: none;
}

.checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    & + label::before {
        content: '';
        display: inline-block;
        vertical-align: text-top;
        width: 7px;
        height: 7px;
        outline: 1px solid #3eb995;
        box-shadow: 0 0 0 1.5pt #3eb995;
        border-radius: 1px;
        margin: 4px 0;
        color: honeydew;
    }

    &:focus + label::before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked + label::before {
        background: #3eb995;
    }

    &:checked + label::after {
        content: '✔';
        position: absolute;
        margin-left: -2px;
        margin-top: -10px;
        left: 1px;
        top: 8px;
        color: white;
        width: 2px;
        height: 2px;
    }

    &:disabled + label {
        color: #3eb995;
        cursor: auto;
    }

    &:disabled + label::before {
        box-shadow: none;
        box-shadow: 0 0 0 2pt #3eb995;
        border-radius: 1px;
    }
}

.screenshotContainer {
    flex-shrink: 0;
    width: var(--imgWidth);
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: solid 1px #ebebeb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;

    & .screenshot {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - var(--imgWidth));
    padding: 6px 14px;
    justify-content: space-between;
    width: 100%;
}

.firstlineContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    max-width: 100%;
    flex-wrap: nowrap;
}

.title {
    color: color3;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    width: 97%;
    flex-basis: 95%;
}

.titleText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.favIcon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.url {
    color: color6;
    font-size: 13px;
    min-width: 0;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    max-width: 100%;
    margin-bottom: 8px;
    margin-top: -30px;
}

.url a {
    text-decoration: none;
}

.detailsBox {
    display: flex;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
    width: 110px;
    height: 30px;
    justify-content: flex-end;
    margin-top: 0px;
    margin-right: -4px;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -27px;
    height: 30px;
}

.displayTime {
    font-size: 12px;
    color: color6;
    min-width: fit-content;
    margin-right: 10px;
}

.button {
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    display: inline;
    border: none;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    background-position: center;
    background-size: 16px;
    border-radius: 3px;
    opacity: 0.2;
    background-color: transparent;

    &:hover .trash {
        opacity: 0.8;
    }
}

.trash {
    background-image: url('/img/trash.svg');
}

.comment {
    background-image: url('/img/comment.svg');
    margin-left: 1px;
    background-size: 17px;
}

.commentActive {
    background-image: url('/img/commentFull.svg');
    margin-left: 1px;
    background-size: 17px;
    opacity: 0.8;
}

.bookmark {
    background-image: url('/img/star_full.svg');
    opacity: 0.8;
    background-size: 18px;
    background-position-y: 3px;

    &:hover {
        opacity: 1;
    }
}

.notBookmark {
    background-image: url('/img/star_empty.svg');
    background-size: 18px;
    background-position-y: 3px;
}

.tag {
    background-image: url('/img/tag.svg');
    background-size: 17px;
    margin-left: 1px;
}

.tagList {
    display: flex;
    flex-grow: 2;
    margin-left: 5px;
}

.isDeleting {
    position: relative;
    opacity: 0.5;
}

.deletingSpinner {
    position: absolute;
    left: 50%;
    z-index: 1;
}

.bookmarkRibbon {
    position: absolute;
    top: 10px;
    left: -15px;
    width: 60px;
    height: 10px;
    transform: rotate(-45deg);
    background: #ff503e;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.dragElement {
    text-decoration: none;
    display: none;
    border: solid 2px color2;
    border-radius: 4px;
    font-size: 0.8rem;
    max-height: 50px;
    max-width: 330px;
    text-align: center;
    font-weight: 500;
    background: #5cd9a6;
    color: #fff;
    opacity: 1;
    padding: 5px 10px;
    position: absolute;
    margin-left: 25px;
}

.duckduckgo {
    padding-top: 9px;
    padding-bottom: 9px;

    & .url {
        margin-top: -16px;
    }

    & .displayTime {
        margin-top: -8px;
    }
}

.annotsCount {
    color: white;
    font-size: 10px;
    padding-left: 1px;
}

@keyframes onload {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
