.root {
    list-style: none;
    margin: 10px auto;
    padding: 0;
    max-width: 800px;
}

.timestamp {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    color: #9b9ba2;
}

.noScroll {
    overflow: hidden;
    margin-bottom: 0;
}

.main {
    margin-top: 90px;
    font-size: 0.65rem;
    font-weight: normal;

    @media (max-width: 1000px) {
        margin-top: 100px !important; /* stylelint-disable-line declaration-no-important */
    }
}

.proTip {
    margin-left: 1px;
    color: #3eb995;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.shortcut {
    vertical-align: middle;
    width: 35%;
    height: 35%;
    margin: -2px 10px 0px 10px;
}

.emoji {
    font-size: 30px;
    vertical-align: middle;
    margin-top: 1px;
    margin-right: 5px;
}

.infoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    margin: 30px auto 50px auto;
    font-size: 15px;
}
