.resultMessage {
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    font-family: 'Open Sans';
    color: grey;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    font-weight: 200;
}

.smallMessage {
    position: relative;
    left: -272px;
    top: -13px;
    margin: 0;
    color: #4abf9d;
    font-size: 15px;
    font-style: normal;

    & + ul {
        margin-top: -30px;
    }
}

.choiceBtn {
    padding: 6px 1.6em;
    border-radius: 25px;
    font-weight: 300;
    border: 1px solid #3eb995;
    font-size: 1.1rem;
    text-decoration: none;
    color: #3eb995;
    cursor: pointer;
    height: 35px;
    margin-left: 12px;
    margin-right: 12px;

    &:hover,
    &:active {
        background-color: #3eb995;
        color: #fff;
    }
}

.subTitle {
    font-size: 25px !important; /* stylelint-disable-line declaration-no-important */
    font-weight: 300 !important; /* stylelint-disable-line declaration-no-important */
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 10px;
}

.title {
    color: #3eb995;
    font-size: 30px;
    font-weight: 800;
    padding-top: 50px;
    margin-bottom: 30px;
    font-style: italic;
}
