.ribbon {
    composes: removeIcon from '../../../common-ui/icons.css';
    composes: nakedButton hoverColor from '../../../common-ui/colors.css';
    display: flex;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
