.tagname {
    color: #3eb995;
    padding: 2px 9px 3px 9px;
    border-radius: 3px;
    font-size: 13px;
}

.notExpanded {
    composes: lightBlueBackground from '../../../common-ui/colors.css';
    color: white;
    margin-left: 20px;
    max-width: 300px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
