@value colors: '../../../common-ui/colors.css';
@value color1, color2, color6, color4 from colors;

.container * {
    font-family: 'Poppins', sans-serif;
}

.section {
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 25px;
    margin-bottom: 15px;
}

.sectionTitle {
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    color: #3a2f45;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionTitleText {
    display: flex;
    align-items: center;
}

.subname {
    font-size: 15px;
    color: #544960;
    font-weight: 300;
    margin: 10px 0 10px 0;
}

.infoText {
    font-size: 16px;
    color: #544960;
    font-weight: 300;
    margin: 10px 0 10px 0;
}

.infoTextSmall {
    composes: infoText;
    font-size: 14px;
}

.whiteSpacer30 {
    margin-top: 45px;
}

.subSubTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #3a2f45;
    margin-top: 20px;
}

.block input {
    margin-right: 10px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 0px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    width: 100px;
    text-align: center;
}

.featureBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.featureContent {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.readMoreButton {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 12px;
    color: #3a2f45;
    cursor: pointer;
    font-weight: bold;
}

.titleSpace {
    margin-top: 20px;
}

.listItem {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e0e0e0;
    align-items: center;
    padding: 20px 10px;
}

.header {
    composes: sectionTitle from 'src/options/base.css';
}

.subHeader {
    composes: subText from 'src/options/base.css';
}

.buttonArea {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.dropdown {
    margin-left: 5px;
    vertical-align: 1px;
}

.subText {
    font-size: 14px;
    color: color6;
}

.titleBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.titleArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.trialNotif {
    border-radius: 5px;
    background-color: #5cd9a6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 15px;
    color: #3a2f45;
    cursor: pointer;
}

.trialHeader {
    font-size: 16px;
}

.betaPill {
    width: 60px;
    background-color: #5cd9a6;
    color: #3a2f45;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
