.container {
    margin-bottom: 50px;
}

.header {
    font-size: 20px;
    color: #808080;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 20px 0 15px;
}

.subHeader {
    font-size: 16px;
    font-weight: lighter;
    color: #a9a7a7;
    margin: -5px 0 20px;
}

.subText {
    font-size: 14px;
    font-weight: lighter;
    color: #a9a7a7;
}
