.tableContainer {
    max-height: 550px;
    overflow-y: scroll;
    clear: both;
}

.table {
    border-collapse: collapse;
    border: 1px solid #efefef;
    background: white;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.08);
    background-color: #f3f3f3;

    & th,
    & td {
        border-collapse: collapse;
        color: #666;
        border: 1px solid #efefef;
        padding: 15px 20px;
    }

    & th {
        background: #333;
        color: white;
        font-weight: 200;
        font-size: 0.7em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    & tr td {
        text-align: left;
        cursor: pointer;

        &:first-child {
            text-align: left;
        }
    }
}

.toggle {
    margin: 20px -20px -15px -20px;
    background-color: #f9f9f9;
    padding: 20px;
    font-size: 18px;
    padding-bottom: 40px;
}

.messageReadOrUnreadIcon {
    float: right;
    position: relative;
    right: -20px;
}

.dateNotif {
    float: right;
}

.icon {
    font-size: 1.5em;
    cursor: pointer;
}
