/* stylelint-disable declaration-no-important */

.root > input {
    /* XXX We cannot just *append* 'width' to transition-property, so we force-set it to 'all' */
    transition-property: all !important;
    box-sizing: content-box;
    width: 0;
}

/* When the date picker popup is active... */
:global(.react-datepicker__tether-enabled) > .root > input,
/* ...or if it should be kept expanded... */
.root.expanded > input {
    /* ...increase the input size. */
    width: 7em;  /* Should roughly fit a date (e.g. 12-12-2121) */
}

/* Otherwise (when not expanded), add a fix to override semantic-ui's padding.
 * (note: this needs a high selector specificity, as semantic-ui also sets '!important')
 */
:not(:global(.react-datepicker__tether-enabled)) > .root:not(.expanded) > input {
    padding-right: 0 !important;
}
