.dateRangeSelection {
    display: flex;
    background-image: url('img/calendar-icon.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 27px;
    padding-left: 60px;
    padding-right: 20px;
}

.datePicker {
    width: 130px;
    height: 37px;
    font-size: 15px;
    color:  #484848;
    border: none;
    margin: 0 10px;

    &::placeholder {
        color: #B8B8B8;
    }

    &:focus {
        outline: none;
        border: none;
    }
}
