.dateRangeSelection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 20em;
}
.dateRangeSelection > * {
    flex: 1 50%;
}
.datePicker {
    width: 100%;
    min-width: 100px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #888;
    padding: 4px;
    &:focus {
        outline: none;
        border: 1px solid grey;
    }
}
