.buttonBar {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
}

.button {
    border: none;
    background: none;
    transition: all 200ms;
    cursor: pointer;

    &:hover {
        color: #3eb995;
    }
}

.confirmButton {
    font-size: 1.2em;
    font-weight: 500;
}
