.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #FAFAFA;
    padding: 0 60px;
    box-shadow: 0px 2px 4px rgba(220, 220, 220, 0.7);
}

.logo {
    width: 131px;
    height: 33px;
}

.query {
    display: block;
    width: 100%;
    margin: 0 8px;
    max-width: 700px;
    height: 37px;
    border: none;
    border-radius: 3.5px;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(220, 220, 220, 0.7);
    background-image: url('img/search-icon.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 27px;
    padding-left: 60px;
    outline: none;
    color:  #484848;

    &::placeholder {
        color: #B8B8B8;
    }

    &:focus {
        outline: none;
        border: none;
        box-shadow: 0px 2px 6px rgba(200, 200, 200, 0.8);
    }
}

}

.main {
    margin-top: 100px;
}
