.navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fafafa;
    padding: 0 60px;
    box-shadow: 0 2px 4px rgba(220, 220, 220, 0.7);

    @media (max-width: 1000px) {
        justify-content: center;
        padding: 0;
    }
}

.logo {
    background-image: url('img/worldbrain-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 131px;
    height: 33px;

    @media (max-width: 1200px) {
        width: 24px;
        background-image: url('img/worldbrain-logo-narrow.png');
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.searchField {
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
    width: 100%;
    max-width: 700px;
    height: 37px;
    border-radius: 3.5px;
    box-shadow: 0 2px 4px 1px rgba(220, 220, 220, 0.7);
    background-color: white;
    transition: all 200ms ease-out;
}

.query {
    flex: 1;
    background-image: url('img/search-icon.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 27px;
    background-color: transparent;
    padding-left: 60px;
    font-size: 15px;
    color: #484848;
    border: none;

    &::placeholder {
        color: #b8b8b8;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 131px;

    @media (max-width: 1200px) {
        width: 24px;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.icon {
    height: 25px;
    width: 25px;
}

.main {
    margin-top: 100px;
}
