.pioneerBadge {
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    position: fixed;
    border: none;
    bottom: 0.9em;
    right: 4.2em;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.mainWindow {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

.notifications {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.Overview {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
}
