.navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fafafa;
    padding: 0 60px;
    box-shadow: 0 2px 4px rgba(220, 220, 220, 0.7);

    @media (max-width: 1000px) {
        justify-content: center;
        padding: 0;
    }
}

.logo {
    background-image: url('/img/worldbrain-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 131px;
    height: 33px;

    @media (max-width: 1200px) {
        width: 24px;
        background-image: url('/img/worldbrain-logo-narrow.png');
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.searchField {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 37px;
    border-radius: 3.5px;
    box-shadow: 0 2px 4px 1px rgba(220, 220, 220, 0.7);
    background-color: white;
    transition: all 200ms ease-out;

    @media (max-width: 724px) {
        margin: 0 8px;
    }
}

.query {
    flex: 1;
    background-image: url('/img/search-icon.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 27px;
    background-color: transparent;
    padding-left: 60px;
    font-size: 15px;
    color: #777;
    border: none;
    font-family: 'Open Sans';
    font-weight: lighter;

    &::placeholder {
        color: #b8b8b8;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

.links {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 180px;
    margin-left: -50px;
    font-weight: normal;
    height: 25px;

    @media (max-width: 1200px) {
        width: 24px;
    }

    @media (max-width: 1000px) {
        display: none;
    }

    > a {
        height: 25px;
    }
}

.icon {
    height: 25px;
    width: 25px;
}

.main {
    margin-top: 100px;
    font-size: 0.65rem;
    font-weight: normal;

    @media (max-width: 1000px) {
        margin-top: 100px !important; /* stylelint-disable-line declaration-no-important */
    }
}

.resultMessage {
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    font-family: 'Open Sans';
    color: grey;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    font-weight: 200;
}

.smallMessage {
    position: relative;
    left: -272px;
    top: -13px;
    margin: 0;
    color: #4abf9d;
    font-size: 15px;
    font-style: normal;

    & + ul {
        margin-top: -30px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.iconFilter {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.linkFilter {
    display: flex;
    justify-content: flex-start;

    @media (max-width: 1000px) {
        display: none;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 37px;
    background-color: #fafafa;
    transition: all 200ms ease-out;
    border-right: none;
}

.filtersContainer {
    @media (max-width: 1000px) {
        display: none;
    }
}

.hideFilter {
    display: none;
}

.upgrade {
    font-size: 15px;
    text-decoration: none;
    padding-top: 1px;
    padding-right: 30px;
    color: #3eb995;

    &:hover {
        color: #777;
    }

    @media (max-width: 1260px) {
        display: none;
    }
}

.choiceBtn {
    padding: 6px 1.6em;
    border-radius: 25px;
    font-weight: 300;
    border: 1px solid #3eb995;
    font-size: 1.1rem;
    color: #3eb995;
    cursor: pointer;
    height: 35px;
    margin-left: 12px;
    margin-right: 12px;

    &:hover,
    &:active {
        background-color: #3eb995;
        color: #fff;
    }
}

.subTitle {
    font-size: 25px !important; /* stylelint-disable-line declaration-no-important */
    font-weight: 300 !important; /* stylelint-disable-line declaration-no-important */
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 10px;
}

.title {
    color: #3eb995;
    font-size: 30px;
    font-weight: 800;
    padding-top: 50px;
    margin-bottom: 15px;
    font-style: italic;
}
