:root {
    --height: 100px;
    --vertical-spacing: 30px;
    --compact-scale: 0.6;
}

* {
    box-sizing: border-box;
}

.root {
    position: relative;
    display: flex;
    height: var(--height);
    box-sizing: content-box;
    justify-content: space-between;
    overflow: hidden;
    margin-top: var(--vertical-spacing);
    border: 1px solid #3eb99517;
    border-radius: 3px;
    background-color: #fefefe;
    color: inherit;
    text-decoration: none;
    box-shadow: 0 4px 20px 1px #3eb99517;

    &:hover {
        box-shadow: 0 3px 15px 4px rgba(200, 200, 200, 0.5);
        transform: scale(1.01);
    }

    transition: all 200ms ease-out;

    &:focus {
        outline: none;
        box-shadow: 0 3px 10px 1px rgba(217, 219, 221, 0.6);
    }

    &:hover .trash {
        opacity: 0.5;
    }

    &:hover .tag {
        opacity: 0.5;
    }

    &:hover .notBookmark {
        opacity: 0.5;
    }
}

/* List entries shown as context around a search result */
.root.compact {
    opacity: 0.7;
    transform: scale(0.6);
    transform-origin: top;

    /* Compensate margin for scale reduction. */
    margin-bottom: calc((var(--compact-scale) - 1) * var(--height));

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.isDeleting {
    position: relative;
    opacity: 0.5;
}

.deletingSpinner {
    position: absolute;
    left: 50%;
    z-index: 1;
}

.bookmarkRibbon {
    position: absolute;
    top: 10px;
    left: -15px;
    width: 60px;
    height: 10px;
    transform: rotate(-45deg);
    background: #ff503e;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.screenshotContainer {
    flex-shrink: 0;
    width: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: solid 1px #ebebeb;

    & .screenshot {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

.descriptionContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;

    & .title {
        font-size: 16px;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #173766;
        margin-bottom: 7px;
        margin-top: 12px;

        & .favIcon {
            height: 20px;
            margin-right: 5px;
            vertical-align: bottom;
            padding-bottom: 1px;
        }
    }

    & .url {
        font-size: 12px;
        min-width: 0;
        color: #888;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
    }

    & .time {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.url a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: #00c;
    }
}

.buttonsContainer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    float: right;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    margin: -10px;
    margin-bottom: -4px;
}

.displayTime {
    font-size: 11px;
    color: #c1c1c1;
    padding-bottom: 7px;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    margin: 0 3px 0 3px;
}

.trash {
    background-image: url('/img/trash_new.svg');
    opacity: 0.3;
    width: 20px;
    margin-top: 3px;
}

.bookmark {
    background-image: url('/img/star_full.svg');
    opacity: 0.8;
    width: 25px;
}

.notBookmark {
    background-image: url('/img/star_empty.svg');
    opacity: 0.3;
    width: 25px;

    &:hover {
        background-image: url('/img/star_full.svg');
    }
}

.tag {
    background-image: url('/img/tag.svg');
    opacity: 0.3;
    margin-top: 3px;
    width: 20px;
}

.tagList {
    display: flex;
    flex-grow: 2;
    margin-left: 15px;
    padding-bottom: 7px;
}
