.root {
    list-style: none;
    margin: 40px auto;
    padding: 0;
    width: 242px;
}

.timestamp {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Crimson', serif;

    &::before {
        content: '— ';
    }

    &::after {
        content: ' —';
    }
}

.clustered {
    margin-bottom: -90px;
    transition: transform 100ms;

    &:hover, &:focus {
        transform: translate(-5px, -75px) rotateZ(-5deg);
    }
}
