.root {
    list-style: none;
    margin: 40px auto;
    padding: 0;
    width: 242px;
}

.timestamp {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Crimson', serif;

    &::before {
        content: '— ';
    }

    &::after {
        content: ' —';
    }
}

.clustered {
    margin-bottom: -90px;
    transition: transform 100ms;

    &:hover, &:focus {
        transform: translate(-5px, -75px) rotateZ(-5deg);
    }
}

.noResultMessage {
    text-align: center;
    font-size: 30px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
