.root {
    list-style: none;
    margin: 40px auto;
    padding: 0;
    max-width: 600px;
}

/* Draw a line between list items. */
.showConnection {
    position: relative;
}
.showConnection > ::before {
    content: '';
    background: #ddd;
    display: block;
    position: absolute;
    left: 50%;
    top: -60px;
    width: 8px;
    /* High enough to cover the gap, but short enough to not stick out. */
    height: 60px;
    z-index: -1;
}

.timestamp {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;

    &::before {
        content: '— ';
    }

    &::after {
        content: ' —';
    }
}

.noResultMessage {
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    color: grey;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
