.mainTooltip {
    position: fixed;
    left: 8px;
    padding: 5px;
    margin-top: -13px;
    max-width: 280px;
    color: #3eb995;
    overflow: hidden;
    z-index: 1;

    @media (max-width: 1200px) {
        display: none;
    }

    @media (max-width: 800px) {
        display: inline-block;
        max-width: 210px;
    }
}

a {
    text-decoration: underline;
}

.tooltipButton {
    display: flex;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: 100;
    color: #777;
    padding-bottom: 5px;
    margin-left: 5px;
    box-shadow: 0px 4px 6px -6px;
}

.tooltipText {
    margin-top: 18px;
    padding: 5px;
    font-size: 14px;
    font-weight: 100;
}

.tooltipText img {
    max-width: 200px;
    margin-top: 5px;
}

.tooltipTitle {
    font-weight: 300;
    color: #777;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.refreshIcon {
    background-image: url('/img/refresh-tooltip.svg');
    width: 18px;
    height: 18px;
    margin-left: 14px;
}

.buttontooltipempty {
    border-radius: 30px;
    border: 1px solid #3eb995;
    font-weight: 100;
    font-size: 15px;
    color: #3eb995;
    cursor: pointer;
    height: 25px;
    width: 200px;
}

.tooltipButtonIcon {
    background-image: url('/img/hide.svg');
    width: 18px;
    height: 18px;
    margin-left: 14px;
}
