:root {
    --height: 100px;
    --vertical-spacing: 30px;
    --compact-scale: 0.6;
}

* {
    box-sizing: border-box;
}

.root {
    position: relative;
    display: flex;
    height: var(--height);
    box-sizing: content-box;
    justify-content: space-between;
    overflow: hidden;
    margin-top: var(--vertical-spacing);
    border: 1px solid #E3E3E3;
    border-radius: 1px;
    background-color: #FEFEFE;
    color: inherit;
    text-decoration: none;
    box-shadow: 0px 3px 5px 1px rgba(217, 219, 221, 0.6);

    &:hover {
        border: 1px solid #EAEAEA;
        box-shadow: 3px 4px 3px #888;
    }

    transition: border 200ms, box-shadow 200ms;

    &:focus {
        outline: none;
        border: 1px solid #EAEAEA;
        box-shadow: 3px 4px 3px #888;
        margin-left: -1px;
    }
}

.root.compact {
    opacity: 0.7;
    transform: scale(0.6);
    transform-origin: top;

    /* Compensate margin for scale reduction. */
    margin-bottom: calc((var(--compact-scale) - 1) * var(--height));

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.screenshotContainer {
    flex-shrink: 0;
    width: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: solid 1px #EBEBEB;

    & .screenshot {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    & .favIcon {
        align-self: center;
        width: 48px;
        height: 48px;
    }
}

.descriptionContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-left: 24px;

    & .title {
        font-size: 16px;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #084999;
        margin-bottom: 7px;

        & .favIcon {
            height: 18px;
            margin-right: 5px;
            vertical-align: bottom;
        }
    }

    & .url {
        font-size: 12px;
        min-width: 0px;
        color: #888888;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
    }

    & .time {
        font-size: 11px;
        color: #C1C1C1;
    }
}

.buttonsContainer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    padding-top: 5px;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    padding: 0;
    opacity: 0.7;

    @nest .root:hover & {
        opacity: 0.7;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    transition: opacity 200ms;

    & img {
        margin: 5px 5px;
        width: 25px;
    }
}
