:root {
    --height: 100px;
    --vertical-spacing: 30px;
    --compact-scale: 0.6;
}

* {
    box-sizing: border-box;
}

.root {
    position: relative;
    display: flex;
    height: var(--height);
    box-sizing: content-box;
    justify-content: space-between;
    overflow: hidden;
    margin-top: var(--vertical-spacing);
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background-color: #fefefe;
    color: inherit;
    text-decoration: none;
    box-shadow: 0 3px 10px 1px rgba(217, 219, 221, 0.6);

    &:hover {
        box-shadow: 0 3px 15px 4px rgba(200, 200, 200, 0.5);
        transform: scale(1.01);
    }

    transition: all 200ms ease-out;

    &:focus {
        outline: none;
        box-shadow: 0 3px 10px 1px rgba(217, 219, 221, 0.6);
    }
}

/* List entries shown as context around a search result */
.root.compact {
    opacity: 0.7;
    transform: scale(0.6);
    transform-origin: top;

    /* Compensate margin for scale reduction. */
    margin-bottom: calc((var(--compact-scale) - 1) * var(--height));

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.screenshotContainer {
    flex-shrink: 0;
    width: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: solid 1px #ebebeb;

    & .screenshot {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

.descriptionContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-left: 24px;

    & .title {
        font-size: 16px;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #084999;
        margin-bottom: 7px;

        & .favIcon {
            height: 18px;
            margin-right: 5px;
            vertical-align: bottom;
        }
    }

    & .url {
        font-size: 12px;
        min-width: 0;
        color: #888;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
    }

    & .time {
        font-size: 11px;
        color: #c1c1c1;
    }
}

.url a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: #00c;
    }
}

.buttonsContainer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
}

.trash {
    background-image: url('img/trash-icon.png');
}

.trash:hover {
    background-image: url('img/trash-icon-hovered.png');
}

.load {
    background-image: url('img/load-icon.png');
}

.load:hover {
    background-image: url('img/load-icon-hovered.png');
}
