.root {
    position: relative;
    display: flex;
    height: 10vh;
    box-sizing: content-box;
    justify-content: space-between;
    overflow: hidden;
    min-height: 100px;
    min-width: 500px;
    margin-top: 15px;
    border: 1px solid grey;
    background-color: snow;
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
        border: 1px solid black;
        box-shadow: 3px 4px 3px #888;
        margin-left: -1px;
    }
}

.root.compact {
    opacity: 0.7;
    transform: scale(0.8);
    margin-bottom: -20px;

    &:hover, &:focus {
        opacity: 1;
    }
}

.pageIconContainer {
    flex: 1 1 100px;
    overflow: hidden;
    color: #333;

    & img {
        display: table;
        height: 40%;
        margin-top: 35%;
        margin-left: 25%;
    }
}

.descriptionContainer {
    flex: 1 1 740px;
    flex-direction: column;
    font-size: 1.2em;
    padding-top: 10px;
    overflow: hidden;

    & .title {
        white-space: nowrap;
        margin: 0;
        padding: 0;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .url {
        font-size: 15px;
        margin-top: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .time {
        font-size: 13px;
        margin-top: 20px;
    }
}

.buttonsContainer {
    display: flex;
    flex: 1 1 15px;
    margin-top: 5px;
    margin-right: 5px;
    flex-direction: column;
    color: inherit;
    text-decoration: none;

    & img {
        height: 15px;
        padding: 5px;
        width: 15px;

        opacity: 0.1;
        @nest .root:hover & {
            opacity: 0.4;
            &:hover {
                opacity: 1;
            }
        }
        transition: opacity 200ms;
    }
}

.screenshotContainer {
    flex: 1 1 175px;
    text-align: center;
    color: #D3D3D3;
    overflow: hidden;
    display: inline-block;
    border-left: 0.5px solid grey;

    & img {
        display: block;
        height: 100%;
        width: 100%;
        transform: scale(1.3);
        margin-top: 15px;
    }

    & .noScreenshotAvailable {
        display: block;
        height: 100%;
        width: 100%;
        transform: scale(1.3);
        margin-top: 45px;
    }
}
