* {
    box-sizing: border-box;
}

.root {
    position: relative;
    display: flex;
    height: 100px;
    box-sizing: content-box;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 15px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: snow;
    color: inherit;
    text-decoration: none;
    box-shadow: 1px 2px 1px #aaa;

    &:hover {
        border: 1px solid black;
        box-shadow: 3px 4px 3px #888;
    }
    transition: border 200ms, box-shadow 200ms;

    &:focus {
        outline: none;
        border: 1px solid black;
        box-shadow: 3px 4px 3px #888;
        margin-left: -1px;
    }
}

.root.compact {
    opacity: 0.7;
    transform: scale(0.75);
    transform-origin: top;
    margin-bottom: -20px;

    &:hover, &:focus {
        opacity: 1;
    }
}


.screenshotContainer {
    flex-shrink: 0;
    width: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    & .screenshot {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    & .favIcon {
        align-self: center;
        width: 48px;
        height: 48px;
    }
}

.descriptionContainer {
    flex: 1 1 auto;
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .title {
        padding-bottom: 6px;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        & .favIcon {
            height: 16px;
            margin-right: 4px;
        }
    }

    & .url {
        font-size: 15px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .time {
        align-self: flex-end;
        font-size: 13px;
    }
}

.buttonsContainer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    padding-top: 5px;

    & img {
        margin: 5px 8px;
        width: 15px;

        opacity: 0.1;
        @nest .root:hover & {
            opacity: 0.4;
            &:hover {
                opacity: 1;
            }
        }
        transition: opacity 200ms;
    }
}
