:root {
    --height: 100px;
    --vertical-spacing: 15px;
    --compact-scale: 0.6;
}

.root,
.root * {
    box-sizing: border-box;
}

.root {
    position: relative;
    display: flex;
    height: var(--height);
    box-sizing: content-box;
    justify-content: space-between;
    overflow: hidden;
    margin-top: var(--vertical-spacing);
    border: 1px solid grey;
    border-radius: 3px;
    background-color: snow;
    color: inherit;
    text-decoration: none;
    box-shadow: 1px 2px 1px #aaa;

    &:hover {
        color: inherit;
        text-decoration: none;
        border: 1px solid black;
        box-shadow: 3px 4px 3px #888;
    }

    transition: border 200ms, box-shadow 200ms;

    &:focus {
        outline: none;
        border: 1px solid black;
        box-shadow: 3px 4px 3px #888;
        margin-left: -1px;
    }
}

/* List entries for which no stored version is available */
.root:not(.available) > * {
    opacity: 0.5;
}

/* List entries shown as context around a search result */
.root.compact {
    transform: scale(0.6);
    transform-origin: top;

    /* Compensate margin for scale reduction. */
    margin-bottom: calc((var(--compact-scale) - 1) * var(--height));

    & > * {
        opacity: 0.7;
    }

    &:hover,
    &:focus > * {
        opacity: 1;
    }
}

.screenshotContainer {
    flex-shrink: 0;
    width: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    & .screenshot {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    & .favIcon {
        align-self: center;
    }

    & img.favIcon {
        width: 36px;
        height: 36px;
    }
}

.descriptionContainer {
    flex: 1 1 auto;
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .title {
        padding-bottom: 6px;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        & .favIcon {
            height: 16px;
            margin-right: 4px;
        }
    }

    & .url {
        font-size: 15px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .time {
        align-self: flex-end;
        font-size: 13px;
    }
}

/* Fainten the original URL, except when the link icon is hovered */
.url a:not(:hover) + * {
    opacity: 0.6;
}

.buttonsContainer {
    & button {
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }
}
