.icon {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin: 3px 3px 0px 0px;

    &:hover {
        border-radius: 50px;
        background-color: #f0f0f0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        margin: 3px 3px 0px 0px;
        top: 7px;
        right: 7px;
        cursor: pointer;
        width: 13px;
        height: 13px;
    }
}

.title {
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-direction: row;
    width: 100%;
}

.notifContainer {
    width: fit-content;
    margin: 10px auto;
    margin-top: 20px;
    text-align: left;
}

.selectIcon {
    height: 30px;
    vertical-align: super;
}

.notifText {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-bottom: 23px;
    margin-left: 15px;
}
