@value colors: 'src/common-ui/colors.css';
@value color4, color6, color2 from colors;

.container {
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: row;
    width: 100%;
}

.title {
    font-weight: 600;
    color: color4;
    font-size: 18px;
}

.notifContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tutorial {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.instructions {
    color: color6;
    margin-top: 15px;
    padding: 0 80px;
    line-height: 20px;
}
