.container {
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
}

.title {
    font-weight: 400;
    color: #173766;
    font-size: 17px;
}

.notifContainer {
    width: fit-content;
    margin: 10px auto;
    margin-top: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.button {
    color: #333;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.emoji {
    font-size: 33px;
    vertical-align: middle;
    margin-top: -7px;
}

.protip {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 0px 3px;
    text-transform: uppercase;
}

.key {
    color: white;
    padding: 5px;
    background-color: #3eb995;
    margin: 0px 3px;
}

.keys {
    margin-top: 20px;
    margin-bottom: 40px;
}

.instructions {
    margin-top: 20px;
    color: #3eb995;
}
