.box {
    position: absolute;
    padding: 50px 50px 50px 60px;
    border: 1px solid #efefefef;
    box-shadow: 0px 80px 80px -80px #d2d2d2;
    border-radius: 8px;
    left: 50%;
    z-index: 2500;
    margin-left: -300px;
    margin-top: -150px;
    width: 600px;
    height: 300px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-areas:
        'header'
        'description'
        'linkbox'
        'buttonbox';
}

.header {
    grid-area: header;
    margin: 0px;
    text-align: center;
    color: #273961;
    font-style: italic;
}

.description {
    grid-area: description;
    margin: 0px;
    text-align: center;
    color: #273961;
}

.linkbox {
    grid-area: linkbox;
    display: inline-block;
    justify-self: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    cursor: pointer;
}

.buttonbox {
    grid-area: buttonbox;
    display: inline-block;
    justify-self: center;
    margin-bottom: 10px;
}

.colorbutton,
.greybutton {
    display: inline-block;
    padding: 9px 10px;
    border-radius: 5px;
    padding-left: 20px;
    background-color: #F29D9D;
    margin-top: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.colorbutton {
    color: #F29D9D
}

.colorbutton:hover {
    background: #5cd9a6;
}

.greybutton {
}

.greybutton:hover {
    color: #1A2F58;
}