.close {
    cursor: pointer;
    z-index: 2147483647;
    line-height: normal;
    background: transparent;
    border: none;
    outline: none;
}

.closeIcon {
    background-image: url('/img/removeIcon.svg');
    background-size: 17px;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-position: center;
    border-radius: 50%;

    &:hover {
        background-color: rgba(55, 53, 47, 0.2);
    }
}
