.close {
    cursor: pointer;
    color: #3eb995;
    z-index: 2147483647;
    line-height: normal;
    background: #fff;
}

.closeIcon {
    background-image: url('/img/cross.svg');
    background-size: 15px;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    background-position: 6.5px 6.5px;
    border-radius: 50%;

    &:hover {
        background-color: #efefef;
    }
}
