@value colors: 'src/common-ui/colors.css';
@value color4 from colors;

.container {
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.firstRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.partyPopper {
    height: 43px;
    margin-top: 16px;
}

.title {
    color: color4;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
}

.learnMore {
    composes: CTA from 'src/common-ui/elements.css';
    cursor: pointer;
    font-size: 14px;
    width: max-content;
    margin: auto;
}
