@value colors: '../../common-ui/colors.css';
@value color4, color6 from colors;

.emptyMessage {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    margin-top: 90px;

    & .emoji {
        font-size: 20px;
        margin-bottom: 15px;
        color: color4;
    }

    & .text {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 15px;
        color: color6;
    }
}

.learnHow {
    composes: CTA from '../../common-ui/elements.css';
}
