.formContainer {
    display: flex;
    border-radius: 1px;
    box-shadow: 0 6px 31px -11px rgba(34, 12, 12, 0.32157);
}

.button {
    cursor: pointer;
    z-index: 2147483647;
    line-height: normal;
    background: #fff;
    border: none;
    outline: none;
}

.searchIcon {
    background-image: url('/img/search-icon.svg');
    background-size: 15px;
    display: block;
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    background-position: 6.5px 6.5px;
    border-radius: 50%;
}

.inputBox {
    color: rgb(75, 94, 115);
    padding: 5px 0px;
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 12px;
}
