.topbar {
    position: sticky;
    top: 0;
    background: #fff;
    width: calc(100% + 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2147483647;
    padding: 13px 8px 5px 3px;
    height: 35px;
    box-sizing: border-box;
    margin-left: -5px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    composes: nakedSquareButton from '../../common-ui/elements.css';
    width: 30px;
    height: 30px;
    border-radius: 3px;
    opacity: 0.8;
    margin-left: 4px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.comments {
    background-image: url('/img/comment_add.svg');
}
