.showMoreBtn {
    cursor: pointer;
    display: inline-flex;
    border: none;
    outline: none;
    font-style: bold;

    &.rotated {
        background-image: url('/img/longarrow.svg');
        content: '';
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(-180deg);
        transform-origin: center;
        width: 30px;
        height: 20px;
        background-size: 50px;
    }
}
