.showMoreBtn {
    display: inline-flex;
    border: none;
    outline: none;
    vertical-align: text-top;
    font-weight: bold;
    background: transparent;
    font-size: 12px;
    margin-top: -1px;
    cursor: pointer;

    &.rotated {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        transform-origin: center;
        width: 30px;
        height: 20px;
        background-size: 50px;
    }
}
