.emptyMessage {
    width: 65%;
    margin: 0px auto;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 90px;

    & .emoji {
        font-size: 20px;
        margin-bottom: 15px;
    }

    & .text {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 15px;
    }

    & .learnHow {
        color: #fff;
        text-decoration: none;
        padding: 3px 14px;
        background-color: #3eb995;
        border-radius: 5px;
        cursor: pointer;
        font-size: 13px;
        letter-spacing: 1px;
    }
}
