@value colors: 'src/common-ui/colors.css';
@value color4, color6, color14, radius3 from colors;

.menuSeparator {
    margin: 0;
    border: 1px solid #efefef;
}

.menuItem {
    &:hover {
        background-color: color14;
    }

    &.smallMenuItem {
        padding: 5px 20px;
    }
}

.text {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
}

.smallText {
    color: color6;
    font-size: 0.8em;
    width: 230px;
    padding: 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuContainer {
    composes: toolTips from 'src/common-ui/elements.css';
    background: white;
    font-size: 14px;
    position: fixed;
    bottom: 4.5em;
    right: 1em;
    border-radius: 3px;
    font-weight: 500;
    width: 230px;
    padding: 5px 0px;
}

.footerText {
    color: color6;
    font-size: 0.8em;
    padding: 5px 10px 0px 20px;
}
