.memex-highlight {
    background: #d4e8ff;
    transition: all 0.1s;
    cursor: pointer;

    &.medium {
        background: #89e9ff;
    }

    &.dark {
        background: #89e9ff;
    }

    &.tmp {
        background: #d4e8ff;
    }
}

.memex-highlight-tmp {
    background: #d4e8ff;
    transition: all 0.1s;
    cursor: pointer;
}

.dark-mode {
    color: #000;
}
