.ribbon {
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    z-index: 1100;

    /* z-index: 2147483647;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #7777775c;
    border-right: none; */
    transform: translate(0, 0);
    transition: all 0s ease-in;

    /* box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.16); */
    line-height: normal;
    text-align: start;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
}

.ribbonExpanded {
    composes: sideBarColorOpen from '../../../common-ui/colors.css';
    display: grid;
    width: 55px;
    grid-template-rows: 25% 50% 25%;
}

/* SECTIONS */

.generalActions {
    grid-row-gap: 20px;
    display: grid;
    justify-items: flex-start;
    align-self: flex-start;
    padding-top: 30px;
}

.pageActions {
    grid-row-gap: 20px;
    display: grid;
    justify-items: flex-start;
    align-self: flex-start;
    padding-top: 30px;
}

.settingsActions {
    grid-row-gap: 20px;
    display: grid;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 30px;
}

/* ICONS */

.buttons {
    align-items: center;
    display: block;
}

.button {
    composes: nakedButton from '../../../common-ui/elements.css';
    composes: hoversidebaropen from '../../../common-ui/colors.css';
    width: 25px;
    height: 25px;
    border-radius: 3px;
    opacity: 0.6;
    margin-left: 4px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }

    &:active {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.dashboard {
    background-image: url('/img/open.svg');
}

.arrow {
    background-image: url('/img/arrow.svg');
    transition: 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.arrowReverse {
    background-image: url('/img/arrow.svg');
    transform: background rotate(180deg);
    transition: 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.search {
    background-image: url('/img/searchGrey.svg');
}

.tag {
    background-image: url('/img/tag.svg');
}

.collection {
    background-image: url('/img/collections_add.svg');
}

.comments {
    background-image: url('/img/comment_add.svg');
}

.bookmark {
    background-image: url('/img/star_full.svg');
}

.notBookmark {
    background-image: url('/img/star_empty.svg');
}

.settings {
    background-image: url('/img/settings.svg');
}

.tooltipOn {
    background-image: url('/img/highlightOn.svg');
}

.tooltipOff {
    background-image: url('/img/highlightOff.svg');
}

.ribbonOn {
    background-image: url('/img/ribbonOn.svg');
}

.ribbonOff {
    background-image: url('/img/ribbonOff.svg');
}

.ribbonIcon {
    padding-top: 1px;
}

.pauseIcon {
    background-image: url('/img/pause.svg');
}

.playIcon {
    background-image: url('/img/pause_active.svg');

    &:hover {
        background-image: url('/img/play.svg');
    }
}

/* Interaction Modals */

.collectionDiv {
    border-radius: 3px;
}

.searchInput {
    background: white;
    width: calc(100% - 30px);
    border-radius: 50px;
    border: none;
    padding: 0 15px;
    height: 35px;
    font-size: 13px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    text-overflow: ellipsis;

    &:focus {
        outline: none;
    }
}

.commentBox {
    width: 300px;
    height: 150px;
    border: 2px solid #5cd9a6;
    top: 50px;
    background: white;
}

.commentSaved {
    border-radius: 50px;
    border: 1px solid #5cd9a6;
    width: 100px;
    height: 35px;
}

.commentText {
    font-size: 15px;
    margin-left: 50px;
}

.saveBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.saveIcon {
    background-image: url('/img/saveIcon.svg');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.saveText {
    font-weight: 600;
    margin-left: 10px;
}

.logo,
.toggler,
.cancel {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.logo {
    width: 15px;
    height: 20px;
    margin-left: 10px;
}

.cancel {
    background-image: url('/img/cross_grey.svg');
    fill: white;
    background-size: 12px;
    width: 12px;
    height: 12px;
}
