.ribbon {
    position: fixed;
    top: 0;
    right: 0;
    width: 55px;
    height: 100%;
    background: transparent;
    z-index: 1100;

    /* z-index: 2147483647;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #7777775c;
    border-right: none; */
    transform: translate(0, 0);
    transition: all 0s ease-in;

    /* box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.16); */
    line-height: normal;
    text-align: start;
    font-family: serif;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ribbonExpanded {
    background: #eef0f4;
    display: grid;
}

.buttons {
    align-items: center;
    display: block;
}

.button {
    margin-bottom: 25px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    opacity: 0.2;
    margin-left: 4px;

    &:hover {
        opacity: 0.75;
    }
}

.search {
    background-image: url('/img/search-icon.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    height: 25px;
}

.searchInput {
    border: 2px solid #5cd9a6;
    margin-right: 4px;
    padding-left: 8px;
    border-radius: 8px;
    background: #fff;
    color: #bcc2bd;
    width: 180px;
    height: 35px;
}

.tooltipLeft {
    margin-right: 10px;
}

.commentBox {
    width: 300px;
    height: 150px;
    border: 2px solid #5cd9a6;
    padding-bottom: 15px;
}

.tag {
    background-image: url('/img/tag_blue_empty.svg');
    margin-left: 6px;

    &:hover {
        background-image: url('/img/tag_blue.svg');
    }
}

.collection {
    background-image: url('/img/collections.svg');
    margin-left: 6px;

    &:hover {
        background-image: url('/img/tag_blue.svg');
    }
}

.collectionDiv {
    width: 300px;
    margin-right: 15px;
    border: 2px solid #5cd9a6;
}

.bookmark {
    background-image: url('/img/star_blue_full.svg');
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.notBookmark {
    background-image: url('/img/star_blue_empty.svg');
}

.settings {
    background-image: url('/img/settings.svg');
}

.pauseIcon {
    background-image: url('/img/pause_blue.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.playIcon {
    background-image: url('/img/play_blue.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.arrow {
    background-image: url('/img/arrow_ribbon.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.arrowBox {
    width: 9px;
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
    padding-top: 1px;
}

.buttonHolder {
    /* border-bottom: 1px solid #c2c2c2; */
    display: flex;
    margin-left: 10px;
    padding-top: 1px;
}

.logo,
.toggler,
.cancel {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.logo {
    width: 15px;
    height: 20px;
    margin-left: 10px;
}

.toggler {
    fill: white;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.cancel {
    background-image: url('/img/cross_grey.svg');
    fill: white;
    background-size: 12px;
    width: 12px;
    height: 12px;
}

.tooltipOn {
    background-image: url('/img/tooltipIcon_blue.svg');
}

.tooltipOff {
    background-image: url('/img/tooltipIcon_grey.svg');
}

.ribbonOn {
    background-image: url('/img/sidebarIcon_blue.svg');
}

.ribbonOff {
    background-image: url('/img/sidebarIcon_grey.svg');
}

.ribbonIcon {
    padding-top: 1px;
}
