.close {
    position: fixed;
    top: 10px;
    right: -20px;
    opacity: 0;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #3eb995;
    z-index: 2147483647;
    background: #e1ece9;
    padding: 2px 7.5px 4px 7.5px;
    border-radius: 25px;
    animation: moveLeft 0.4s linear;
    animation-fill-mode: forwards;
    line-height: normal;

    &.overview {
        top: 80px;
    }

    &.hidden {
        animation: moveRight 0.4s linear;
    }
}

@keyframes moveLeft {
    0% {
        right: -20px;
        opacity: 0;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        right: 326px;
    }
}

@keyframes moveRight {
    0% {
        right: 326px;
        opacity: 1;
    }

    20% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        right: -20px;
        display: none;
    }
}
