.close {
    position: fixed;
    top: 0px;
    right: 334px;
    cursor: pointer;
    color: #3eb995;
    z-index: 2147483647;
    padding: 2px 7.5px 4px 7.5px;
    line-height: normal;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #d0cece;
    border-left: 1px solid #d0cece;
    padding-top: 5px;
    padding-bottom: 5px;
    animation: fadeIn 0s linear 0s;
    animation-fill-mode: both;

    &.overview {
        top: 72px;
        right: 330px;
        z-index: 1200;
        padding-top: 5px;
        padding-bottom: 5px;
        animation: fadeIn 0s linear 0s;
        animation-fill-mode: both;
        height: 42px;
    }

    &.hidden {
        display: none;
    }
}

.closeIcon {
    background-image: url('/img/cross_grey.svg');
    background-size: 15px;
    display: block;
    margin-top: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    background-position: 6.5px 6.5px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 0;

    &:hover {
        background-image: url('/img/cross.svg');
        background-color: #efefef;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(40px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
