.close {
    cursor: pointer;
    z-index: 2147483647;
    line-height: normal;
    background: transparent;
    border: none;
    outline: none;
}

.closeIcon {
    composes: closeIcon from 'src/common-ui/icons.css';
    background-size: 12px;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: center;
    border-radius: 3px;
}
