.close {
    position: fixed;
    top: 10px;
    right: 326px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #3eb995;
    z-index: 2147483647;
    background: #e1ece9;
    padding: 2px 7.5px 4px 7.5px;
    border-radius: 25px;

    &.overview {
        top: 80px;
        right: 325px;
    }
}
