.container {
    width: 75%;
    margin: 20px auto;
    margin-left: 48px;
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
}

.firstRow {
    display: flex;
}

.partyPopper {
    height: 43px;
    margin-top: 16px;
}

.title {
    color: #506288;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    margin-left: 15px;
    text-transform: uppercase;
}

.learnMore {
    background: #3eb995;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 200;
    width: fit-content;
    margin: 3px auto;
}

.subtext {
    color: #616161;
    font-family: 11px;
    margin-top: 6px;
    cursor: pointer;
}
