.container {
    box-sizing: border-box;
    width: 95.3%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0px;
    padding-bottom: 0px;
    color: #000;
    font-family: sans-serif;
    font-size: 13px;
    border: 1px #d2d2d2 solid;
    margin-left: 8px;
    position: relative;
    margin-top: 13px;
    padding-top: 0;
    transition: border 0.05s ease-in;
    border-color: #3db994b8;
    box-shadow: 0px 0px 5px 1px #00000050;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > * {
        font-family: 'Lato', sans-serif;
        box-sizing: border-box;
    }
}

p {
    margin-bottom: 0px;
}

.header {
    color: #3eb995;
    width: 90%;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'Uni Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
}

.boldText {
    color: #1e3357;
    font-weight: 600;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.5px;
}

.text {
    color: #5d697bc4;
    font-size: 16px;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 200;
    text-align: center;
    font-family: 'lato';
}

.learnMore {
    background-color: #3eb995;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    border: 2px solid #3eb995;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;

    &:hover {
        background-color: white;
        color: #3eb995;
    }
}

.closeDiv {
    color: #acacac;
    margin-top: 20px;
    border-top: 1px solid #c5c6c5;
    width: 100%;
    padding: 10px 12px;
    vertical-align: middle;
    text-align: right;
    cursor: pointer;
    font-weight: 100;
}
