@value colors: '../../common-ui/colors.css';
@value color4, color6 from colors;

.emptyMessage {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    margin-top: 90px;
    animation: onload 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

    & .emoji {
        font-size: 20px;
        margin-bottom: 15px;
        color: color4;
    }

    & .text {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 15px;
        color: color6;
    }
}

.learnHow {
    composes: CTA from '../../common-ui/elements.css';
}

@keyframes onload {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
