.footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -5px;
}

.savecancel {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5px;
}
