/* stylelint-disable declaration-no-important */
.ribbon {
    position: fixed;
    top: 35%;
    right: -50px;
    width: 10px;
    height: 130px;
    background-color: #fff;
    z-index: 2147483647;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #7777775c;
    border-right: none;
    transform: translate(0, 0);
    transition: all 0s ease-in;
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.16);
    line-height: normal;
    text-align: start;
    font-family: serif;
    animation: slideLeft 0.15s ease-in 1s 1 forwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:-webkit-fullscreen {
        display: none;
    }
}

.ribbonExpanded {
    width: 45px;
    display: grid;
    grid-template-areas: 'buttons arrow';
    grid-template-columns: 1fr 1fr;
}

.buttons {
    grid-area: buttons;
}

.arrow {
    grid-area: arrow;
    justify-self: center;
}

.ribbonSidebarActive {
    opacity: 0;
}

.sidebarFrame {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;

    /* Giving it !important to prevent global overrides */
    width: 340px !important;
    height: 100% !important;
    min-width: 340px !important;
    max-width: 340px !important;
    min-height: 100% !important;
    max-height: 100% !important;
    z-index: 2147483646;
    transform: translate(400px, 0);
    transition: all 0.05s ease-in;
}

.sidebarActive {
    transform: translate(0, 0);
}

.onFullScreen {
    display: none;
}

.buttonHolder {
    /* border-bottom: 1px solid #c2c2c2; */
    padding: 3px 0;
    width: 86%;
    margin: 0px auto;
    display: block;
}

.logo,
.toggler,
.cancel,
.settings {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.logo {
    background-image: url('../../../img/worldbrain-logo-narrow.png');
    background-size: 18px;
    margin-top: 7px;
    width: 18px;
    height: 25px;
    margin-left: 6px;
}

.toggler {
    fill: white;
    background-size: 14px;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    margin-top: 5px;
}

.tooltipOn {
    background-image: url('../../../img/tooltipIcon_blue.svg');
}

.tooltipOff {
    background-image: url('../../../img/tooltipIcon_grey.svg');
}

.ribbonOn {
    background-image: url('../../../img/sidebarIcon_blue.svg');
}

.ribbonOff {
    background-image: url('../../../img/sidebarIcon_grey.svg');
}

.cancel {
    background-image: url('../../../img/cross_grey.svg');
    fill: white;
    background-size: 14px;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    margin-top: 5px;
}

.settings {
    background-image: url('../../../img/settings_grey.svg');
    fill: white;
    background-size: 17px;
    width: 15px;
    height: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

@keyframes slideLeft {
    0% {
        right: -50px;
    }

    100% {
        right: 0px;
    }
}
