.formContainer {
    composes: searchField from '../../common-ui/elements.css';
    display: flex;
}

.button {
    cursor: pointer;
    z-index: 2147483647;
    line-height: normal;
    background: transparent;
    border: none;
    outline: none;
}

.searchIcon {
    background-image: url('/img/searchIcon.svg');
    background-size: 15px;
    display: block;
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    background-position: center;
    border-radius: 50%;
    background-color: transparent;
}

.inputBox {
    composes: searchField from '../../common-ui/elements.css';
    padding: 5px 0px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
