@import url('/fonts/googlefonts/ibm-plex-serif.css');
@import url('/fonts/googlefonts/lato.css');

.sidebar {
    padding: 0px;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    border-left: 3px solid #fafafa;

    & > * {
        font-family: 'IBM Plex Serif', serif;
        margin: 0;
        box-sizing: border-box;
    }
}

.closeButton {
    color: #000;
    font-weight: 800;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.sidebarTitle,
.previous {
    color: #3eb995;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 100;
}

.sidebarTitle {
    font-size: 18px;
}

.previous {
    font-size: 15px;
}

.annotationContainer {
    margin: 20px 0px;
    margin-bottom: 100px;
    background: #fff;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.allnotes {
    font: 600 14px 'Lato', sans-serif;
    display: inline-block;
    position: relative;
    margin-top: 25px;

    &::after {
        content: '';
        width: 70px;
        height: 1px;
        background: #d2d2d2;
        position: absolute;
        top: 49%;
        margin-left: 20px;
    }

    &::before {
        content: '';
        width: 70px;
        height: 1px;
        background: #d2d2d2;
        position: absolute;
        top: 49%;
        margin-left: -90px;
    }
}
