* {
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    padding: 10px 15px;
    height: 100%;
    background: #fafafa;
    overflow-y: scroll;
}

.sidebarTitle,
.previous {
    color: #3eb995;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 100;
}

.sidebarTitle {
    font-size: 18px;
}

.previous {
    font-size: 15px;
}

.annotationContainer {
    margin-top: 10px;
    height: 100%;
    background: #fafafa;
}

.extraHeight {
    height: 100px;
    background-color: #fafafa;
}
