.tagHolder {
    composes: TextArea from '../../common-ui/elements.css';
    height: 40px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.tag {
    composes: tagPillRemove from '../../common-ui/elements.css';
}

.tagIcon {
    background-image: url('/img/tag_empty.svg');
    background-size: 15px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.placeholder {
    display: inline-block;
    color: #888;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.plus {
    font-size: 21px;
    position: absolute;
    right: 15px;
    font-weight: bold;
    color: #555;
}

.tagsLeft {
    font-weight: 800;
    color: #888;
}

.remove {
    composes: closeIcon from '../../common-ui/icons.css';
    composes: nakedButton hoverColor from '../../common-ui/colors.css';
    padding: 3px;
    width: 8px;
    height: 8px;
    background-size: 9px;
    margin-left: 3px;
    opacity: 0.7;

    &:hover {
        background-color: white;
    }
}
