.tagHolder {
    font-size: 12px;
    font-weight: 200;
    padding: 5px;
    border: none;
    background-color: #f7f7f7;
    margin-left: 7px;
    width: 293px;
    height: 30px;
    overflow-x: hidden;
}

.tag {
    font-size: 13px;
    font-weight: 800;
    background-color: #c6f3e5;
    color: #000;
    margin-left: 5px;
    margin-right: 3px;
    padding: 2px 5px;
    cursor: pointer;
    margin-top: 0.7px;
}

.placeholder {
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
    color: #4a4a4a;
}
