.tagHolder {
    font-size: 13px;
    font-weight: 200;
    padding: 5px;
    border: none;
    background-color: #f7f7f7;
    height: 30px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

    & > * {
        font-family: 'Lato', sans-serif;
    }
}

.tag {
    font-size: 12px;
    font-weight: 800;
    background-color: #3eb995;
    color: #fff;
    padding: 3px 5px;
    margin-right: 8px;
}

.placeholder {
    display: inline-block;
    margin-left: 3px;
    color: #4a4a4a;
    font-style: italic;
}

.plus {
    font-size: 21px;
    position: absolute;
    right: 10px;
    top: 2px;
    font-weight: bold;
    color: #555;
}

.tagsLeft {
    font-weight: 800;
    color: #888;
    font-family: 'Lato', sans-serif;
}

.cross {
    color: #777;
    cursor: pointer;
    margin-left: 4px;
}
