@value colors: 'src/common-ui/colors.css';
@value color8, color1, color14 from colors;

.topbar {
    position: sticky;
    top: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2147483647;
    padding: 7px 8px 5px 3px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 3px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filterButton {
    composes: filterText from 'src/common-ui/elements.css';
    font-size: 12px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    margin-left: 2px;
    border: none;
    background-color: transparent;

    &:focus {
        background-color: color1;
    }
}

.filterButtonActive {
    background-color: color14;
    padding-right: 3px !important; /* stylelint-disable-line declaration-no-important */
}

.clearFilters {
    composes: clearFilters from 'src/sidebar-overlay/sidebar/components/filters-sidebar.css';

    &:hover {
        background-color: color8 !important; /* stylelint-disable-line declaration-no-important */
    }
}

.button {
    composes: nakedSquareButton from '../../common-ui/elements.css';
    width: 25px;
    height: 25px;
    border-radius: 3px;
    opacity: 0.8;
    margin-left: 4px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.comments {
    background-image: url('/img/comment_add.svg');
}
