.topbar {
    position: sticky;
    top: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2147483647;
    padding: 7px 8px 5px 3px;
    height: 40px;
    box-sizing: border-box;
    margin-left: -5px;
    margin-top: 3px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filterButton {
    composes: filterText from 'src/common-ui/elements.css';
    font-size: 12px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: none;
}

.button {
    composes: nakedSquareButton from '../../common-ui/elements.css';
    width: 25px;
    height: 25px;
    border-radius: 3px;
    opacity: 0.8;
    margin-left: 4px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.comments {
    background-image: url('/img/comment_add.svg');
}
