.listName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    flex: 10;
    font-weight: 300;
    cursor: pointer;
    text-align: left;
}

.menuItem {
    display: flex;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    border-bottom: 1px solid grey;
    word-wrap: break-word;

    &:hover,
    &:focus,
    &:active {
        background-color: #f7f7f7;
        outline: none;
    }
}

.menuItemFocused {
    background-color: #f7f7f7;
}

.menuItem i {
    font-size: 12px;
    float: right;
    margin-top: 3px;
}

.minus {
    max-height: 2px;
    font-weight: 800;
}
