.parentExpanded {
    padding-left: 15px;
    border-left: 4px solid #5cd9a6; /* MAN - Manual Adjustment Needed */
    margin-left: 15px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    width: 783px;
}

.parentExpandedSidebar {
    width: 92%;
}

.resultCount {
    color: #3a2f45;
    margin: 0px 0 15px 0;
    text-align: start;
    font-size: 13px;
    justify-content: center;
    cursor: pointer;
    animation: onload 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    display: flex;
    padding-top: 3px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/triangleSmall.svg');
    vertical-align: bottom;
    margin-top: 1px;
    margin-left: 3px;
    transition: transform 0.2s ease-in;
    background-size: 15px;
}

.expandedCount {
    margin: 0px 0 -5px 0;
    width: stretch;
}

.inverted {
    transform: rotate(180deg);
}

.resultsText {
    margin-left: 3px;
}

.annotationList {
    display: flex;
    flex-direction: column;
}

.noanimation {
    animation: none;
}

.annotation {
    animation: annotationLoad 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.annotationBoxInpage {
    width: auto;
    animation: annotationLoad 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.commentIcon {
    background-image: url('/img/comment_empty.svg');
}

@keyframes onload {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes annotationLoad {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
