.overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 65px;
    width: 282px;
    min-height: 166px;
    z-index: 99999;
    background: white;
    composes: borderRadiusBig boxShadow from '../colors.css';
    composes: borderColor from '../colors.css';
    cursor: pointer;

    /* &:disabled,
    &[disabled] {
        cursor: default;
    } */
}

.overlayHeader {
    font-size: 18px;
    font-weight: 600;
    align-self: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.errorMessage {
    padding: 10px;
    width: 90%;
    margin: 10px 20px;
    font-size: 15px;
    composes: backgroundWarningColor from '../colors.css';
    composes: radius5 from '../colors.css';
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.errorDescInfo {
    padding: 0 10px;
}

.backup {
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    /* border-bottom: 1px solid rgba(55, 53, 47, 0.2) */
}

.bottomBorder {
    margin-right: 20px;
    margin-left: 20px;
    width: 80%;
    height: 1px;
    /* background-color: black; */
    border-bottom: 1px solid rgba(55, 53, 47, 0.2);
}

.icon {
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-position: center;
}

.checkedIcon {
    composes: icon;
}

.crossIcon {
    composes: icon;
    color: red;
}

.descInfo {
    font-size: 15px;
    padding: 20px;
}

.button {
    margin-bottom: 10px;
}
