.tooltip {
    position: relative;
}

.tooltipTrigger {
    display: inline-block;
}

.tooltipBubble {
    position: absolute;
    right: 36px;
    top: 4px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    align-items: center;
    justify-content: flex-end;
}

.tooltipTop {
    bottom: 100%;
    left: 50%;
    padding-bottom: 9px;
    transform: translateX(-50%);
}

.tooltipBottom {
    top: 100%;
    left: 50%;
    padding-top: 9px;
    transform: translateX(-50%);
}

.tooltipLeft {
    top: 50%;
    right: 100%;
    padding-right: 9px;
    transform: translateY(-50%);
}

.tooltipMessage {
    composes: h2ColorBackground from '../colors.css';
    border-radius: 55px;
    color: white;
    font-size: 0.6rem;
    line-height: 1.4;
    padding: 0.5em 1em;
    text-align: center;
    width: fit-content;
}
