@value colors: 'src/common-ui/colors.css';
@value color14 from colors;

.container {
    margin: 5px 0;
}

.icon {
    composes: checkMark from '../icons.css';
    width: 25px;
    height: 25px;
    opacity: 0;
    color: transparent;
    transition: opacity 0.1s 0.1s ease-in-out;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
    background-size: 15px;
}

.checkedIcon {
    opacity: 1;
    transform: scale(0);
    width: 25px;
    height: 25px;
    color: white;
    -webkit-text-stroke: 0;
    animation: icon 0.1s cubic-bezier(1, 0.008, 0.565, 1.65) 1 forwards;
}

.label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.disabledIcon {
    background-color: color14;
}

.disabledLabel {
    cursor: default;
}

.label__check {
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        outline: none;
    }

    &:focus {
        outline: none;
    }
}

.label__checkbox {
    display: none;
    padding: 2px;
}

.label__text {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    width: inherit;

    &:hover {
        color: black;
    }
}

.label__checkbox:checked + .label__text .label__check {
    animation: check 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
    transform-origin: center center;
    border: none;
    width: 25px;
    height: 25px;
    background: #5cd9a6;
}

.childrenBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@keyframes icon {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes check {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* CHECKBOXES END */
