.btnBar {
    display: flex;
    justify-content: space-around;
}

.btn {
    border: none;
    background: none;
    transition: all 200ms;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;

    &:hover {
        color: #3eb995;
    }
}

.confirmBtn {
    color: #000;
}

.cancelBtn {
    color: #f77;
}
