@value colors: 'src/common-ui/colors.css';
@value color4 from colors;

.textContainer {
    color: color4;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;

    & > div {
        display: none;
    }
}

.textContainerLoading {
    & > div {
        display: block;
    }
}

.btnBar {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.btn {
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    height: 30px;
    margin: 10px;
    width: 75px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled,
    &[disabled] {
        color: #9a9a9a;
        cursor: default;
    }
}

.confirmBtn {
    composes: CTA from 'src/common-ui/elements.css';
}

.cancelBtn {
    composes: cancelNaked from 'src/common-ui/elements.css';
}
