@value colors: 'src/common-ui/colors.css';
@value color11, color12, color14, color4, color6, color9 from colors;

.menuItem {
    composes: hoverColor from 'src/common-ui/colors.css';
    align-items: center;
    display: flex;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid #e8e8e8;
    word-wrap: break-word;
    font-size: 14px;
    height: 38px;
    justify-content: space-between;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active {
        background-color: #f8f8f8;
        outline: none;
    }

    &.isNew {
        justify-content: flex-start;
        align-items: center;
    }
}

.check {
    composes: checkMark from 'src/common-ui/icons.css';
    width: 20px;
    height: 20px;
    background-size: 90%;
}

.tagPill {
    composes: tagPillSuggestions from '../../common-ui/elements.css';
}

.domainPill {
    composes: tagPill;
    background-color: #fff;
}

.value {
    composes: tagPill tagPillSuggestions from 'src/common-ui/elements.css';
    margin-left: 5px;
}

.isList {
    font-size: 13px;
    font-weight: 400;
    color: black;
    padding: 0;
    background-color: transparent !important; /* stylelint-disable-line declaration-no-important */
}

.isNewNoteInvisible {
    display: none;
}

.menuItemFocused {
    background-color: color14;
}

.isNewNote {
    composes: darkBlue from 'src/common-ui/colors.css';
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
}

.backButton {
    composes: nakedButton from 'src/common-ui/elements.css';
    border: none;
    outline: none;
    grid-area: backButton;
    justify-self: center;
    align-self: center;
    font-size: 15px;
    margin-top: 3px;
    color: color4;
    cursor: pointer;
}

.searchContainer {
    composes: searchField from 'src/common-ui/elements.css';
    justify-content: space-between;
    padding: 2px 20px 2px 10px;
    margin: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
}

.searchIcon {
    width: 20px;
    height: 20px;
}

.searchImg {
    height: 100%;
    width: 100%;
}

.search {
    composes: searchField from '../../common-ui/elements.css';
    width: 90%;
    font-size: 14px;
    padding: 10px 0;
    border: none;

    /* background-color: color11; */
    margin-left: 10px;
    box-sizing: border-box;

    &:placeholder-shown {
        font-style: italic;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    &::placeholder {
        color: #3a2f45;
    }

    &:focus {
        outline: none;
    }
}

.TagBox {
    overflow-x: hidden;
    height: 190px;
    display: initial;
}

.bold {
    font-weight: bold;
}

.tagContainer {
    width: 100%;
    height: fit-content;
    max-height: 350px;
    overflow-y: scroll;
    background-color: white;

    &:focus {
        outline: none;
    }

    & * {
        font-family: 'Poppins', sans-serif;
    }
}

.tagDivFromOverview {
    composes: toolTips from 'src/common-ui/elements.css';
    margin-top: 45px;
    position: absolute;
    width: 300px;
    z-index: 1;
    background-color: #fff;
    margin-left: 500px;
    border-radius: 3px;

    &.backButton {
        display: none;
    }

    @media (max-width: 835px) {
        right: 10px;
    }
}

.tagDiv {
    background-color: #fff;
}

.tagDivForFilterSB {
    z-index: 250000;
    background-color: #fff;
    width: 100%;
}

.tagDivForSidebarResults {
    composes: toolTips from '../../common-ui/elements.css';
    margin-top: 46px;
    position: absolute;
    right: 0px;
    width: 250px;
    z-index: 250000;
    background-color: #fff;
    border-radius: 3px;
}

.tagDivForFilter {
    width: 300px;
    z-index: 250000;
    background-color: #fff;
    border-radius: 3px;
}

.tagDivForAnnotations {
    width: 100%;
}

.menuItem i {
    font-size: 20px;
    float: right;
}

.remove {
    display: none;
}

.selectionOption {
    display: flex;
}

.excluded {
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    composes: excluded from 'src/common-ui/icons.css';
    background-size: 16px;
    width: 20px;
    height: 20px;
}

.excludeInactive {
    composes: excluded;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.tagContainerSB {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    /* min-height: max-content; */
    height: 350px;

    &:focus {
        outline: none;
    }
}

.tagContainerAnnotations {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 300px;
}

.clearFilters {
    background-image: url('/img/removeIcon.svg');
    background-size: 10px;
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.allTabs {
    color: #173766;
    margin-left: 20px;
    font-weight: 600;
}

.cross {
    width: 7px;
    height: 7px;
    position: relative;

    background-image: url('../../../img/times-solid.svg');
    background-repeat: no-repeat;
    border-color: transparent;
    background-color: #83c9f4;
    border-width: 0px;

    margin-top: 3px;
    margin-left: 3px;
}

.cross1 {
    width: 7px;
    height: 7px;
    position: relative;

    background-image: url('../../../img/times-solid.svg');
    background-repeat: no-repeat;
    border-color: transparent;
    background-color: #fff;
    border-width: 0px;

    margin-top: 3px;
    margin-left: 3px;
}

.summaryTagContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas: 'backButton . .';
    padding: 7px 0 10px 0px;
    border-radius: 0 0 3px 3px;
    background: white;
}

.closeButton {
    padding: 0;
    cursor: pointer;
    animation: appear 0.4s forwards 0s;
}

.errMsg {
    background-color: color12;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0.8em 0.2em;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.isUser {
    height: 50px;
}

.socialContainer {
    display: flex;
    overflow: hidden;
    color: #66757f;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    align-items: center;
}

.userGroup {
    display: flex;
    align-items: center;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.accountGroup {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
}

.fullName {
    word-break: break-all;
    color: #14171a;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.verified {
    background-image: url('/img/twitter-verified-icon.svg');
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.username {
    font-size: 14px;
    color: color6;
}
