.tagContainer * {
    font-family: 'Inter';
}

.menuItem {
    composes: hoverColor from '../../common-ui/colors.css';
    display: flex;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid #eaecef;
    word-wrap: break-word;
    font-size: 14px;
    background-color: white;
    height: 30px;
    justify-content: space-between;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
        background-color: #f7f7f7;
        outline: none;
    }

    &.isNew {
        justify-content: flex-start;
        align-items: center;
        height: 45px;
        padding: 0px 20px 0px 20px;
    }
}

.tagPill {
    composes: tagPillSuggestions from '../../common-ui/elements.css';
}

.menuItemFocused {
    composes: selectedColor from '../../common-ui/colors.css';
    display: flex;
    align-items: center;
}

.remove {
    display: none;
}

.menuItem i {
    font-size: 20px;
    float: right;
}

.tagContainer {
    width: 100%;
    max-height: 401px;
    overflow-y: scroll;
    background-color: white;

    &:focus {
        outline: none;
    }
}

.tagContainerSB {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

    &:focus {
        outline: none;
    }
}

.backButton {
    border: none;
    outline: none;
    grid-area: backButton;
    justify-self: center;
    align-self: center;
    font-size: 1em;
    background-color: #3eb995;
    border-radius: 4px;
    padding: 3px 7px 4px 7px;
    color: white;
    margin-top: 3px;
    cursor: pointer;
}

.numberTags {
    grid-area: numberTags;
    justify-self: center;
    align-self: center;
    color: #777;
    padding-top: 2px;
}

.summaryTagContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas: 'backButton numberTags .';
    padding: 7px 0 10px 0px;
    border-radius: 0 0 3px 3px;
    background: white;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px 5px 0px;
    border-radius: 3px 3px 0 0;
    margin: 0px 20px 0px 20px;
    border-bottom: 1px solid #eae9e9; /* MAN Manual Adjustment Needed */
    background-color: white;
}

.searchIcon {
    composes: searchIcon from '../../common-ui/icons.css';
    width: 25px;
    height: 25px;
    background-size: 20px;
}

.closeButton {
    padding: 0;
    cursor: pointer;
    animation: appear 0.4s forwards 0s;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.search {
    composes: textColorSearchPlaceholder from '../../common-ui/colors.css';
    width: 90%;
    font-size: 14px;
    padding: 10px 0;
    border: none;
    background-color: white;
    margin-left: 10px;

    &:focus {
        outline: none;
    }
}

.bold {
    font-weight: bold;
}

.tagDivFromOverview {
    composes: toolTips from '../../common-ui/elements.css';
    margin-top: -10px;
    position: absolute;
    width: 300px;
    z-index: 1;
    background-color: #fff;
    margin-left: 500px;
    border-radius: 3px;

    &.backButton {
        display: none;
    }

    @media (max-width: 835px) {
        right: 10px;
    }
}

.tagDivForFilter {
    width: 300px;
    z-index: 1;
    background-color: #fff;
    border-radius: 3px;
}

.tagDivForFilterSB {
    z-index: 1;
    background-color: #fff;
    width: 100%;
}

.allTabs {
    color: #173766;
    margin-left: 20px;
    font-weight: 600;
}

.check {
    composes: checkMark from '../../common-ui/icons.css';
    width: 20px;
    height: 20px;
}

.value {
    composes: tagPill tagPillSuggestions from '../../common-ui/elements.css';
    margin-left: 5px;
}

.isNewNoteInvisible {
    display: none;
}

.isNewNote {
    composes: darkBlue from '../../common-ui/colors.css';
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
}

.isList {
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 0;
    background-color: transparent;
}
