@import url('/fonts/googlefonts/open-sans.css');

.menuItem {
    display: block;
    padding: 8px 25px 8px 30px;
    cursor: pointer;
    border-bottom: 1px solid #eaecef;
    word-wrap: break-word;
    font-size: 14px;

    &:hover,
    &:focus,
    &:active {
        background-color: #f7f7f7;
        outline: none;
    }
}

.menuItemFocused {
    background-color: #f7f7f7;
}

.remove {
    display: none;
}

.menuItem i {
    font-size: 18px;
    float: right;
}

.tagContainer {
    width: 100%;
    max-height: 401px;
    overflow-y: scroll;

    &:focus {
        outline: none;
    }
}

.tagContainerSB {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

    &:focus {
        outline: none;
    }
}

.backButton {
    border: none;
    outline: none;
    grid-area: backButton;
    justify-self: center;
    align-self: center;
    font-size: 1em;
    padding: 0;
}

.numberTags {
    grid-area: numberTags;
    justify-self: center;
    align-self: center;
    color: #777;
}

.summaryTagContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas: 'backButton numberTags .';
    padding: 10px 0;
    background: white;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 12px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(202, 202, 202);
    background-color: white;

    & > i {
        color: #3eb995;
        padding: 0;
    }
}

.closeButton {
    padding: 0;
    cursor: pointer;
    animation: appear 0.4s forwards 0s;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.search {
    width: 90%;
    font-size: 14px;
    padding: 5px;
    border: none;
    background-color: white;

    &:placeholder-shown {
        font-style: italic;
        font-family: 'Open Sans';
    }

    &::placeholder {
        color: #3eb995;
    }

    &:focus {
        outline: none;
    }
}

.bold {
    font-weight: bold;
}

.tagDivFromOverview {
    position: absolute;
    width: 300px;
    z-index: 1;
    background-color: #fff;
    margin-left: 500px;
    box-shadow: 0px 3px 7px 0px #3eb995;

    @media (max-width: 835px) {
        right: 10px;
    }
}

.tagDivForFilter {
    width: 300px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 4px 7px 0px #3eb995;
}

.tagDivForFilterSB {
    z-index: 1;
    background-color: #fff;
    box-shadow: unset;
    width: 100%;
}
