.menuItem {
    composes: hoverColor from '../../common-ui/colors.css';
    align-items: center;
    display: flex;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid #eaecef;
    word-wrap: break-word;
    font-size: 14px;
    min-height: 20px;
    justify-content: space-between;

    &:hover,
    &:focus,
    &:active {
        background-color: #f7f7f7;
        outline: none;
    }

    &.isNew {
        justify-content: flex-start;
    }
}

.tagPill {
    composes: tagPillSuggestions from '../../common-ui/elements.css';
}

.menuItemFocused {
    composes: selectedColor from '../../common-ui/colors.css';
    align-items: center;
    display: flex;
}

.remove {
    display: none;
}

.menuItem i {
    font-size: 18px;
    float: right;
}

.tagContainer {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    &:focus {
        outline: none;
    }
}

.numberTags {
    align-items: flex-start;
    margin-top: 6px;
    color: #777;
}

.summaryTagContainer {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 4px;
    background: white;
    margin-bottom: 16px;
    margin-left: 8px;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #d2d2d28c;
    padding: 4px 11px;
    margin-bottom: 0;
}

.search {
    composes: textColorSearchPlaceholder from '../../common-ui/colors.css';
    width: 90%;
    font-size: 14px;
    padding: 10px 0;
    border: none;
    background-color: white;
    margin-left: 10px;

    &:focus {
        outline: none;
    }
}

.bold {
    font-weight: bold;
}

.tagDiv {
    box-shadow: none;
}

.tagDivFromOverview {
    position: absolute;
    width: 300px;
    z-index: 1;
    background-color: #fff;
    margin-left: 500px;

    @media (max-width: 835px) {
        right: 10px;
    }
}

.tagDivForFilter {
    z-index: 1;
    width: 99.7%;
}

.check {
    composes: checkMark from '../../common-ui/icons.css';
    width: 20px;
    height: 20px;
}

.value {
    composes: tagPill tagPillSuggestions from '../../common-ui/elements.css';
    margin-left: 5px;
}

.isNewNoteInvisible {
    display: none;
}

.isNewNote {
    composes: darkBlue from '../../common-ui/colors.css';
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
}

.isList {
    font-size: 13px;
    font-weight: 400;
    color: black;
    padding: 0;
    background-color: transparent;
}
