.menuItem {
    composes: hoverColor from '../../common-ui/colors.css';
    align-items: center;
    display: flex;
    padding: 8px 15px 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid #eaecef;
    word-wrap: break-word;
    height: 35px;
    font-size: 14px;
    min-height: 20px;
    justify-content: space-between;

    &:hover,
    &:focus,
    &:active {
        background-color: #f7f7f7;
        outline: none;
    }

    &.isNew {
        justify-content: flex-start;
    }
}

.tagPill {
    composes: tagPillSuggestions from '../../common-ui/elements.css';
}

.menuItemFocused {
    composes: selectedColor from '../../common-ui/colors.css';
    align-items: center;
    display: flex;
}

.remove {
    display: none;
}

.menuItem i {
    font-size: 20px;
    float: right;
}

.tagContainer {
    width: 100%;
    height: 345px;
    overflow-y: scroll;

    &:focus {
        outline: none;
    }
}

.numberTags {
    align-items: flex-start;
    margin-top: 6px;
    color: #777;
}

.summaryTagContainer {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 4px;
    background: white;
    margin-bottom: 16px;
    margin-left: 8px;
}

.searchContainer {
    composes: searchField from 'src/common-ui/elements.css';
    justify-content: space-between;
    padding: 2px 10px 2px 10px;
    margin: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
}

.searchIcon {
    display: flex;
    composes: searchIcon from '../../common-ui/icons.css';
    background-image: url('/img/searchGrey.svg');
    width: 25px;
    height: 25px;
    background-size: 20px;
}

.search {
    composes: searchField from 'src/common-ui/elements.css';
    width: 90%;
    padding: 10px 0;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.bold {
    font-weight: bold;
}

.tagDiv {
    box-shadow: none;
}

.tagDivFromOverview {
    position: absolute;
    width: 300px;
    z-index: 1;
    background-color: #fff;
    margin-left: 500px;

    @media (max-width: 835px) {
        right: 10px;
    }
}

.tagDivForFilter {
    z-index: 1;
    width: 99.7%;
}

.check {
    composes: checkMark from '../../common-ui/icons.css';
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.excluded {
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    composes: excluded from 'src/common-ui/icons.css';
    background-size: 16px;
    width: 20px;
    height: 20px;
}

.excludeInactive {
    composes: excluded;
    opacity: 0.5;

    &:hover {
        opacity: 0.75;
    }
}

.value {
    composes: tagPill tagPillSuggestions from '../../common-ui/elements.css';
    margin-left: 5px;
}

.isNewNoteInvisible {
    display: none;
}

.isNewNote {
    composes: darkBlue from '../../common-ui/colors.css';
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
}

.isList {
    font-size: 13px;
    font-weight: 400;
    color: black;
    padding: 0;
    background-color: transparent;
}

.selectionOption {
    display: flex;
}
