.loadingBlocker {
    z-index: 2;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #fafafc;
    opacity: 0.8;
}
