@value colors: '../../common-ui/colors.css';
@value color6 from colors;

.ldsEllipsis {
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    margin: 20px auto;

    & div {
        position: absolute;
        top: 10px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: blue;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    & div:nth-child(1) {
        left: 20px;
        animation: lds-ellipsis1 0.6s infinite 0.2s;
    }

    & div:nth-child(2) {
        left: 20px;
        animation: lds-ellipsis2 0.6s infinite 0.2s;
    }

    & div:nth-child(3) {
        left: 40px;
        animation: lds-ellipsis2 0.6s infinite 0.2s;
    }

    & div:nth-child(4) {
        left: 50px;
        animation: lds-ellipsis3 0.6s infinite 0.2s;
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(17px, 0);
    }
}
