.button {
    border: none;
    background: none;
    transition: all 200ms;
    cursor: pointer;

    &:hover {
        color: #3eb995;
    }
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;

    &:disabled,
    &[disabled] {
        cursor: default;
    }
}

.popup {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    max-width: 300px;
    position: relative;
    transition: all 5s ease-in-out;
    cursor: default;
}

.close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #333;

    &:hover {
        color: #06d85f;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13.5px;
    min-height: 100px;
}
