.popup {
    composes: toolTips from 'src/common-ui/elements.css';
    background: #fff;
    min-width: 500px;
    min-height: 200px;
    padding: 20px;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.popupLarge {
    composes: popup;
    overflow-y: scroll;
    width: 840px;
    height: fit-content;
    max-height: 95vh;
    max-width: 95vw;
}

.close {
    composes: closeIcon from 'src/common-ui/icons.css';
    position: absolute;
    top: 20px;
    right: 20px;
    background-size: 12px;
    width: 22px;
    height: 22px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13.5px;
    min-height: 100%;
    height: 100%;
    align-items: center;
    padding: 40px;
}
