.popup {
    composes: toolTips from 'src/common-ui/elements.css';
    background: #fff;
    width: 340px;
    height: 150px;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.popupLarge {
    composes: popup;
    overflow-y: scroll;
    width: 800px;
    height: fit-content;
    max-height: 95vh;
    max-width: 95vw;
}
