.button {
    border: none;
    transition: all 200ms;
    cursor: pointer;
}

.overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2147483646;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding-top: 2%;

    &:disabled,
    &[disabled] {
        cursor: default;
    }
}

.popup {
    composes: toolTips from 'src/common-ui/elements.css';
    padding: 30px;
    background: #fff;
    width: 340px;
    height: 150px;
    position: relative;
    transition: all 1s ease-in-out;
    cursor: default;
}

.popupLarge {
    composes: popup;
    overflow-y: scroll;
    width: 90%;
    height: 96%;
}

.close {
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    composes: removeIcon from 'src/common-ui/icons.css';
    position: absolute;
    top: 5px;
    right: 5px;
    background-size: 12px;
    width: 22px;
    height: 22px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13.5px;
    min-height: 100%;
    align-items: center;
}
