.box {
    composes: toolTips from 'src/common-ui/elements.css';
    position: absolute;
    padding: 40px 25px 25px;
    width: 90%;
    max-width: 600px;
    z-index: 2500;
    margin: auto auto;
    background: white;
    margin-top: -130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    composes: sectionTitle from 'src/options/settings/components/settings.css';
    margin: 0px;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
}

.description {
    composes: infoText from 'src/options/settings/components/settings.css';
    margin: 0px;
    text-align: center;
}

.buttonbox {
    grid-area: buttonbox;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 17px;
    margin-top: 30px;
    cursor: pointer;
}

.continueButton {
    composes: CTA from '../colors.css';
    margin-right: 10px;
    padding: 10px 20px;
}

.cancelButton {
    composes: warningColor from '../colors.css';
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #222;
    }
}
