.primaryBtn {
    composes: CTA from 'src/common-ui/colors.css';
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    color: #3a2f45;
    text-align: center;
    white-space: nowrap;

    @media (max-width: 767px) {
        font-size: 12px;
        padding: 5px 10px;
    }
}

.disabled {
    composes: CTA from 'src/common-ui/colors.css';
    opacity: 0.4;
    cursor: not-allowed;
}
