@value colors: 'src/common-ui/colors.css';
@value color1, color2, color6, color4, radius3 from colors;

.container {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.percent {
    top: 0;
    color: white;
    float: right;
    font-size: 15px;
    font-weight: 500;
}

.bar {
    width: 100%;
    background-color: #ededed;
    overflow: hidden;
    border-radius: radius3;
    padding: 5px;
}

.color {
    background-color: color2;
    background-size: 40px 40px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    border-radius: radius3;
}
