@value colors: 'src/common-ui/colors.css';
@value color2, color8 from colors;

.progressContainer {
    margin: 1rem auto 0;
    text-align: center;
}

.progressStep {
    background: color8;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    margin-right: 4px;
    width: 10px;
    transition: all 200ms;
}

.progressStepSeen {
    background: color2;
    cursor: pointer;

    &:hover {
        transform: scale(1.3);
    }
}
