@value colors: 'src/common-ui/colors.css';
@value color2, color8 from colors;

.progressContainer {
    text-align: center;
}

.progressStep {
    background: color8;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1rem 0.25rem 0;
    width: 10px;
    transition: all 200ms;

    &:hover {
        transform: scale(1.3);
    }
}

.progressStepSeen {
    background: color2;
}

.progressStepCurrent {
    background: #6289dc;
}
