.ribbon {
    composes: button from 'src/common-ui/components/result-item.css';
    background-image: url('/img/remove.svg');
    opacity: 1;
    background-size: 14px;
    height: 14px;

    &:hover {
        opacity: 0.6;
    }
}
