@value colors: 'src/common-ui/colors.css';
@value color4, color1, color2, color3, color6 from colors;

.tagList {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0 0 0;
    overflow-x: auto;
    padding-left: 38px;
}

.tagListSidebar {
    flex-wrap: wrap;
    padding: 7px 0 0 38px;
}

.tagname {
    composes: tagPill from '../elements.css';
}

.greyBorder {
    composes: nakedSquareButton from '../elements.css';
    background-color: transparent;
    color: color6;
    font-size: 21px;
    width: 21px;
    height: 21px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 3px;
}
