.menuItem {
    display: block;
    padding: 8px 8px 8px 30px;
    cursor: pointer;
    border-bottom: 1px solid #eaecef;
    word-wrap: break-word;

    &:hover {
        background-color: #f7f7f7;
    }
}

.hoveredMenuItem {
    background-color: #f7f7f7;
}

.menuItem i {
    font-size: 12px;
    float: right;
}

.tagContainer {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.numberTags {
    align-items: flex-start;
    margin-top: 6px;
}

.summaryTagContainer {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    padding-bottom: 10px;
}

.tagDone {
    align-items: flex-end;
}

.tagDoneButton {
    background-color: #3eb995;
    color: white;
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 5px;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 12px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(202, 202, 202);
    background-color: #f2f2f2;

    & > i {
        color: #3eb995;
        padding: 0;
    }
}

.search {
    width: 90%;
    font-size: 1em;
    padding: 5px;
    border: none;
    background-color: #f2f2f2;

    &:placeholder-shown {
        font-style: italic;
        font-family: 'Open Sans';
    }

    &::placeholder {
        color: #3eb995;
    }

    &:focus {
        outline-color: #3eb995;
    }
}

.tagDiv {
    width: 300px;
    position: absolute;
    z-index: 1;
    margin-left: 500px;
    background-color: #f2f2f2;
}

.bold {
    font-weight: bold;
}
