.switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
}

.activeSwitch {
    background: #3eb995;

    &::after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }
}

.input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.searchSwitch {
    cursor: pointer;
}
