.tooltip {
    position: relative;
}

.tooltipBubble {
    position: absolute;

    &::after {
        content: '';
        position: absolute;
    }
}

.tooltiptop {
    bottom: 100%;
    left: 50%;
    padding-bottom: 9px;
    transform: translateX(-50%);

    &::after {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid #1a2f58;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.tooltipbottom {
    top: 100%;
    left: 50%;
    padding-top: 9px;
    transform: translateX(-50%);

    &::after {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #1a2f58;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.tooltipleft {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);

    &::after {
        border-left: 9px solid #1a2f58;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.tooltipright {
    top: 50%;
    left: 100%;
    padding-left: 9px;
    transform: translateY(-50%);

    &::after {
        border-right: 9px solid #1a2f58;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.tooltipContent {
    font-size: 0.75rem;
    line-height: 1.4;
    padding: 0.75em;
}
