@value colors: 'src/common-ui/colors.css';
@value color6 from colors;

.dateRangeSelection {
    display: flex;
    align-items: center;
    background-image: url('/img/calendar-icon.png');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 27px;
    background-color: transparent;
    padding-left: 50px;
    padding-right: 40px;
    width: 45%;
    text-align: center;

    @media (max-width: 600px) {
        display: none;
    }
}

.datePicker {
    composes: darkBlue from 'src/common-ui/colors.css';
    width: 130px;
    height: 30px;
    font-size: 15px;
    border: none;
    margin: 0 10px;
    background-color: transparent;
    padding-top: 1px;
    padding-right: 20px;
    font-weight: 400;

    &::placeholder {
        color: color6;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

.toIcon {
    width: 5px;
    height: 8px;
    margin-top: 1px;
}

.dateRangeDiv {
    width: 600px;
    height: 400px;
    display: flex;
    background: white;
}

.pickerContainer {
    width: 50%;
}

.datePickerDiv {
    margin-top: 20px;
    margin-left: 10px;
}

.clearFilters {
    background-image: url('/img/removeIcon.svg');
    background-size: 10px;
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
