@value colors: '../../../common-ui/colors.css';
@value color1, color 2, color4, color7 from colors;

/* stylelint-disable  declaration-no-important, selector-pseudo-class-no-unknown */

:global .react-datepicker__day--selected,
:global .react-datepicker__day--in-selecting-range,
:global .react-datepicker__day--in-range {
            color: color4;
        }

:global .react-datepicker__close-icon::after {
    background-color: #3eb995 !important;
    padding-left: 3px;
    top: 7px;
    padding-top: 2px;
    height: 17px;
    width: 17px;
}

:global .react-datepicker__triangle {
    display: none !important;
}

:global .react-datepicker {
    top: -9px !important;
    border: none !important;
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

:global .react-datepicker__header {
    background-color: white !important;
    border-bottom: none !important;
}

:global .react-datepicker__current-month {
    line-height: 24px !important;
    margin-bottom: 15px !important;
}

:global .react-datepicker__navigation {
    background-repeat: no-repeat !important;
    background-size: 12px !important;
    background-position: center !important;
    height: 20px !important;
    width: 20px !important;
    border-color: transparent !important;
    display: flex;
    border-radius: 3px;

    &:hover {
        background-color: color7;
    }
}

:global .react-datepicker__navigation:hover {
    border-color: transparent !important;
}

:global .react-datepicker__navigation--previous {
    background-image: url('/img/arrow.svg') !important;
}

:global .react-datepicker__navigation--next {
    background-image: url('/img/arrow.svg') !important;
    transform: rotate(180deg);
}

:global .react-datepicker__day {
    margin: 0 !important;
    width: 35px !important;
    line-height: 35px !important;
    border-radius: 50% !important;
}

:global .react-datepicker__day-name {
    font-weight: bold;
}

:global .react-datepicker__day:hover {
    border-radius: 50% !important;
}

:global
    .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range),
:global .react-datepicker__day--in-range {
    border-radius: 0 !important;
    background-color: color1 !important;
}

:global .react-datepicker__day--in-range:hover {
    border-radius: 0 !important;
    background-color: color2 !important;
    opacity: 0.7;
}

:global .react-datepicker__day--selecting-range-start,
:global
    .react-datepicker__day--selecting-range-start:not(.react-datepicker__day--in-range),
:global
    .react-datepicker__day--range-start:not(.react-datepicker__day--in-selecting-range) {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    background-color: color2 !important;
    font-weight: bold;
}

:global .react-datepicker__day--selecting-range-end,
:global
    .react-datepicker__day--selecting-range-end:not(.react-datepicker__day--in-range),
:global
    .react-datepicker__day--range-end:not(.react-datepicker__day--in-selecting-range) {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    background-color: color2 !important;
    font-weight: bold;
}

:global .react-datepicker__day--range-start:hover {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    background-color: color2 !important;
    opacity: 0.7;
}

:global .react-datepicker__day--range-end:hover {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    background-color: color2 !important;
    opacity: 0.7;
}

:global
    .react-datepicker__week
    > .react-datepicker__day--in-selecting-range:first-of-type,
:global
    .react-datepicker__week
    > .react-datepicker__day--in-range:first-of-type {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

:global
    .react-datepicker__week
    > .react-datepicker__day--in-selecting-range:last-of-type,
:global
    .react-datepicker__week
    > .react-datepicker__day--in-range:last-of-type {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

:global
    .react-datepicker__day--today {
    font-weight: bold;
    background: #5cd9a6;
    color: white;
}
