.navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: #fff;
    padding: 0 60px;
    border-bottom: 1px solid #ebebeb;

    @media (max-width: 1000px) {
        justify-content: center;
        padding: 0;
    }
}

.logo {
    background-image: url('/img/worldbrain-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 131px;
    height: 33px;

    @media (max-width: 1200px) {
        width: 24px;
        background-image: url('/img/worldbrain-logo-narrow.png');
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.searchField {
    composes: searchField from '../../../common-ui/elements.css';
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 40px;
    border-radius: 35px;
    border-radius: 3px;

    @media (max-width: 724px) {
        margin: 0 8px;
    }
}

.query {
    composes: searchField from '../../../common-ui/elements.css';
    flex: 1;
    background-image: url('/img/searchIcon.svg');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 3px;
    background-color: transparent;
    padding-left: 30px;
    font-size: 15px;
    border: none;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    transition: all 200ms ease-out;
    border-right: none;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 360px;
    margin-left: -230px;
    font-weight: normal;
    align-items: center;

    @media (max-width: 1200px) {
        margin-left: 0;
        width: 24px;
    }

    @media (max-width: 1000px) {
        display: none;
    }

    > a {
        height: 25px;
    }
}

.upgrade {
    composes: h2Color from '../../../common-ui/colors.css';
    composes: nakedButton from '../../../common-ui/elements.css';
    display: none;
    font-size: 15px;
    text-decoration: none;
    margin-left: 15px;
    padding: 0px 10px 2px 10px;

    @media (max-width: 1260px) {
        display: none;
    }
}

.settingsIcon {
    composes: settingsIcon from '../../../common-ui/icons.css';
    composes: nakedSquareButton from '../../../common-ui/elements.css';
    height: 25px;
    width: 25px;
    padding: 5px;
    display: flex;
    margin-left: 15px;
    background-size: 21px;
}

.upgradeIcon {
    width: 20px;
    height: 20px;
    vertical-align: top;

    @media (max-width: 1260px) {
        display: none;
    }
}
