@value colors: 'src/common-ui/colors.css';
@value color1, color7, color14, color4, color6, color9 from colors;

.navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    /* z-index: 300001;
    background-color: #fff;
    padding: 0 60px; */

    border-bottom: 1px solid #ebebeb;

    @media (max-width: 1150px) {
        justify-content: flex-end;
        padding-right: 20px;
        display: flex;
    }
}

.collectionsPlaceholder {
    width: 20vw;

        @media (max-width: 1150px) {
        display: none;
    }
}

.searchField {
    composes: searchField from 'src/common-ui/elements.css';
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 40px;
    border-radius: 35px;
    border-radius: 3px;
}

.query {
    composes: searchField from 'src/common-ui/elements.css';
    flex: 1;
    background-image: url('/img/searchIcon.svg');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 3px;
    background-color: transparent;
    padding-left: 30px;
    font-size: 15px;
    border: none;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 55%;
    max-width: 800px;
    background-color: #fff;
    transition: all 200ms ease-out;
    border-right: none;
    align-items: center;

     @media (max-width: 1150px) {
        width: 65%;
        margin-right: 20px;
    }
}

.links {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 100%;
    font-weight: normal;
    align-items: center;
    padding-right: 20px;
    width: 20vw;

    @media (max-width: 1150px) {
        display: none;
    }

    & > a {
        height: 25px;
    }
}

.settingsIcon {
    composes: settingsIcon from 'src/common-ui/icons.css';
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    height: 25px;
    width: 25px;
    padding: 5px;
    display: flex;
    margin-left: 15px;
    background-size: 21px;
}

.button {
    composes: nakedButton from 'src/common-ui/elements.css';
    padding: 3px 6px 3px 8px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-right: -7px;
    outline: none;
    border: none;

    &:focus {
        background-color: color1;
    }
}

.activeButton {
    background-color: color7;
}

.clearFilters {
    composes: removeIcon from 'src/common-ui/icons.css';
    composes: onHoverDark from 'src/common-ui/colors.css';
    border-radius: 3px;
    background-size: 10px;
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.collectionsBtn {
    width: 250px;
    height: 55px;
    align-items: center;
    display: flex;
}
