.navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: #fff;
    padding: 0 60px;
    border-bottom: 1px solid #ebebeb;

    @media (max-width: 1000px) {
        justify-content: center;
        padding: 0;
    }
}

.logo {
    background-image: url('/img/worldbrain-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 131px;
    height: 33px;

    @media (max-width: 1200px) {
        width: 24px;
        background-image: url('/img/worldbrain-logo-narrow.png');
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.searchField {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 45px;
    border-radius: 3.5px;
    background-color: transparent;
    box-shadow: 0px 6px 31px -11px #220c0c52;

    @media (max-width: 724px) {
        margin: 0 8px;
    }
}

.query {
    composes: darkBlue from '../../../common-ui/colors.css';
    flex: 1;
    background-image: url('/img/search-icon.svg');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 3px;
    background-color: transparent;
    padding-left: 36px;
    font-size: 15px;
    border: none;
    font-weight: 500;

    &::placeholder {
        color: #b8b8b8;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    transition: all 200ms ease-out;
    border-right: none;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 360px;
    margin-left: -230px;
    font-weight: normal;
    align-items: center;

    @media (max-width: 1200px) {
        margin-left: 0;
        width: 24px;
    }

    @media (max-width: 1000px) {
        display: none;
    }

    > a {
        height: 25px;
    }
}

.upgrade {
    font-size: 15px;
    text-decoration: none;
    padding-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #3eb995;

    &:hover {
        color: #777;
        background-color: #f0f0f0;
        border-radius: 4px;
    }

    @media (max-width: 1260px) {
        display: none;
    }
}

.SettingsIcon {
    height: 35px;
    width: 35px;
    padding: 5px;
    margin-bottom: -6px;
    background-size: 35px;
    background-position: center;
    border-radius: 30px;

    &:hover {
        background-color: #f0f0f0;
        background-size: 50px;
        padding: 5px;
    }
}

.upgradeIcon {
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 2px;
}
