@import url('/fonts/googlefonts/open-sans.css');

.help {
    font-family: 'Open Sans';
    margin-top: 20px;
}

.title {
    color: #3eb995;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.content {
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #777;
    letter-spacing: 1px;
    width: 80%;
    min-width: 450px;
}

.title2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #666;
    width: 60%;
    min-width: 450px;
}

.link {
    color: #928989;
}
