.cell {
    padding: 0 !important;
}

.newSiteInputRow {
    display: flex;
    flex-direction: row;
}

.input {
    width: 80%;
    padding: 15px 40px;
    font-size: .8em;
    font-style: italic;
    border: none;
    outline: none;
    background: #f8f8f8;
}

.inputButtons {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #f8f8f8;
}

.button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #999;

    &:hover {
        color: #333;
    }

    &:disabled {
        color: #ebebeb;
        cursor: default;
    }
}
