@value colors: 'src/common-ui/colors.css';
@value color6, color3, color4, color14 from colors;

.pageInfoDiv {
    padding: 5px 5px;
    top: 0px;
    background: white;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.75px solid #e1e1e1;

    & a {
        text-decoration: none;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
    }
}

.goBackBtn {
    height: 20px;
    width: 40px;
    cursor: pointer;

    & img {
        width: 100%;
        height: 100%;
    }
}

.pageInfo {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: 3px;
    width: fill-available;
}

.title {
    font-size: 14px;
    color: #3a2f45;
    font-weight: 600;
}

.url {
    font-size: 12px;
    color: #3a2f45;
}
