@value colors: 'src/common-ui/colors.css';
@value color6, color3, color4, color14 from colors;

.pageInfoDiv {
    margin-top: 35px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -30px;

    & a {
    	text-decoration: none;
    }
}

.goBackBtn {
    composes: nakedButton from 'src/common-ui/elements.css';
    font-size: 13px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    color: color4;
    width: fit-content;
    margin: 3px 0 0px 1px;
}

.pageInfo {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: 3px;
    width: fill-available;
}

.title {
	font-size: 15px;
	color: color3;
	font-weight: 600;
}

.url {
	font-size: 13px;
	color: color6;
}
