@import url('/fonts/googlefonts/open-sans.css');
@import url('/fonts/googlefonts/ibm-plex-serif.css');

.sidebar {
    padding: 0;
    height: 100%;
    background: #fff;

    /* TODO: Check if the following scrolling property is desired. */

    /* overflow-y: scroll; */
    border-left: 3px solid #e1ece9;

    /* &::-webkit-scrollbar {
        display: none;
    } */

    /* & > * {
        font-family: 'IBM Plex Serif', serif;
        margin: 0;
        box-sizing: border-box;
    } */
}
