@import url('/fonts/Poppins/poppins.css');

.sidebar * {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchSwitch {
    height: fit-content;
    padding: 0 5px;
}

.topSection {
    position: sticky;
    top: 0px;
    z-index: 2600;
    background: white;
    overflow: hidden;
    padding: 0 5px;
}

.bottomContainer {
    height: stretch;
}

.resultsContainer {
    flex: 1;
    position: relative;
    top: 15px;
    padding: 0 10px;
}

.resultsContainerPage {
    top: 2px;
}

.annotationsSection {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.commentBoxContainer {
    composes: annotationCard from '../../../common-ui/elements.css';
    background: white;
    border-radius: 3px;
    top: 10px;
    margin: 0 10px 40px;
    position: relative;
    width: 93%;

    &:hover {
        background: white;
    }
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    font-weight: 600;
}

.navLinks {
    composes: filterText from '../../../common-ui/elements.css';
    font-size: 12px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
}

.navBtn {
    composes: filterText from '../../../common-ui/elements.css';
    font-size: 12px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;

    &:disabled {
        cursor: auto;
    }

    &:focus {
        outline: none;
    }
}

.bookmark {
    background-image: url('/img/star_blue_full.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.allResultsDiv {
    margin-top: 50px;
}
