body {
    margin: 0;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 780px;
    height: 360px;
    font-weight: lighter;
}

.message-container {
    height: 80%;
}

.message {
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: center;
}

.logobig {
    margin-bottom: 50px;
}

.logo {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 130px;
    height: 35px;
    background: url('/img/worldbrain-logo.png') no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.btn-link {
    border: 2px solid #3eb995;
    border-radius: 5px;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 30px;
    font-size: 1.5em;
    text-decoration: none;
    background: #fff;
    color: #3eb995;
}

.btn-link:hover {
    background: #e7f4f0;
}
