@value colors: 'src/common-ui/colors.css';
@value color4, color6 from colors;

.container {
    display: flex;
    flex-direction: row;
    font-size: 14.4px;
    width: 100%;
}

.container a {
    text-decoration: none;
}

.body {
    color: #3a2f45;
}

.middle {
    flex-grow: 2;
    justify-content: center;
    display: flex;
    color: #3a2f45;
    width: 310px;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thirdRowImage {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.title {
    font-size: 1.1em;
    color: #3a2f45;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: -1px;
    align-self: flex-start;
}

.close {
    composes: closeIcon from 'src/common-ui/icons.css';
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    background-size: 12px;
    width: 22px;
    height: 22px;
}
