.container {
    display: flex;
    flex-direction: row;
    font-size: 14.4px;
    width: 100%;
    color: #3eb995;
}

.left {
    width: 50px;
    padding-top: 11px;
}

.middle {
    flex-grow: 2;
}

.right {
    display: flex;
    flex-direction: row;
}

.thirdRowImage {
    margin-right: 40px;
    margin-bottom: 3px;
}

.notifIcon {
    margin-left: 17px;
    width: 20px;
}

.title {
    font-size: 1.1em;
    color: #173766;
    margin-bottom: 5px;
    margin-top: -1px;
}

.close {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin: 3px 3px 0px 0px;

    &:hover {
        border-radius: 50px;
        background-color: #f0f0f0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 41px;
        margin: 3px 3px 0px 0px;
        top: 2.5px;
        right: 3px;
        cursor: pointer;
        width: 22px;
        height: 22px;
        padding: 3px;
    }
}
