.container,
.container * {
    box-sizing: border-box;
    display: flex;
}

.screen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

.container {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 420px;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    background: white;
    border: 1px solid #3eb99561;
    animation: pulse 2s infinite, fadein 0.25s ease-in 0s 1 normal both;
    z-index: 2147483647;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #17376626;
    }

    70% {
        box-shadow: 0 0 0 10px #17376600;
    }

    100% {
        box-shadow: 0 0 0 0 #17376600;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
