.container,
.container * {
    box-sizing: border-box;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 420px;
    display: flex;
    align-items: center;
    height: 67px;
    margin-right: 10%;
    margin-top: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid #c2c2c2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 2147483647;
}
