.icon {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebarIcon {
    width: 25px;
    height: 25px;
    background: #555;
}

.sidebarIconActive {
    background: #5d5;
}

.tooltipIcon {
    width: 25px;
    height: 25px;
    background: #555;
}

.tooltipIconActive {
    background: #55d;
}
