._src_common_ui_components_LoadingIndicator__container {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin: 20px auto;
}

._src_common_ui_components_LoadingIndicator__dot {
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: grey;
    bottom: 10%;
    -webkit-animation-name: _src_common_ui_components_LoadingIndicator__move;
            animation-name: _src_common_ui_components_LoadingIndicator__move;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}

._src_common_ui_components_LoadingIndicator__dotone {
    -webkit-animation-delay: 0;
            animation-delay: 0;
}

._src_common_ui_components_LoadingIndicator__dottwo {
    left: 25%;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

._src_common_ui_components_LoadingIndicator__dotthree {
    left: 50%;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}

@-webkit-keyframes _src_common_ui_components_LoadingIndicator__move {
    0% {
        bottom: 10%;
    }

    50% {
        bottom: 90%;
    }

    100% {
        bottom: 10%;
    }
}

@keyframes _src_common_ui_components_LoadingIndicator__move {
    0% {
        bottom: 10%;
    }

    50% {
        bottom: 90%;
    }

    100% {
        bottom: 10%;
    }
}
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-size: 18px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
}

._src_options_base__root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

._src_options_base__route {
    margin: 20px 20px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 800px;
}

._src_options_base__routeTitle {
    font-size: 1.2em;
    font-weight: 100;
    color: #666;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

._src_options_base__sectionTitle {
    font-size: 1.125em;
    font-weight: 200;
    color: #666;
    margin: 0 0 10px 0;
}
._src_options_blacklist_components_BlacklistInputRow__cell {
    padding: 0 !important; /* stylelint-disable-line declaration-no-important */
}

._src_options_blacklist_components_BlacklistInputRow__newSiteInputRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

._src_options_blacklist_components_BlacklistInputRow__input {
    width: 90%;
    padding: 15px 40px;
    font-size: 0.8em;
    font-style: italic;
    border: none;
    outline: none;
    background: #f8f8f8;
}

._src_options_blacklist_components_BlacklistInputRow__inputButtons {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #f8f8f8;
}
._src_options_blacklist_components_BlacklistRow__blacklistActions {
    float: right;
    position: relative;
    right: -20px
}

._src_options_blacklist_components_BlacklistRow__blacklistActions a {
        color: #999;
        text-decoration: none
}

._src_options_blacklist_components_BlacklistRow__blacklistActions a:hover {
            color: #333
}

._src_options_blacklist_components_BlacklistRow__date {
    font-size: 0.75em;
}

._src_options_blacklist_components_BlacklistRow__icon {
    font-size: 1.5em;
    cursor: pointer;
}
._src_options_blacklist_components_BlacklistTable__table tr td {
        text-align: center;

        &:first-child {
            text-align: left;
        }
}

._src_options_blacklist_components_BlacklistTable__table th {
        background: #333;
        color: white;
        font-weight: 200;
        font-size: 0.8em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
}._src_options_blacklist_components_BlacklistTable__tableContainer {
    max-height: 550px;
    overflow-y: scroll;
    clear: both;
}

._src_options_blacklist_components_BlacklistTable__table {
    border-collapse: collapse;
    border: 1px solid #efefef;
    background: white;
    width: 100%;
    font-size: 0.9em;
    box-shadow: 0 3px 20px 2px rgba(0, 0, 0, .08);
    border-bottom: 2px solid #333
}

._src_options_blacklist_components_BlacklistTable__table th,
    ._src_options_blacklist_components_BlacklistTable__table td {
        border-collapse: collapse;
        color: #666;
        border: 1px solid #efefef;
        padding: 15px 40px;
}

._src_options_blacklist_components_BlacklistTable__domainCell {
    width: 80%;
}

._src_options_blacklist_components_BlacklistTable__toolbar {
    float: right;
    margin-bottom: 5px;
    clear: both;
}

._src_options_blacklist_components_BlacklistTable__addButton {
    background: #eee;
    color: #666;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 1px solid #999;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
    transition: all 0.1s ease-in
}

._src_options_blacklist_components_BlacklistTable__addButton:hover {
        background: #cdcdcd;
        color: #333;
}
._src_options_blacklist_components_base__blacklistButton:disabled {
        color: #ebebeb;
        cursor: default
}._src_options_blacklist_components_base__blacklistButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #999
}._src_options_blacklist_components_base__blacklistButton:hover {
        color: #333
}
._src_options_components_navigation_styles__root {
    width: 180px;
}

._src_options_components_navigation_styles__title {
    font-size: 1.2em;
    font-weight: 100;
    margin: 20px 0 20px 20px;
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

._src_options_components_navigation_styles__nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

._src_options_components_navigation_styles__navItem {
    width: 100%;
    margin-bottom: 10px
}

._src_options_components_navigation_styles__navItem:last-child {
        margin-bottom: 0;
}

._src_options_components_navigation_styles__navLink {
    display: block;
    text-decoration: none;
    color: #999;
    font-size: 0.8em;
    padding: 5px 0 5px 20px;
    padding-left: 20px
}

._src_options_components_navigation_styles__navLink._src_options_components_navigation_styles__isActive {
        color: #333;
        padding-left: 15px;
        border-left: 5px solid #333;
}
._src_options_containers_settings_style__section {
    margin-top: 20px;
}
._src_options_imports_components_ButtonBar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
}

._src_options_imports_components_ButtonBar__loadingContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
}

._src_options_imports_components_ButtonBar__actionContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 55%;
}

._src_options_imports_components_ButtonBar__actionBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    margin-left: 10%;
}

._src_options_imports_components_ButtonBar__actionButton {
    width: 165px;
    height: 45px
}

._src_options_imports_components_ButtonBar__actionButton._src_options_imports_components_ButtonBar__hidden {
        visibility: hidden;
}

._src_options_imports_components_ButtonBar__helpText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
    font-weight: 400;
    text-align: right;
    font-size: 0.8em;
}

._src_options_imports_components_DevOptions__container {
    margin: 15px;
}

._src_options_imports_components_DevOptions__warning {
    font-style: italic;
    font-size: 0.85em;
    margin: 15px 0 0;
    color: #ff5722;
}

._src_options_imports_components_DevOptions__devModeToggle {
    font-size: 0.85em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 140px;
}

._src_options_imports_components_DevOptions__devFunctionality {
    min-height: 300px;
}

._src_options_imports_components_DevOptions__uploadContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

._src_options_imports_components_DevOptions__uploadInput {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;

    > h3 {
        margin: 20px 0 10px;
    }
}

._src_options_imports_components_DevOptions__uploadLoading {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
._src_options_imports_components_DownloadDetails__detailsTableRow._src_options_imports_components_DownloadDetails__active {
        background: #b5d9ff;
}._src_options_imports_components_DownloadDetails__detailsTable th {
        font-weight: 400;
}._src_options_imports_components_DownloadDetails__filterOption:first-child {
        border-left: none;
        padding-left: 0;
}._src_options_imports_components_DownloadDetails__detailsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

._src_options_imports_components_DownloadDetails__headerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 5px;
}

._src_options_imports_components_DownloadDetails__filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 136px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

._src_options_imports_components_DownloadDetails__filterOption {
    border-left: 1px solid #000;
    padding-left: 10px;
    font-weight: 500;
    font-size: 0.7em;
    cursor: pointer
}

._src_options_imports_components_DownloadDetails__filterOption:hover {
        text-decoration: underline;
}

._src_options_imports_components_DownloadDetails__detailsTable {
    background: #fff;
    width: 100%;
    font-size: 0.75em;
    border: 1px solid #000;
    border-collapse: collapse
}

._src_options_imports_components_DownloadDetails__detailsTable th,
    ._src_options_imports_components_DownloadDetails__detailsTable td {
        text-align: left;
        padding: 5px;
        height: 27px;
        text-overflow: ellipsis;
        overflow: hidden;
}

._src_options_imports_components_DownloadDetails__detailsTable th:first-child, ._src_options_imports_components_DownloadDetails__detailsTable td:first-child {
            padding-left: 15px;
}

._src_options_imports_components_DownloadDetails__detailsTableBody {
    display: block;
    height: 210px;
    overflow: auto;
}

._src_options_imports_components_DownloadDetails__detailsTableHead {
    border-bottom: 1px solid #000;
    background: #eee;
    width: calc(100% - 1em);
}

._src_options_imports_components_DownloadDetails__detailsTableHead,
._src_options_imports_components_DownloadDetails__detailsTableBody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

._src_options_imports_components_DownloadDetails__detailsTableRow {
}

._src_options_imports_components_DownloadDetails__detailsTableRow:hover {
        background: #d7ebff;
}

._src_options_imports_components_DownloadDetails__urlCol {
    width: 60%;
}

._src_options_imports_components_DownloadDetails__downloadedCol {
    width: 15%;
}

._src_options_imports_components_DownloadDetails__errorsCol {
    width: 25%;
}
._src_options_imports_components_Import__importTable td:first-child {
        text-align: left
}._src_options_imports_components_Import__importTable td._src_options_imports_components_Import__importTableCellSepar {
        padding-bottom: 60px
}._src_options_imports_components_Import__importTable td {
        color: #666
}._src_options_imports_components_Import__importTable {
    width: 100%;
    padding: 0 15px;
    line-height: 36px;
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center
}._src_options_imports_components_Import__importTable th,
    ._src_options_imports_components_Import__importTable td {
        padding: 15px
}

._src_options_imports_components_Import__importTableHead {
    font-size: 20px;
    border-bottom: 1px solid #d2d2d2;
}

._src_options_imports_components_Import__importTableRow {
    border-bottom: 1px solid #d2d2d2
}

._src_options_imports_components_Import__importTableRow:last-child {
        border-bottom: none
}

._src_options_imports_components_Import__importTableHelp {
    font-weight: 400;
}

._src_options_imports_components_Import__actionTableRow {
    font-weight: 400;
}

._src_options_imports_components_Import__importTableRowSepar {
    border-bottom-width: 4px;
}

._src_options_imports_components_Import__importTableCol {
    width: 33.33333%;
}

._src_options_imports_components_Import__importTableContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 750px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px;
    background: #f8f8f8;
    border: 1px solid #666;
    border-radius: 10px;
}

._src_options_imports_components_Import__mainContainer {
    position: relative;
}

._src_options_imports_components_Import__loadingBlocker {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 750px;
    width: 800px;
    background: #fff;
    opacity: 0.8;
}

._src_options_imports_components_Import__loadingMsg {
    font-weight: bold;
}
._src_options_options__button[disabled] {
        background: #eee;
        color: #666;
        opacity: 0.4;
        cursor: not-allowed;
}* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

._src_options_options__root {
    font-size: 18px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

._src_options_options__route {
    margin: 20px 20px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

._src_options_options__routeTitle {
    font-size: 1.2em;
    font-weight: 100;
    color: #666;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

._src_options_options__button {
    background: #eee;
    color: #666;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 1px solid #999;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
    transition: background-color 0.1s ease-in, color 0.1s ease-in
}

._src_options_options__button:hover {
        background: #cdcdcd;
        color: #333;
}

._src_options_options__helpText {
    font-size: 0.8em;
}

._src_options_options__helpText_right {
    float: right;
    text-align: right;
}

._src_options_options__buttonNaked {
    border: 0;
    background: none;
}

._src_options_options__fluidContainer {
    margin-bottom: 10px
}

._src_options_options__fluidContainer::after {
        content: '';
        display: table;
        clear: both;
}
._src_options_preferences_components_Preferences__flagsList {
    list-style: none;
    padding-left: 5px;
}

._src_options_preferences_components_Preferences__flagsListItem {
    font-size: 0.9em;
    height: 30px;
}
