/* BASIC COLORS */

.titleColor {
    color: #111;
}

.h2Color {
	color: rgb(55, 53, 47);
}

.lightMintGreen {
    color: #8fffd7;
}

.darkMintGreen {
    color: #5cd9a6;
}

.lightBlueBackground {
    background-color: #83c9f4;
}

/* BACKGROUND COLORS */

.backgroundLightMintGreen {
    background-color: #8fffd7;
}

.backgroundMintGreen {
    background-color: #5cd9a6;
}

.darkBlue {
	color: #1a2f58;
}

.darkBlueBackground {
	background-color: #1a2f58;
}

.textColorSearchPlaceholder {
    composes: darkBlue;
    opacity: 1;

    &:placeholder-shown {
        font-family: 'Inter';
        color: #1a2f58; /* MAN manual adjustment needed */
    }

    &:placeholder {
        font-family: 'Inter';
        color: #1a2f58; /* MAN manual adjustment needed */
    }
}

.actionHover {
    background-color: #79797930;
}

.subTitleColor {
    color: #a2a2a2;
    font-weight: 300;
}

.lighterGrey {
	color: #666;
	font-weight: 500;
}

.hoverText:hover {
    color: #5cd9a6;
}

.menuItem {
    color: #555;
	font-weight: 400;
}

.warningColor {
	color: #f29d9d;
}

.backgroundWarningColor {
    background-color: #f29d9d;
}

.sideBarColorOpen {
	background-color: #edf0f4;
}

/* BORDER RADIUS */

.nakedButton {
    padding: 2px 6px 3px 6px;
    border-radius: 3px;
    font-weight: 400;
}

.buttonRadius {
    border-radius: 5px;
}

.buttonRadiusSmall {
    border-radius: 3px;
}

.borderRadiusBig {
    border-radius: 6px;
}

.tooltipRadius {
    border-radius: 5px;
}

/* HOVER STATES */

.selectedColor {
    background-color: #f7f7f7;
}

.hoverColor:hover {
    background-color: #7979791f;
    color: #222;
}

.hoversidebaropen:hover {
    background-color: rgba(55, 53, 47, 0.2);
    color: #222;
}

.itemActive {
    color: #222;
    font-weight: 600;
}

.hoverSidebarActive {
    background-color: #e0e0de;
}

/* BOX SHADOW FOR TOOLTIPS */

.borderColor {
    border: 1px solid #eae9e9;
}

.boxShadow {
    composes: tooltipRadius;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    transition: background 120ms ease-in 0s;

    &:hover {
        transition: background 120ms ease-in 0s;
        background-color: rgba(55, 53, 47, 0.03);
    }
}

.infoBoxes {
    composes: tooltipRadius;
    box-shadow: 0px 53px 100px -50px #b7b7b7;
    border: solid 1px #f4f4f4;
    background: white;
}

/* CALL TO ACTION BUTTONS */

.CTAwarning {
    composes: backgroundWarningColor;
    border-radius: 5px;
    color: #222;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        background-color: darken;
        color: #222;
        opacity: 1;
    }
}

.CTA {
    composes: backgroundLightMintGreen h2Color;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    &:hover {
    	background-color: #5cd9a6;
    }
}

.CTAdarkBlue {
    composes: darkBlueBackground;
    composes: buttonRadius;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}
