/* Tag Pill */

.tagPill {
    composes: lightBlueBackground from './colors.css';
    color: white;
    padding: 2px 9px 3px 9px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 300;
    margin-right: 3px;
    display: flex;
    align-items: center;

    &:hover {
    	opacity: 0.8;
    }
}

.tagPillSuggestions {
	composes: tagPill;
	opacity: 0.8;
}

.tagPillRemove {
	composes: tagPill;
	padding: 2px 4px 3px 9px;
}

/* Tooltips */

.toolTips {
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.miniTooltip {
    border-radius: 3px;
    background-color: rgb(55, 53, 47);
    color: white;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

/* Buttons */

.nakedButton {
    composes: nakedButton hoverColor from './colors.css';
}

.cancelNaked {
    composes: nakedButton hoverColor warningColor from './colors.css';
}

.greenActionButton {
    composes: nakedButton hoverColor warningColor from './colors.css';
}

.CTA {
    composes: CTA from './colors.css';
    padding: 0.5em 0.7em;
    border-radius: 3px;
    font-weight: 600;
}
