@value colors: 'src/common-ui/colors.css';
@value color1, color2, color3, color4, color5, color6, color11, radius3 from colors;

/* FONTs */

.fontFamily {
    font-family: 'Inter';
}

/* Tag Pill */

.tagPill {
    composes: lightBlueBackground from './colors.css';
    padding: 2px 9px 3px 9px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    height: 100%;
    color: color4;
    margin-right: 3px;
    display: flex;
    align-items: center;
}

.tagPillSuggestions {
	composes: tagPill;
	opacity: 0.8;
}

.tagPillRemove {
	composes: tagPill;
	padding: 2px 4px 3px 9px;
}

/* Tooltips */

.toolTips {
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    background: white;
}

.miniTooltip {
    border-radius: 3px;
    background-color: rgb(55, 53, 47);
    color: white;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

/* Buttons */

.nakedButton {
    composes: nakedButton hoverColor from './colors.css';
    padding: 3px 8px 3px 8px;
    border-radius: radius3;
}

.nakedSquareButton {
    composes: nakedButton;
    padding: 2px !important; /* stylelint-disable-line declaration-no-important */
}

.cancelNaked {
    composes: nakedButton hoverColor warningColor from './colors.css';
}

.greenActionButton {
    composes: nakedButton hoverColor warningColor from './colors.css';
}

.CTA {
    background: color1;
    color: color4;
    padding: 0.5em 1em;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    border: none;

    &:hover {
        background: color2;
        color: color5;
    }
}

/* TextAreas for Edits */

.TextArea {
    composes: editFields from './colors.css';
    background-color: #f7f7f7;
    box-sizing: border-box;
    resize: vertical;
    font-weight: 400;
    font-size: 14px;
    color: #222;
    font-family: 'Inter';
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    padding: 10px 7px;
    margin: 5px 5px 5px 5px;

     &::placeholder {
        color: #888;
    }

    &:focus {
        outline: none;
    }
}

/* ANNOTATION CARDS */

.annotationCard {
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    transition: background 120ms ease-in 0s;

    &:hover {
        transition: background 120ms ease-in 0s;
        background-color: rgba(55, 53, 47, 0.03);
    }
}

/* SEARCH BOXES */

.filterText {
    font-weight: 600;
    composes: darkBlue from './colors.css';
    composes: nakedButton;
    display: inline-block;
}

.searchField {
    background-color: color11;
    color: color4;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;

    &::placeholder {
        color: color6;
        font-style: normal;
    }

    &:focus {
        outline: none;
        border: none;
    }
}
