/* icons */

.iconPosition {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

/* LOGOS */

.logoSquared {
	background-image: '/img/worldbrain-logo-narrow-bw-48.png';
}

/* OTHER */

.removeIcon {
	composes: iconPosition;
	background-image: url('/img/removeIcon.svg');
}

.searchIcon {
	composes: iconPosition;
	background-image: url('/img/searchIcon.svg');
}

.checkMark {
	composes: iconPosition;
	background-image: url('/img/check.svg');
	opacity: 0.7;
	background-size: 100%;
}

.inboxIcon {
	composes: iconPosition;
	background-image: url('/img/notification.svg');
}

.inboxIconFull {
	composes: iconPosition;
	background-image: url('/img/notificationFull.svg');
}

.settingsIcon {
	composes: iconPosition;
	background-image: url('/img/settings.svg');
}

.upgradeIcon {
	composes: iconPosition;
	background-image: url('/img/star_yellow.svg');
}

.collectionsIcon {
	composes: iconPosition;
	background-image: url('/img/collections.svg');
}

.filtersIcon {
	composes: iconPosition;
	background-image: url('/img/filter.svg');
}

.collectionsIconFull {
	composes: iconPosition;
	background-image: url('/img/collectionsIconFull.svg');
}

.filtersIconFull {
	composes: iconPosition;
	background-image: url('/img/filtersIconFull.svg');
}

.arrowTriangle {
	composes: iconPosition;
	background: url('/img/arrow.svg');
}
