/* icons */

.iconPosition {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.removeIcon {
	composes: iconPosition;
	background-image: url('/img/removeIcon.svg');
}

.searchIcon {
	composes: iconPosition;
	background-image: url('/img/searchIcon.svg');
}

.checkMark {
	composes: iconPosition;
	background-image: url('/img/check.svg');
	opacity: 0.7;
	background-size: 100%;
}
