.viewed {
    background: #fffdfd;
    margin-bottom: 5px;
    line-height: 20px;
    cursor: pointer;
    list-style: none;
    color: #d1caca;
    font-weight: 300;
    border-bottom: 10px line #000;
}

.notviewed {
    background: #3eb995;
    margin: 1px;
    padding: 5px;
    list-style: none;
    color: #000;
    font-weight: 900;
}

.tableContainer {
    max-height: 550px;
    width: 100%;
    overflow-y: scroll;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
}

body {
    background: #f2f2f2;
}

.table {
    border-bottom: 10px line #000;
    background: #fffdfd;
    width: 100%;
    font-size: 0.9em;
}

.domainCell {
    width: 80%;
}

.toolbar {
    float: right;
    margin-bottom: 5px;
    clear: both;
}

.unreadMessage {
    float: left;
    width: 50%;
    font-size: 14px;
}

.markallread {
    float: right;
    font-size: 14px;
    cursor: pointer;
}

.noMessage {
    text-align: center;
    font-size: 16px;
}

.sectionReadMessages {
    margin-top: 40px;
}

.notifbackground {
    margin-top: 20px;
    width: 80%;
    min-width: 300px;
}
