.acknowledgement {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    margin-top: 20px;
}

.title {
    color: #3eb995;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

.content {
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
    min-width: 450px;
    color: #777;
}

.col_title {
    margin-top: 40px;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
}

.ul {
    list-style-type: none;
    width: 80%;
    color: #777;
    font-size: 16px;
}

.li {
    margin: 10px 0;
    display: inline-block;
    width: 50%;
    color: #777;

    @media (max-width: 1100px) {
        display: block;
        width: 100%;
    }
}

.img {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 10%;
}

.p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 14px;
    color: black;
    letter-spacing: 1px;
    word-break: break-all;

    @media (max-width: 1100px) {
        display: inline-block;
    }

    @media (max-width: 738px) {
        margin-left: 0;
    }
}

.position {
    color: #999;
}

.name {
    font-weight: bold;
}

.web {
    color: #b7b7b7;
    text-decoration: none;
    font-style: italic;
}

.contribute {
    font-size: 16px;
    color: #666;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 1px;
}

.links {
    color: #928989;
    margin-right: 5px;
}

.contributeContent {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 20px 20px;
    box-shadow: 0 1px 5px 0px #3eb995;
}

.socialIcons {
    width: 16px;
}
