@value colors: 'src/common-ui/colors.css';
@value color4, color6, color2 from colors;

.mainContainer {
    composes: nakedButton from 'src/common-ui/elements.css';
    color: color4;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.image {
    composes: arrowTriangle from 'src/common-ui/icons.css';
    margin-right: 8px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 15px;
}

.text {
    color: color4;
    font-size: 16px;
}
