.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    padding: 0px;
}

.buttonContainer {
    position: absolute;
    display: flex !important; /* stylelint-disable-line declaration-no-important */
    justify-content: space-between;
    top: 0px;
    width: 100%;
    z-index: 214748364;
    align-items: center;
    height: 45px;
}

.container {
    height: 100%;
}

.closeIcon {
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    background-image: url('/img/doubleArrow.svg');
    background-size: 15px;
    display: block;
    margin-right: 9px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: center;
    background-position-x: 2px;
    border-radius: 3px;
    margin-top: -9px;
}

.filterButton {
    composes: filtersIcon from 'src/common-ui/icons.css';
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    background-size: 20px;
    display: block;
    width: 35px;
    opacity: 0.6;
    height: 35px;
    border-top: solid 4px transparent;
}

.listButton {
    composes: collectionsIcon from 'src/common-ui/icons.css';
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    background-size: 20px;
    display: block;
    margin-left: 10px;
    opacity: 0.6;
    width: 35px;
    height: 35px;
    border-top: solid 4px transparent;
}

.clearFilters {
    composes: nakedButton menuItem hoverColor from '../../../common-ui/colors.css';
    margin-left: 40px;
    height: 24px;
    padding: 4px 6px 2px 6px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.filterEnabled {
    border-top: solid 4px #173766;
    padding-top: 40px;
    margin-top: -4px;
    border-radius: 0px;

    &:hover {
        background-color: transparent;
    }
}

.wrapper {
    display: flex;
    width: 85%;
    margin-left: 10px;
    align-items: center;
}

.wrapperFE {
    width: 35%;
}
