.listBtnContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1200;
    font-size: 15px;
    margin-top: 5px;
}

.showListBtn {
    margin: 0 20px;
}

.showListIcon {
    width: 40px;
}

.filteredListName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    outline: none;
    margin-left: -6px;
    composes: nakedButton from 'src/common-ui/elements.css';
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
