.listButton {
    composes: collectionsIconFull from 'src/common-ui/icons.css';
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background-size: 24px;

    &:hover {
        opacity: 1;
    }
}

.collectionEnabled {
    composes: collectionsIconFull from 'src/common-ui/icons.css';
    composes: nakedSquareButton from 'src/common-ui/elements.css';
}

.title {
    font-size: 15px;
    margin-left: 10px;
    white-space: nowrap;
    text-align: left;
    max-width: 164px;
}

.longTitle {
    overflow-x: unset;
    max-width: fit-content;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    padding: 0px;
    background-size: 26px;
}

.buttonContainerOverview {
    position: fixed;
    display: flex !important; /* stylelint-disable-line declaration-no-important */
    flex-direction: column;
    align-items: center;
    top: 80px;
    left: -8px;
    z-index: 500;
    width: 105px;
    justify-content: space-evenly;

    @media (max-width: 835px) {
        display: none !important; /* stylelint-disable-line declaration-no-important */
    }
}

.buttonContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 55px;
    z-index: 1200;
    width: 250px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    font-size: 15px;
}

.longContainer {
    max-width: fit-content;
}

.sidebarLocked {
    composes: hoversidebaropen from 'src/common-ui/colors.css';
}

.smallButton {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    color: #767676;
    padding: 2px 4px;
    border-radius: 3%;
    top: 33px;
    left: 50px;
    width: max-content;
    position: absolute;

    &:hover {
        color: #111;
    }
}

.enabled {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    outline: none;
    margin-left: -6px;
    composes: nakedButton from 'src/common-ui/elements.css';
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
