.filterButton {
    background-image: url('/img/filter.png');
    width: 51px;
    height: 53px;
}

.filterEnabled {
    background-image: url('/img/filter_filled.svg');
}

.listButton {
    background-image: url('/img/collections.svg');
    width: 32px;
    height: 40px;
    opacity: 0.5;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    padding: 0px;
}

.buttonContainerOverview {
    position: fixed;
    display: flex !important; /* stylelint-disable-line declaration-no-important */
    flex-direction: column;
    align-items: center;
    left: 12px;
}

.buttonContainer {
    position: absolute;
    display: flex !important; /* stylelint-disable-line declaration-no-important */
    justify-content: space-between;
    flex-direction: row;
    top: 2px;
    left: 12px;
    width: 33%;
    align-items: baseline;
}
