.filterButton {
    background-image: url('/img/filter.png');
    width: 63px;
    height: 57px;
}

.filterEnabled {
    background-image: url('/img/filter_filled.svg');
}

.listButton {
    background-image: url('/img/collections.svg');
    width: 38px;
    height: 44px;
}

.button {
    display: inline;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    padding: 0px;
}

.buttonContainerOverview {
    position: fixed;
    display: flex !important; /* stylelint-disable-line declaration-no-important */
    justify-content: space-evenly;
    align-items: baseline;
    width: 12%;
}

.buttonContainer {
    position: absolute;
    display: flex !important; /* stylelint-disable-line declaration-no-important */
    justify-content: space-between;
    top: 2px;
    left: 12px;
    width: 33%;
    align-items: baseline;
}
