@import url('/fonts/googlefonts/lato.css');

.tooltip {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    font-size: 13px;
    background-color: #fff;
    color: #3eb995;
    height: 40px;
    width: 70px;
    padding: 0px 0px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    text-align: center;
    line-height: 1.2em;
    transform: translate(-45%, 45%);
    z-index: 100000;
    box-sizing: content-box;
    transition: all 0.15s ease-in;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);

    & * {
        box-sizing: content-box;
        font-family: 'Lato', sans-serif;
    }

    & img {
        margin-bottom: 0px !important; /* stylelint-disable-line declaration-no-important */
        padding: 0px !important; /* stylelint-disable-line declaration-no-important */
    }
}

.tooltip::after {
    box-sizing: content-box;
    bottom: 84%;
    left: 41.5%;
    border: solid transparent;
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    pointer-events: none;
    border-color: #c2c2c2;
    border-width: 1px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    background-color: #fff;
    transition: all 0.2s ease-in;
    transition-delay: 0.3s;
}

.tooltip.stateCopied {
    animation: expand-width 0.1s ease-in 0.2s;
    animation-fill-mode: forwards;

    &::after {
        left: 48%;
    }
}

.tooltip.statePristine {
    width: 110px;

    &::after {
        left: 45%;
    }
}

.createButtons,
.progressIndicator,
.copiedMessage,
.doneComponent {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.createButtons {
    z-index: 10;
    width: 65%;
    margin-left: 6px;

    & div {
        cursor: pointer;
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        & .annotateIcon {
            background-image: url('/img/annotate.svg');
            background-size: 24px;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin-top: 3px;
            margin-right: -4px;

            &:hover {
                background-image: url('/img/annotate_hover.svg');
            }
        }

        & .shareIcon {
            background-image: url('/img/share.svg');
            background-size: 23px;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin-top: 1px;
            margin-right: -8px;

            &:hover {
                background-image: url('/img/share_hover.svg');
            }
        }
    }
}

.progressIndicator {
    width: 60%;
    animation: slideIn 0.2s ease-in;
}

.errorMessage {
    margin: -10px auto;
}

.linkReady {
    display: block;
    margin-top: 3px;
    cursor: pointer;

    & .linkReadyStrong {
        font-weight: 800;
        font-size: 1.1em;
    }
}

.doneComponent {
    width: 70%;
    animation: slideIn 0.2s ease-in;

    & .check {
        width: 25px;
        height: auto;
    }
}

.copiedMessage {
    width: 88%;
    animation: slideIn 0.2s ease-in;

    & .check {
        width: 25px;
        height: auto;
        animation: slideRight 0.2s ease-in 0.2s;
        animation-fill-mode: both;
        margin-left: 8px;
    }

    & .copiedTextContainer {
        height: 35px;
        padding-left: 4px;
        padding-top: 7px;
        animation: fadeInRight 0.2s ease-in 0.3s;
        animation-fill-mode: both;
        text-align: left;
        text-shadow: none;
        margin-left: 3px;

        & .greenText {
            margin: 0;
            padding: 0;
            font-size: 12px;
            color: #3db994;
            font-weight: 800;
            line-height: 1.3;
        }

        & .greyText {
            margin: 0;
            padding: 0;
            font-size: 10px;
            color: #a2a2a2;
            font-weight: 400;
            line-height: 1.3;
        }
    }
}

/* Right side buttons */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 13px;
    height: 30px;
    position: absolute;
    right: 6px;
    top: 5px;
    z-index: 100001;
    border-left: 1px solid #e5e5e5;
    padding-left: 5px;

    & .smallButton img {
        display: block;
        cursor: pointer;
    }

    & .imgSettings {
        width: 13px;
        margin-top: 4px;
    }

    & .imgCross {
        width: 11px;
        margin-top: 2px;
    }
}

/* Loading CSS */
.ldsEllipsis {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: -3px;
    margin-top: 3px;

    & div {
        position: absolute;
        top: 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #3eb995;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    & div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite 0.2s;
    }

    & div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite 0.2s;
    }

    & div:nth-child(3) {
        left: 18px;
        animation: lds-ellipsis2 0.6s infinite 0.2s;
    }

    & div:nth-child(4) {
        left: 31px;
        animation: lds-ellipsis3 0.6s infinite 0.2s;
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(11px, 0);
    }
}

@keyframes slideIn {
    0% {
        transform: translate(0, 15px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -60px);
        opacity: 0.1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes expand-width {
    0% {
        width: 90px;
    }

    100% {
        width: 250px;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
