@value colors: '../../common-ui/colors.css';
@value color4, color6 from colors;

.tooltip {
    composes: toolTips from '../../common-ui/elements.css';
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    background-color: #fff;
    height: 30px;
    min-width: fit-content;
    border-radius: 3px;
    transform: translate(-50%, 50%);
    z-index: 100000;
    opacity: 1;
    transition: all 1s ease-in-out;

    & > * {
        font-family: 'Poppins';
    }
}

.tooltip::after {
    box-sizing: content-box;
    left: calc(50% - 3px);
    top: -4px;
    border: solid transparent;
    content: ' ';
    height: 6px;
    width: 6px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(15, 15, 15, 0.2);
    border-width: 1px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    background-color: #fff;
    transition: all 0.2s ease-in;
    transition-delay: 0.3s;
}

.tooltip.tooltipWithCloseMessage {
    &.statePristine {
        height: 36px;
        width: 345px;
        display: flex;
        justify-content: center;
    }
}

.tooltipWithCloseMessage::after {
    bottom: calc(80px - 3px);
    top: -4px;
}

.tooltip.stateCopied {
    animation: expand-width 0.05s ease-in;
    animation-fill-mode: forwards;

    &::after {
        left: calc(50% - 3px);
        top: -4px;
    }
}

.tooltip.statePristine {
    border-radius: 3px;
    height: 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    &::after {
        left: calc(50% - 3px);
        top: -4px;
    }
}

.closeMessage {
    width: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createButtons,
.progressIndicator,
.copiedMessage,
.doneComponent {
    position: relative;
    display: flex;
    padding: 0 3px;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
    width: 84px;
    justify-content: space-between;
}

.animationWrapper {
    width: 100%;
}

.createButtons {
    z-index: 10;
    display: flex;
    top: 0px;
    padding: 0 3px;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    animation: slideIn 0.05s ease-in-out;
}

.progressIndicator {
    width: 100%;
    animation: slideIn 0.2s ease-in;
    height: 100%;
}

.errorMessage {
    margin: -10px auto;
}

.linkReady {
    display: block;
    margin-top: 3px;
    cursor: pointer;

    & .linkReadyStrong {
        font-weight: 800;
        font-size: 1.1em;
    }
}

.doneComponent {
    width: 70%;

    & .check {
        width: 30px;
        height: 30px;
    }
}

.copiedMessage {
    width: max-content;
    height: 36px;

    & .check {
        background-image: url('/img/checked_green.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        width: 25px;
        height: 25px;
        animation: slideIn 0.05s ease-in-out 0.3s;
        animation-fill-mode: both;
        margin-left: 10px;
    }

    & .copiedTextContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: slideIn 0.05s ease-in-out 0.3s;
        animation-fill-mode: both;
        text-align: left;
        text-shadow: none;
        margin: 0 10px;
    }
}

.greenText {
    color: color4;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
}

.greyText {
    font-size: 12px;
    color: color6;
    font-weight: 400;
    line-height: 1.2;
}

/* Right side buttons */

.button {
    display: contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100001;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.buttonImg {
    width: auto;
    height: 16px !important; /* stylelint-disable-line declaration-no-important */
    margin: 0 5px;

    &:hover {
        opacity: 0.7;
    }
}

.closeBtn {
    height: 14px !important; /* stylelint-disable-line declaration-no-important */
}

.noShow {
    display: none;
}

.tooltipIcon {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    vertical-align: top;
}

.closeMessageDisableTooltip {
    background: #3eb995;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 60%;
    border-radius: 4px;
}

.titleMessage {
    font-size: 16px;
    color: #173766;
}

.smallButton img {
    display: block;
    cursor: pointer;
}

.imgCross {
    composes: nakedButton from '../../common-ui/elements.css';
    background-image: url('/img/removeIcon.svg');
    padding: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
}

/* Loading CSS */
.ldsEllipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 36px;

    &.button {
        display: none;
    }

    & div {
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #3eb995;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    & div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite 0.2s;
    }

    & div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite 0.2s;
    }

    & div:nth-child(3) {
        left: 18px;
        animation: lds-ellipsis2 0.6s infinite 0.2s;
    }

    & div:nth-child(4) {
        left: 31px;
        animation: lds-ellipsis3 0.6s infinite 0.2s;
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(11px, 0);
    }
}

@keyframes slideIn {
    0% {
        transform: translate(0, 15px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -60px);
        opacity: 0.1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes expand-width {
    0% {
        width: 115px;
    }

    100% {
        width: 250px;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
