.tooltip {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    font-size: 13px;
    background-color: #fff;
    color: #3eb995;
    height: 40px;
    width: 90px;
    padding: 0px 0px;
    border-radius: 5px;
    border: 2px solid #dedede;
    text-align: center;
    line-height: 1.2em;
    transform: translate(-45%, 45%);
    z-index: 100000;
    box-sizing: content-box;
    transition: height 0.15s ease-in;

    & * {
        box-sizing: content-box;
        font-family: sans-serif;
    }
}

/*
.tooltip.stateLinkCopied {
    background-color: #3eb995;
    color: white;
}

/*

.tooltip::before {
    box-sizing: content-box;
    border: solid transparent;
    content: ' ';
    height: 30px;
    width: 30px;
    position: absolute;
    right: 89.5%;
    top: 16%;
    pointer-events: none;
    border-color: #3eb995;
    border-width: 2px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transform: rotate(225deg);
    background-color: #fff;
}

.tooltip.stateLinkCopied::before {
    background-color: #3eb995;
}
*/

.tooltip::after {
    box-sizing: content-box;
    bottom: 76%;
    left: 80%;
    border: solid transparent;
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    pointer-events: none;
    border-color: #dedede;
    border-width: 2px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    background-color: #fff;
    transition: all 0.1s ease-in;
}

.tooltip.expanded {
    height: 50px;

    &::after {
        bottom: 86%;
    }
}

/*
.tooltip.stateLinkCopied::after {
    bottom: 80%;
    background-color: #3eb995;
}
*/

.icon {
    display: flex;
    width: 20px;
    position: absolute;
    top: 15px;
    left: -8px;

    & img {
        width: 15px;
        height: 20px;
    }
}

.createLinkButton,
.progressIndicator,
.copiedMessage {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.createLinkButton {
    cursor: pointer;
    z-index: 10;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .createLinkText {
        position: absolute;
        bottom: 3%;
        left: 27%;
        font-size: 1em;
        font-weight: 400;
    }

    & .createLinkImg {
        width: 25px;
        height: 25px;
        margin-top: 3px;
        margin-left: -11px;
        transform: rotate(45deg);
    }
}

.progressIndicator {
    width: 60%;
}

.errorMessage {
    margin: -10px auto;
}

.linkReady {
    display: block;
    margin-top: 3px;
    cursor: pointer;

    & .linkReadyStrong {
        font-weight: 800;
        font-size: 1.1em;
    }
}

.copiedMessage {
    font-size: 1em;
    display: flex;
    height: 50px;
    align-items: center;

    & .check {
        width: 25px;
        height: auto;
    }

    & .copiedText {
        width: 60%;
        margin-right: 8px;
    }
}

/* Right side buttons */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 5px;
    z-index: 100001;
    border-left: 2px solid #dedede;
    padding-left: 7px;

    & .smallButton img {
        height: 15px;
        display: block;
        cursor: pointer;
    }

    & .imgSettings {
        width: 15px;
        margin-top: 1px;
    }

    & .imgInfo {
        width: 13px;
    }

    & .imgCross {
        width: 10px;
        margin-bottom: 1px;
    }
}

.descriptionContainer {
    position: absolute;
    bottom: 0px;
    max-height: 15px;
    width: 90px;
    font-size: 0.7em;
    font-family: sans-serif;
    color: #3eb995;
}

/* Loading CSS */
.ldsEllipsis {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    margin: 0px auto;

    & div {
        position: absolute;
        top: 10px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #3eb995;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    & div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
    }

    & div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    & div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    & div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}
