@import url('/fonts/Inter/inter.css');

.container {
    composes: boxShadow h2Color buttonRadiusSmall from '../../common-ui/colors.css';
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 0 0 14px 0;
    cursor: pointer;
    animation: onload 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

    &.isActive {
        box-shadow: 0px 0px 5px 1px #00000080;
    }

    &.isEdit:hover {
        background-color: white;
        cursor: default;
    }
}

.isClickable {
    cursor: pointer;
}

.highlight {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0 0 5px 0;
    padding: 15px 15px 7px 15px;
    line-height: 20px;
}

.highlightText {
    composes: backgroundLightMintGreen titleColor from '../../common-ui/colors.css';
    padding: 2px 0;
    line-height: 22px;
    font-style: normal;
}

.newAnnotation {
    composes: h2Color from '../../common-ui/colors.css';
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: normal;
}

.commonIcon {
    composes: nakedSquareButton from '../../common-ui/elements.css';
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 16px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    border: none;
    padding: 3px;
    width: 24px;
    height: 24px;
    margin: 0 0px;
    opacity: 0.2;

    &:focus {
        outline: none;
    }
}

.commonIcon:hover {
    opacity: 1;
}

.buttonBar {
    display: flex;
}

.editIcon {
    background-image: url('/img/edit.svg');
    background-size: 17px;
    background-position-y: 3px;
}

.trashIcon {
    background-image: url('/img/trash.svg');
    background-position-y: 3px;
}

.goToPageIcon {
    background-image: url('/img/open.svg');
    background-position-y: 4px;
}

.container:hover .commonIcon {
    opacity: 0.6;
}

@keyframes onload {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
