@import url('/fonts/Poppins/poppins.css');

.container {
    composes: boxShadow h2Color buttonRadiusSmall from '../../common-ui/colors.css';
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 10px 0 5px 0;
    cursor: pointer;
    animation: onload 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

    &.isActive {
        box-shadow: 0px 0px 5px 1px #00000080;
    }

    &.isEdit:hover {
        background-color: white;
        cursor: default;
    }

    &:hover .commonIcon {
        opacity: 0.3;
        display: block;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    &:hover .bookmark {
        opacity: 1;
    }

    &:hover .commentActive {
        opacity: 1;
    }
}

.isClickable {
    cursor: pointer;
}

.highlight {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0 0 5px 0;
    padding: 15px 15px 7px 15px;
    line-height: 20px;
    text-align: left;
}

.highlightText {
    background-color: #00d88b;
    padding: 2px 0;
    line-height: 25px;
    font-style: normal;
    color: #3a2f45;
}

.newAnnotation {
    composes: h2Color from '../../common-ui/colors.css';
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: normal;
}

.commonIcon {
    border: none;
    z-index: 2500;
    min-width: 20px;
    height: 14px;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    background-position: center center;
    border-radius: 3px;
    background-size: contain;
    max-width: 30px;
    width: fill-available;
    display: none;
    margin-left: 3px;

    &:hover {
        opacity: 1;
    }
}

.buttonBar {
    display: flex;
}

.editIcon {
    background-image: url('/img/comment_edit.svg');

    &:hover {
        opacity: 0.6;
    }
}

.trashIcon {
    background-image: url('/img/trash.svg');

    &:hover {
        opacity: 0.6;
    }
}

.goToPageIcon {
    background-image: url('/img/open.svg');

    &:hover {
        opacity: 0.6;
    }
}

@keyframes onload {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
