.annotationBoxFooter {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-top: 1px solid #d2d2d2;
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.textArea {
    composes: TextArea from '../../common-ui/elements.css';
    min-height: 100px;
    margin: 5px 10px;
}

.footerBoldText {
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    margin: 0 3px;
    background-color: transparent;

    &:hover {
        background-color: #efefef;
    }
}

.footerText {
    box-sizing: border-box;
    color: #818181;
    cursor: pointer;
    margin: 0 3px;
    font-size: 14px;
}
