.bookmarkedBtn {
    background: url('/img/star_full.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.unbookmarkedBtn {
    background-image: url('/img/star_empty.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}
