.bookmarkedBtn {
    background-image: url('/img/star_full.svg');
    background-repeat: no-repeat;
    background-size: 23px;
    margin-left: -2px;
    padding-right: 2px;
    margin-top: -2px;
    opacity: 0.8;
}

.unbookmarkedBtn {
    background-image: url('/img/star_empty.svg');
    background-repeat: no-repeat;
    background-size: 23px;
    margin-left: -2px;
    padding-right: 2px;
    opacity: 0.8;
    margin-top: -2px;
}