.root {
    width: 18%;
    height: auto;
    box-shadow: 1px 1px 5px #888;
}

.title {
    font-size: 1.2em;
    font-weight: 100;
    margin: 20px 0 20px 20px;
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.icon {
    width: 135px;
    height: 35px;
    margin: 20px 20px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navIcon {
    float: left;
    margin: 0 10px;
}

.navItem {
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.navLink {
    display: block;
    text-decoration: none;
    font-size: 0.9em;
    padding: 5px 0 5px 20px;
    padding-left: 20px;
    color: black;
    width: 100%;

    &.isActive {
        color: white;
        background-color: #3db995;
    }
}

