.root {
    width: 17rem;
    height: auto;
    min-width: 17rem;
    min-height: 100vh;
    background-color: #edf0f4;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    font-weight: 200;
}

.title {
    font-size: 1.2em;
    font-weight: 100;
    margin: 20px 0 20px 20px;
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.icon {
    width: 60%;
    height: auto;
    margin: 20px 20px;
    margin-left: 30px;
}

.icon_div {
    width: 100%;
    height: auto;
}

.nav {
    margin: 0;
    padding: 0;
    width: 80%;
    list-style: none;
}

.navIcon {
    float: left;
    margin: 0 20px;
    font-size: 18px;
    padding: 12px 0 10px 0;
}

.navItem {
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.navLink {
    display: block;
    text-decoration: none;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 2px 0 5px 20px;
    padding-left: 20px;
    color: #1a2f58;
    width: 100%;
    letter-spacing: 1px;

    &.isActive {
        color: #2ab98a;
        font-weight: 400;
        border-right: none;
    }
}

.nav li:first-of-type a {
    font-size: 0.75rem;
}

.importSubItems {
    margin-left: 60px;
    margin-top: 10px;
    color: #bababa;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: bold;
}

.active {
    color: #2ab98a;
}

.done {
    text-decoration: line-through;
}
