.root {
    composes: sideBarColorOpen from '../../../common-ui/colors.css';
    max-width: 280px;
    min-width: 230px;
    height: 100vh;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 1.2em;
    font-weight: 100;
    margin: 20px 0 20px 20px;
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.listElements {
    composes: hoversidebaropen from '../../../common-ui/colors.css';
}

.icon {
    width: 70%;
    height: auto;
    margin: 20px 20px;
    margin-left: 30px;
}

.icon_div {
    width: 100%;
    height: auto;
    display: flex;
}

.icon_div > a {
    text-align: center;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 0px;
}

.nav li {
    margin: 10px 0;
}

.navIcon {
    float: left;
    margin: 0 16px 0 13px;
    font-size: 18px;
    padding: 6px 0 10px 0;
}

.navItem {
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.navLink {
    composes: menuItem from '../../../common-ui/colors.css';
    display: block;
    text-decoration: none;
    font-size: 13px;
    width: 100%;
    padding: 5px 5px 5px 20px;
    letter-spacing: 0.5px;

    &.isActive {
        color: #222;
        font-weight: 600;
        background-color: #e4e4e4; /* MAN */
        border-right: none;
    }
}

.nav li:first-of-type a {
    font-size: 0.75rem;
    font-weight: 600;
}

.importSubItems {
    margin-left: 60px;
    margin-top: 10px;
    color: #bababa;
    font-size: 14px;
    font-weight: bold;
}

.active {
    color: #2ab98a;
}

.done {
    text-decoration: line-through;
}
