@value colors: 'src/common-ui/colors.css';
@value color3 from colors;

.privacy {
    margin-top: 20px;
}

.title {
    composes: sectionTitle from 'src/options/base.css';
}

.subTitle {
    composes: subTitle from 'src/options/base.css';
}

.content {
    composes: subText from 'src/options/base.css';
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.link {
    color: color3;
}

.optOut {
    display: flex;
    align-items: center;

    & > select {
        margin-left: 10px;
    }
}

.eventTable {
    text-align: left;
    font-size: 14px;
    color: #3a2f45;
    border-spacing: 00px 15px;
}

.tableTitle {
    font-size: 16px;
}

.eventRow {
    font-size: 12px;
    padding-bottom: 20px;
}

.eventName {
    font-weight: 600;
}

