@value colors: 'src/common-ui/colors.css';
@value color12 from colors;

.settingsSection {
    display: flex;
}

.settingsSectionDescription {
    width: 500px;
}

/* .settingsLabel {

} */
.settingsHelp {
    font-size: 0.9em;
}

.statusLine {
    color: color12;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
}

.nextBackupLine {
    display: flex;
    align-items: flex-end;
}

.statusLabel {
    font-weight: bold;
}

.boldText {
    composes: h2Color from '../../../../common-ui/colors.css';
    font-weight: 600;
    font-size: 15px;
    margin-right: 8px;
}

.startWizard {
    border: none;
    outline: none;
    color: white;
    background: #173766;
    cursor: pointer;
    padding: 8px;
    font-size: 0.8rem;
}

/* .comingSoon {
}

.supportUs {
} */

.time {
    composes: subText from '../../../../options/base.css';
    margin: 0 0 0 0;
    font-size: 15px;
}

.right {
    float: right;
    margin-top: 0px;
}

.limitWidth {
    display: block;
    margin-bottom: 15px;
}

.location {
    composes: darkBlue from '../../../../common-ui/colors.css';
    float: right;
    text-align: right;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: unset;
    margin-right: 3px;
    justify-content: flex-end;
}

.change {
    composes: nakedButton hoverColor from '../../../../common-ui/colors.css';
    float: right;
    font-size: 0.6rem;
    color: #555;
    margin-right: -3px;
    width: fit-content;
    text-align: right;
    align-self: flex-end;
}

.pricing {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -5px;
    margin-left: 5px;
    margin-bottom: 30px;
}

.payConfirm {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.cancelButton {
    composes: warningColor nakedButton hoverColor from '../../../../common-ui/colors.css';
    margin-left: 15px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
}
