.steps {
    margin-bottom: 10px;
    margin-right: 50px;
    margin-top: -10px;
    width: 100%;
}

.step {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stepLabel {
    composes: subTitleColor from '../../../../common-ui/colors.css';
    font-size: 14px;
    vertical-align: middle;
}

.stepNumber {
    composes: h2Color from '../../../../common-ui/colors.css';
    margin-right: 5px;
    font-weight: 500;
}

.actions {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 25px;
}

.stepStatus {
    text-align: right;
    padding-right: 5px;
    display: flex;
}

.progressHelpText {
    font-size: 10px;
    color: #173766;
    margin-top: 10px;
}

.actionCancel {
    composes: CTAwarning from '../../../../common-ui/colors.css';
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
}
