.container {
    display: inline-block;
    position: relative;
}

.memexIcon {
    display: inline-block;
    background-image: url('/img/memex_logo_black.svg');
    height: 18px;
    width: 18px;
    cursor: pointer;
    border: none;
    vertical-align: bottom;
    background-size: 18px;
    margin-bottom: -3px;
    background-repeat: no-repeat;
}

.hoverButton {
    z-index: 1;
    height: 30px;
    margin-top: -10px;
}

.hoverArea {
    width: 23px;
}

.saved {
    background-image: url('/img/checkRound.svg');
}

.saving {
    background-image: url('/img/loading_spinner.svg');
}

.saveToMemex {
    margin-bottom: -6px;
}

.iconsContainerTransparent {
    background-color: transparent;
    z-index: 2;
    position: absolute;
    height: 40px;
    width: 120px;
    bottom: -35px;
    left: -47px;
    display: flex;
    align-items: flex-end;
}

.iconsContainer {
    grid-template-columns: max-content;
    height: 36px;
    width: 120px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.icons {
    display: flex;
    outline: none;
}

.loadingSpinner {
    width: fill-available;
}

.button {
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    outline: none;
    opacity: 0.7;
}

.commentIcon {
    background-image: url('/img/comment_add.svg');
}

.tagIcon {
    background-image: url('/img/tag.svg');
}

.bookmark {
    background-image: url('/img/star_full.svg');
}

.notBookmark {
    background-image: url('/img/star_empty.svg');
}

.collIcon {
    background-image: url('/img/collections_add.svg');
}

.commentSaved {
    border-radius: 50px;
    border: 1px solid #5cd9a6;
    width: 100px;
    height: 35px;
}

.saveBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.saveIcon {
    background-image: url('/img/saveIcon.svg');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}

.saveText {
    font-weight: 600;
    margin-left: 10px;
}
