@import url('/fonts/Poppins/poppins.css');

.title {
    color: #3eb995;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.content {
    font-style: normal;
    margin-top: 20px;
    font-size: 14px;
    color: #b7b7b7;
    letter-spacing: 1px;
    width: 60%;
    min-width: 450px;
}

.productHuntBatch {
    width: 180px;
    height: 54px;
    opacity: 0.7;

    @media (max-width: 1100px) {
        display: none;
    }

    &:hover {
        opacity: 1;
    }
}

.productHuntContainer {
    position: absolute;
    bottom: 0px;
    float: right;
    right: 60px;
}
