/* Dropdown */

.dropdownContainer {
    composes: toolTips from '../../common-ui/elements.css';
    padding: 10px 0;
    background: white;
    display: block;
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 10000;
}

.dropdown {
    list-style-type: none;
    z-index: 20000;
}

.dropdownElement {
    composes: hoversidebaropen from '../../common-ui/colors.css';
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #222;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
}
