@import url('/fonts/googlefonts/lato.css');

.mainContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid #3eb995;
    box-shadow: 0px 1px 4px #3eb995;
    margin-bottom: 15px;
    font-family: 'Lato';
    margin-top: 15px;
    padding: 10px 5px;
    align-items: center;
    justify-content: space-between;
}

.alertIcon {
    width: 60px;
    margin-top: 4px;
    margin-right: 5px;
}

.messageTitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: -1px 10px 0 3px;
    text-align: left;
    width: 100%;
}

.message {
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    align-items: flex-start;
}

.title {
    font-weight: 600;
    font-size: 16px;
}

.tick {
    width: 60px;
    margin-right: 3px;
    cursor: pointer;

    &:hover {
        background-color: #efefef;
        border-radius: 90px;
    }
}
