.removed {
    padding: 10px;
    color: #757475;
    border-radius: 3px;
    border: 1px solid #4abf9dad;
    margin-bottom: 20px;
}

.removedP {
    display: inline-block;
    width: 75%;
    font-size: 15px;
    text-align: left;
    margin-left: 42px;
}

.removedA {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    vertical-align: middle;
    text-decoration: none;
    color: #757475;
    cursor: pointer;
    margin-right: 25px;

    &:hover {
        color: #4abf9dad;
        text-decoration: none !important; /* stylelint-disable-line declaration-no-important */
    }
}
