.removed {
    padding: 10px;
    color: #757475;
    border-radius: 3px;
    border: 1px solid #4abf9dad;
    margin-bottom: 20px;
    animation-name: fadeOut;
    animation-duration: 8s;
}

.removedP {
    display: inline-block;
    width: 85%;
    font-size: 12px;
}

.removedA {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    vertical-align: bottom;
    text-decoration: none;
    color: #757475;
    cursor: pointer;
}

.removedA:hover {
    color: #4abf9dad;
    text-decoration: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
