:root {
    --memex-green: #4abf9d;
}

.result {
    background: #fbf9fa;
    padding: 15px;
    padding-left: 16px;
}

.displayTime {
    font-size: 0.9em;
    color: #bfbdbe;
}

.url {
    color: var(--memex-green);
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    margin: -2px 0 5px 0;
    width: 97%;
}

.title {
    /* Since google loads css after page load which
overides the color of links, there is a need
for !important */
    color: #444 !important; /* stylelint-disable-line declaration-no-important */
    font-size: 1.125em;
    text-decoration: none;
    width: 97%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1px;
}

.duckduckgo {
    padding-top: 9px;
    padding-bottom: 9px;

    & .url {
        margin-top: -16px;
    }

    & .displayTime {
        margin-top: -8px;
    }
}
