:root {
    --memex-green: #4abf9d;
}

.rootContainer {
    width: 100%;
    composes: boxShadow from '../../common-ui/colors.css';
    display: flex;
    max-width: 100%;
    margin-bottom: 10px;
    height: 85px;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.rootContainer > a {
    text-decoration: none !important; /* stylelint-disable-line declaration-no-important */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    width: auto;
    padding: 12px;
}

.firstlineContainer {
    composes: darkBlue from '../../common-ui/colors.css' !important; /* stylelint-disable-line declaration-no-important */
    width: 100%;
    font-size: 15px;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    font-weight: 500;
    height: 25px;
}

.title {
    composes: darkBlue from '../../common-ui/colors.css' !important; /* stylelint-disable-line declaration-no-important */
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
    width: 97%;
    flex-basis: 95%;
    font-weight: 500;
}

.favIcon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.url {
    composes: subTitleColor from '../../common-ui/colors.css';
    font-size: 13px;
    min-width: 0;
    font-weight: 400;
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    width: 100%;
    margin-top: -15px;
}

.url a {
    text-decoration: none;
}

.result {
    background: #fbf9fa;
    padding: 15px;
    padding-left: 16px;
}

.displayTime {
    font-size: 12px;
    color: #bfbdbe;
    height: 15px;
}

.duckduckgo {
    padding-top: 9px;
    padding-bottom: 9px;

    & .url {
        margin-top: -16px;
    }

    & .displayTime {
        margin-top: -8px;
    }
}
