.url {
    font-size: 12px;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.displayTime {
    font-size: 12px;
    color: #c1c1c1;
    padding-bottom: 7px;
}
.memexResults {
    margin-bottom: 30;
}
.toggle {
    cursor: pointer;
    font-size: 13;
    color: #4abf9d;
    float: right;
}
