* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

._src_options_base__root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

._src_options_base__route {
    margin: 20px 20px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

._src_options_base__routeTitle {
    font-size: 1.2em;
    font-weight: 100;
    color: #666;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
._src_options_components_navigation_styles__root {
    width: 180px;
}

._src_options_components_navigation_styles__title {
    font-size: 1.2em;
    font-weight: 100;
    margin: 20px 0 20px 20px;
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

._src_options_components_navigation_styles__nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

._src_options_components_navigation_styles__navItem {
    width: 100%;
    margin-bottom: 10px
}

._src_options_components_navigation_styles__navItem:last-child {
    margin-bottom: 0;
}

._src_options_components_navigation_styles__navLink {
    display: block;
    text-decoration: none;
    color: #999;
    font-size: 0.8em;
    padding: 5px 0 5px 20px;
    padding-left: 20px
}

._src_options_components_navigation_styles__navLink._src_options_components_navigation_styles__isActive {
    color: #333;
    padding-left: 15px;
    border-left: 5px solid #333;
}
