@charset "UTF-8";

@import url(fonts/crimson/crimson.css);

body {
    background-image: url(img/background.jpg);
    background-size: 100%;
}

.Overview .query {
    display: block;
    width: 20em;
    margin: 1em auto;
    padding: 0.4em 0.8em;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-size: large;
    box-shadow: 2px 3px 3px #888;
}
.Overview .query:focus {
    outline: none;
    border: 1px solid grey;
}

.ResultList {
    list-style: none;
    margin: 40px auto;
    padding: 0;
    width: 242px;
}

.ResultList .timestamp {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Crimson', serif;
}
.ResultList .timestamp::before {
    content: '— '
}
.ResultList .timestamp::after {
    content: ' —'
}

.ResultList .VisitAsListItem {
    position: relative;
    display: block;
    width: 240px;
    height: 120px;
    box-sizing: content-box;
    overflow: hidden;

    margin-top: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: snow;
    box-shadow: 2px 3px 3px #888;
}

.ResultList a.VisitAsListItem:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 3px 4px 3px #888;
    margin-left: -1px;
}

.VisitAsListItem .thumbnail {
    display: block;
    max-width: 240px;
    width: auto;
    height: auto;
    opacity: 0.6;
}

.VisitAsListItem .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid lightgrey;
}

.VisitAsListItem .favicon {
    width: 16px;
    height: 16px;
    margin: 2px 4px 0px 2px;
}

.VisitAsListItem .title {
    float: left;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 4px;
    color: #333;
    font-size: large;
}
