@value colors: 'src/common-ui/colors.css';
@value color11, color14, color4, color7, color9 from colors;

.annotationBoxFooter {
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 25px;
    margin: 0 4px 4px 4px;
    box-sizing: border-box;
}

.footerBoldText {
    composes: nakedButton hoverColor from '../../common-ui/colors.css';
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    border: none;
    font-weight: 700;
    outline: none;
    background: none;

    &:focus {
        background-color: color7;
    }
}

.footerText {
    composes: nakedButton hoverColor warningColor from '../../common-ui/colors.css';
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    margin-right: -6px;
    background: transparent;

    &:focus {
        background-color: color7;
    }
}

.deleteReally {
    box-sizing: border-box;
    font-weight: 800;
    font-size: 15px;
    color: #000;
    margin-right: 5px;
}
