@value colors: 'src/common-ui/colors.css';
@value color5 from colors;

.linkbox {
    grid-area: linkbox;
    display: inline-block;
    justify-self: center;
    margin-top: 20px;
}

.logo {
    width: 3em;
    height: 3em;
    margin: 0px 20px;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

.linux {
    margin-bottom: -3px;
}

.link {
    composes: darkBlue from '../../../../../common-ui/colors.css';
    font-weight: 600;
    text-decoration: none;
}

.text {
    color: color5;
}
