.checklist {
    text-align: left;
    margin: 25px 0 36px -10px;
}

.checklistText {
    color: #1a2f58;
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
}

.subTitle {
    font-size: 14px;
    margin-left: 58px;
    margin-top: -26px;
    cursor: pointer;
    margin-right: 20px;
    color: #bcc2bd;
}

.striked {
    text-decoration: line-through;
    cursor: default;
    opacity: 0.7;
}

.checked {
    background-image: url('/img/checked_green.svg');
}

.icon {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin-bottom: -36px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px;
    vertical-align: bottom;
    cursor: pointer;
}

.close {
    background-image: url('/img/cross_circle.svg');
}

.step1 {
    background-image: url('/img/step_onboarding.svg');
}

.step2 {
    background-image: url('/img/step_onboarding.svg');
}

.step3 {
    background-image: url('/img/step_onboarding.svg');
}

.step4 {
    background-image: url('/img/step_onboarding.svg');
}
