.title {
    composes: h2Color from '../../../common-ui/colors.css';
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.9rem;
    font-weight: bold;
}

.subtext {
    composes: darkBlue from '../../../common-ui/colors.css';
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    font-weight: 300;
}

.container {
    composes: infoBoxes from '../../../common-ui/colors.css';
    width: fit-content;
    position: fixed;
    right: -440px;
    top: 165px;
    border-radius: 5px;
    z-index: 1;
    padding: 30px 15px 0px 15px;
    transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.container:hover {
    transform: translate(-440px, 0px);
    transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    padding: 30px 25px 15px 35px;
}

.close {
    composes: removeIcon from 'src/common-ui/icons.css';
    composes: nakedSquareButton from 'src/common-ui/elements.css';
    position: absolute;
    top: 8px;
    right: 8px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
    background-size: 12px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}
