.checklist {
    text-align: left;
    display: flex;
    flex-direction: row;
    min-height: 60px;
    margin: 25px 0 15px 0px;
    align-items: center;
    cursor: pointer;
}

.checklistText {
    composes: h2Color from '../../../common-ui/colors.css';
    font-weight: 400;
    cursor: pointer;
    font-size: 0.93rem;
}

.subTitle {
    composes: subTitleColor from '../../../common-ui/colors.css';
    font-size: 0.75rem;
    margin-top: 3px;
    cursor: pointer;
}

.striked {
    text-decoration: line-through;
    cursor: default;
    opacity: 0.7;
}

.checked {
    background-image: url('/img/checked_green.svg');
}

.icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    cursor: pointer;
    opacity: 0.7;
    background-image: url('/img/step_onboarding.svg');

    &:hover {
        opacity: 1;
    }
}

.doneIcon {
    background-image: url('/img/doneIcon.svg');
    opacity: 1;
}

.close {
    background-image: url('/img/cross_circle.svg');
}

@media only screen and (max-width: 820px) {
    .checklistText {
        font-weight: 400;
        cursor: pointer;
        font-size: 0.8rem;
    }

    .subTitle {
        font-size: 0.7rem;
        font-weight: 300;
    }

    .icon {
        width: 40px;
        height: 40px;
        min-width: 40px;
        background-size: 40px;
    }

    .checklist {
        min-height: 45px;
        margin: 25px 0 15px 0px;
    }
}
