.checklist {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    margin: 25px 0 25px -10px;
}

.checklistText {
    color: #1a2f58;
    font-weight: 600;
    cursor: pointer;
    align-self: start;
    font-size: 18px;
}

.subTitle {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
    color: #bcc2bd;
}

@media (min-width: 1024px) {
    .subTitle {
        margin-right: 100px;
        margin-top: -10px;
    }
}

.striked {
    text-decoration: line-through;
    cursor: default;
    opacity: 0.7;
}

.checked {
    background-image: url('/img/checked_green.svg');
}

.icon {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin-bottom: -9px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: bottom;
    cursor: pointer;
}

.close {
    background-image: url('/img/cross_circle.svg');
}

.step1 {
    background-image: url('/img/step_onboarding.svg');
}

.step2 {
    background-image: url('/img/step_onboarding.svg');
}

.step3 {
    background-image: url('/img/step_onboarding.svg');
}

.step4 {
    background-image: url('/img/step_onboarding.svg');
}
