@value colors: 'src/common-ui/colors.css';
@value color1, color5, color6 from colors;

.container {
    background: #fff;
    width: 60%;
    max-width: 50rem;
    margin: 30px auto;
    padding: 2rem 4rem;
    display: flex;
    border: solid 1px #f4f4f4;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0px 2px 30px rgba(164, 180, 182, 0.5);
    text-align: center;
}

.logo {
    background-image: url('/img/memex-logo.png');
    width: 210px;
    height: 55px;
    display: flex;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 40px auto -40px auto;
}

.heading1 {
    color: color5;
    font-size: 1.8rem;
    margin-top: 0;
}

.heading2 {
    color: color5;
    font-size: 1.4rem;
}

.text {
    color: color5;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.privacyImage {
    background-repeat: no-repeat;
    display: flex;
    background-image: url('/img/privacy.svg');
    fill: white;
    background-size: contain;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
}

.center {
    text-align: center;
}

.skipTitle {
    font-size: 1.1rem;
    text-decoration: underline;
    margin-bottom: 0.2rem;
    font-weight: 500;
}

.skipDesc {
    font-size: 0.8rem;
}

.progressContainer {
    margin: 2rem auto 0;
    text-align: center;
}

.progressDot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: color6;
    margin-right: 4px;
    display: inline-block;
}

.progressDotSeen {
    background: color1;
}

.CTA {
    composes: CTA from '../../../common-ui/elements.css';
    font-size: 1.2rem;
}

.grayActionButton {
    composes: grayActionButton from '../../../common-ui/elements.css';
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 820px) {
    .container {
        margin-top: 4rem;
        width: 95%;
    }

    .heading {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .text {
        font-size: 0.875rem;
    }
}
