.container {
    width: 95%;
    max-width: 50rem;
    height: 32rem;
    background-color: #fff;
    margin: 150px auto 30px auto;
    display: flex;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 70px 0px -70px rgba(14, 23, 68, 0.2),
        -50px 70px 70px -70px rgba(14, 23, 68, 0.2),
        50px 70px 70px -70px rgba(14, 23, 68, 0.2);
    border-radius: 6px;
}

@media only screen and (max-width: 820px) {
    .container {
        width: 99%;
        margin-top: -25px;
        box-shadow: none;
        border-bottom: solid 1px #4a4a4538;
    }

    .text {
        font-size: 0.875rem;
    }
}

.leftParent {
    width: 50%;
    text-align: left;
    padding: 30px;
    background: #f6f7fb;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.rightParent {
    width: 50%;
    padding: 30px 30px 30px 55px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.welcome {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #1a2f58;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 25px;
}

.text {
    font-size: 1rem;
    color: #3a3a75;
    text-align: center;
    letter-spacing: 0.7px;
}

.privacyImage {
    background-repeat: no-repeat;
    display: flex;
    background-image: url('/img/privacy.svg');
    fill: white;
    background-size: 100%;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 610px;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
}

.bold {
    font-size: 1rem;
    color: #1a2f58;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
}

.subtextGreen {
    color: #598b7c;
    font-size: 0.8125rem;
    text-align: center;
    margin-top: 10px;
}

.learnMore {
    color: #1a2f58;
    font-size: 0.8125rem;
    font-weight: 600;
    padding: 7px 24px 8px 24px;
    border: 2px solid #5cd9a6;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 72px;
    margin-right: 4px;
    text-decoration: none;
}

/* .settings {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    background-image: url('/img/settings.svg');
    fill: white;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: -19px;
    margin-top: 9px;
} */
