.popup {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 900px;
    position: relative;
    transition: all 1s ease-in-out;
    cursor: default;
    max-height: 90%;
    overflow: auto;
}

.heyyou {
    font-size: 50px;
    font-weight: lighter;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    font-family: 'Libre Franklin', sans-serif;
    justify-content: center;
}

.message {
    font-size: 1.2em;
    line-height: 1.7em;
    text-align: center;
}

.logobig {
    margin-bottom: 50px;
    margin-top: 55px;
    width: 30%;
    min-width: 500px;
}

.btnLink {
    width: 150px;
    text-align: center;
    border: 2px solid #3eb995;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 20px;
    margin-top: 30px;
    font-size: 17px;
    text-decoration: none;
    background: #fff;
    color: #3eb995;
    font-weight: 100;
    font-family: 'Libre Franklin', sans-serif;
}

.btnLink:hover {
    background: #e7f4f0;
}

.btnBar {
    align-items: center;
    flex-direction: row;
    margin: 20px;
    margin-top: 50px;
}

.link {
    color: #928989;
}
