.container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 75%;
    background-color: #fff;
    margin: 150px auto 30px auto;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 2px 4px 0px #00000026;
    border-radius: 6px;
}

@media only screen and (max-width: 820px) {
    .container {
        width: 99%;
        margin-top: -25px;
        box-shadow: none;
        border-bottom: solid 1px #4a4a4538;
    }

    .text {
        font-size: 15px;
    }
}

.leftParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: #f6f7fb;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.rightParent {
    padding: 30px 30px 30px 55px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.welcome {
    font-size: 28px;
    text-align: center;
    font-weight: 800;
    font-style: normal;
    font-family: 'Uni Neue';
    color: #1a2f58;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 0;
}

.text {
    font-size: 14px;
    color: #1a2f58;
    text-align: center;
    letter-spacing: 0.7px;
}

.privacyImage {
    background-repeat: no-repeat;
    display: flex;
    background-image: url('/img/privacy.svg');
    fill: white;
    background-size: 100%;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-size: 18px;
    color: #1a2f58;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtextGreen {
    color: #598b7c;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
}

.learnMore {
    color: #1a2f58;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #5cd9a6;
    padding: 7px 24px 8px 24px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
}

.settings {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    background-image: url('/img/settings.svg');
    fill: white;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: -19px;
    margin-top: 9px;
}
