p {
    margin: 0;
}

.container {
    /* composes: boxShadow from '../../../common-ui/colors.css'; */
    box-shadow: 0px 53px 100px -50px #b7b7b7;
    width: 95%;
    max-width: 50rem;
    margin: 90px auto 30px auto;
    display: flex;
    border: solid 1px #f4f4f4;
    border-radius: 10px;
}

.leftParent {
    composes: sideBarColorOpen from '../../../common-ui/colors.css';
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 30px 30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 2;
}

.rightParent {
    width: 90%;
    padding: 45px 35px 30px 47px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.welcome {
    composes: h2Color from '../../../common-ui/colors.css';
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
}

.logo {
    background-image: url('/img/memex_text_logo.png');
    width: 100px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-top: 5px;
}

.text {
    composes: subTextColor from '../../../common-ui/colors.css';
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 0.7px;
}

.privacyImage {
    background-repeat: no-repeat;
    display: flex;
    background-image: url('/img/privacy.svg');
    fill: white;
    background-size: contain;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
}

.bold {
    composes: h2Color from '../../../common-ui/colors.css';
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
}

.subtextGreen {
    composes: subTextColor from '../../../common-ui/colors.css';
    font-size: 0.8125rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 13px;
}

.learnMore {
    composes: CTA from '../../../common-ui/colors.css';
    font-size: 0.8125rem;
    padding: 7px 24px 8px 24px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 72px;
    margin-right: 4px;
}

/* .settings {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    background-image: url('/img/settings.svg');
    fill: white;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: -19px;
    margin-top: 9px;
} */

@media only screen and (max-width: 820px) {
    .container {
        composes: h2Color from '../../../common-ui/colors.css';
        margin-top: 75px;
    }

    .welcome {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .logo {
        width: 90px;
    }

    .text {
        font-size: 0.875rem;
    }

    .leftParent {
        padding: 40px 30px 30px 30px;
        width: 50%;
    }

    .privacyImage {
        width: 85%;
        height: 100%;
        margin-left: 10px;
        margin-top: 40px;
        margin-right: auto;
    }
}

