.container {
    width: 95%;
    max-width: 800px;
    height: 450px;
    background-color: #fff;
    margin: 50px auto 30px auto;
    display: flex;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 2px 4px 0px #00000026;
    border-radius: 6px;
}

@media only screen and (max-width: 820px) {
    .container {
        width: 99%;
        margin-top: -25px;
        box-shadow: none;
        border-bottom: solid 1px #4a4a4538;
    }

    .text {
        font-size: 15px;
    }
}

.leftParent {
    width: 50%;
    text-align: left;
    padding: 30px;
    background: #f0f0f066;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.rightParent {
    width: 50%;
    padding: 30px 30px 30px 55px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.welcome {
    font-size: 29px;
    text-align: center;
    font-weight: 700;
    font-family: 'Uni Neue';
    font-style: italic;
    color: #3eb995;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 25px;
}

.text {
    font-size: 15px;
    color: #3a3a75;
    text-align: center;
    letter-spacing: 0.7px;
}

.privacyImage {
    background-repeat: no-repeat;
    display: flex;
    background-image: url('/img/privacy.svg');
    fill: white;
    background-size: 100%;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 610px;
    margin: 0px auto;
    justify-content: space-evenly;
}

.bold {
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtextGreen {
    color: #3eb995;
    font-size: 13px;
    text-align: left;
    margin-top: 0px;
}

.learnMore {
    color: white;
    background-color: #3eb995;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 24px 4px 24px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-right: -30px;
    text-decoration: none;
}

.settings {
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    background-image: url('/img/settings_grey.svg');
    fill: white;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: -19px;
    margin-top: 9px;
}
