.container {
    padding: 0 8em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 6px 7px -7px #777;

    & a {
        text-decoration: none !important; /* stylelint-disable-line declaration-no-important */
    }
}

.choiceBtnContainer {
    font-size: 1.1rem;
    color: #3eb995;
    font-weight: lighter;
    display: block;
    min-height: 160px;
    margin-bottom: 15px;
}

.readyMsg {
    font-size: 25px;
    margin-bottom: 5px;
}

.prepareMsg {
    padding-top: 25px;
    font-size: 20px;
    margin-bottom: 25px;
}

.cancelBtn {
    padding: 6px 1.6em;
    border-radius: 25px;
    font-weight: 300;
    border: 1px solid #3eb995;
    font-size: 1.1rem;
    color: #3eb995;
    cursor: pointer;
    height: 35px;

    &:hover,
    &:active {
        background-color: #3eb995;
        color: #fff;
    }
}

.choiceBtn {
    padding: 6px 1.6em;
    border-radius: 25px;
    font-weight: 300;
    border: 1px solid #3eb995;
    font-size: 1.1rem;
    color: #3eb995;
    cursor: pointer;
    height: 35px;
    margin-left: 12px;
    margin-right: 12px;

    &:hover,
    &:active {
        background-color: #3eb995;
        color: #fff;
    }
}

.startBtn {
    background-color: #3eb995;
    color: #fff;

    &:hover,
    &:active {
        background-color: #fff;
        color: #3eb995;
    }
}

.optInContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 7.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.popup {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 900px;
    position: relative;
    transition: all 1s ease-in-out;
    cursor: default;
    max-height: 90%;
    overflow: auto;
    max-width: 800px;
}

.closeBtn {
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #777;

    &:hover,
    &:focus {
        color: #3eb995;
    }
}

.heyyou {
    font-size: 50px;
    font-weight: lighter;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    font-family: 'Libre Franklin', sans-serif;
    justify-content: center;
    margin-bottom: 15px;
}

.message {
    font-size: 20px;
    font-weight: 200;
    color: #777;
    line-height: 1.7em;
    text-align: center;
    margin-bottom: 15px;
}

.OptIn {
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-align: center;
    text-align: left;
}

.SubOptIn {
    font-size: 15px;
    font-weight: 200;
    color: #777;
    line-height: 1em;
    margin-bottom: 15px;
    margin-top: 6px;
    text-align: left;
}

.logobig {
    margin: 1.5em 0;
    width: 30%;
    min-width: 500px;
    margin-bottom: 35px;
}

.btnLink {
    width: 150px;
    text-align: center;
    border: 2px solid #3eb995;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 20px;
    margin-top: 30px;
    font-size: 17px;
    text-decoration: none;
    background: #fff;
    color: #3eb995;
    font-weight: 100;
    font-family: 'Libre Franklin', sans-serif;
}

.btnLink:hover {
    background: #e7f4f0;
}

.btnBar {
    align-items: center;
    flex-direction: row;
    margin: 3em 0 6em;
}

.link {
    color: #928989;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: #76ccb2;
    }
}

.guidance {
    margin-top: -30px;
    margin-bottom: 15px;
}

p {
    margin-right: -10px;
    margin-bottom: -10px;
}
