.settingsButton {
    composes: grayActionButton from 'src/common-ui/elements.css';
    margin: auto;
}

.settingsHeader {
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}

.textSearchHeader {
    margin-top: 2em;
    text-align: left;
}
