@import url('/fonts/Inter/inter.css');

@value colors: '../../../common-ui/colors.css';
@value color4, color6 from colors;

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 140px;
}

.container * {
    &:focus {
        outline: none;
    }
}

.header {
    font-size: 1.5em;
    text-align: center;
    color: color4;
}

.content {
    font-size: 14px;
    text-align: center;
    color: color6;
    margin-top: -10px;
    font-weight: 400;
    line-height: 18px;
}

.btnBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btn {
    composes: CTA from '../../../common-ui/elements.css';
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 7.5px;
    width: 60px;
    border: none;
}

.btnDanger {
    composes: CTAwarning from '../../../common-ui/colors.css';
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 7.5px;
    border: none;
    width: 60px;

    &:hover {
        font-weight: bold;
    }
}
