.itemBtnBlacklisted {
    background-image: url('/img/ignore_active.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}

.blacklist {
    background-image: url('/img/ignore_blue.svg');
    background-repeat: no-repeat;
    background-size: 20px;
}
